//reneal Point Colors
$point_color_price : #c9000b; //상품가격 point-color
$point_color_txt : #c9000b; // 상품명 point-color
$point_color_bg : #c9000b; //상품 할인율 bg-color

/* font-color */
.fc01 {color:#333;}
.fc02 {color:#666;}
.fc03 {color:#999;}
.fc04 {color:$point_color_txt;}
