html{overflow-y:scroll;}
html,body{width:100%;height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{margin:0;padding:0;color:#666;font-family:'Nanum Gothic',sans-serif;font-size:13px;line-height:1.25em;-webkit-font-smoothing:antialiased;}
body {-webkit-text-size-adjust:none;}
ul,ol,li{list-style:none;}
em{font-style:normal}
input,select,button{vertical-align:middle}
img{vertical-align:top}
img,fieldset,iframe{border:0 none}
a{text-decoration:none; color:#666; cursor:pointer;}
li,p,dt,dd,div,span,td,th{word-break:break-all;}
.ib{display:inline-block;}
input , select {word-break:normal}
button {-webkit-border-radius:0; background:none; cursor:pointer; background:#fff; border:none;}
button::-moz-focus-inner {padding:0; border:0;} /* 파이어폭스 버튼 내부 여백 제거 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
textarea {border:1px solid #999; padding:9px 8px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-border-radius:0; -webkit-appearance:none; resize:none;}
input::-ms-clear{display:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
.safari caption {display:none;}/* 사파리 rowspan버그 */
strong{font-weight:800;}