@charset "utf-8";

/*input*/
input, textarea, select, checkbox, button {-webkit-appearance:none;appearance:none; border-radius:0;}

input[type="text"], input[type="password"] {padding:0; height:35px; line-height:37px; text-indent:10px; font-size:12px; color:#666; background:#fff; border:1px solid #bebebe;}
input[type="text"]:focus, input[type="password"]:focus {}
input[type="text"]:disabled, [type="password"]:disabled {}
input[type="text"].essential {} 
input[type="text"].essential:disabled {} 

input[type="radio"] {}
input[type="radio"]:checked {}
input[type="radio"]:disabled {}

input[type="checkbox"]{width:20px; height:20px; background:#fff; border:1px solid #bebebe;}
input[type="checkbox"]:checked {background:url("../../images/mobile/common/inp_chk.png") center center no-repeat; background-size:13px 10px;-webkit-background-size:13px 10px;}
input[type="checkbox"]:disabled {}

select{height:35px;padding:0 15px 0 7px;border: 1px solid #bbb;font-size:13px;line-height:33px;color: #222;-webkit-appearance: listbox;background:#fff url("../../images/mobile/common/bg_select.png") no-repeat right center;background-size:22px 6px;-webkit-background-size:22px 6px;}
select:disabled{height:35px;padding:0 15px 0 7px;border: 1px solid #bbb; font-size:13px; line-height:33px;color:#222;-webkit-appearance: listbox;background:#eee url("../../images/mobile/common/bg_select.png") no-repeat right center;background-size:22px 6px;-webkit-background-size:22px 6px;}
select::-ms-expand{display:none;}

/* button */
.btn_area {position:relative; margin:12px 0;}
/* buy type1 */
a.btn_line01, button.btn_line01 {display:inline-block; min-width:68px; height:30px; line-height:32px; font-size:12px; text-align:center; letter-spacing:-1px;}
.btn_line01.c01 {color:#666; border:1px solid #999; background:#fff;}
.btn_line01.c02 {color:#333; border:1px solid #666; background:#fff;}
.btn_line01.c03 {color:#a5794d; border:1px solid #cca77d;}
.btn_line01.c04 {color:#0162b1; border:1px solid #0162b1;}
.btn_line01.c05 {color:#c66; border:1px solid #c66;}

/* buy type2 */
a.btn_line02, button.btn_line02 {display:inline-block; min-width:66px; height:28px; line-height:30px; font-size:12px; text-align:center; letter-spacing:-1px;}
.btn_line02.c01 {color:#666; border:2px solid #999;}
.btn_line02.c02 {color:#333; border:2px solid #333;}
.btn_line02.c03 {color:#c66; border:2px solid #c66;}
.btn_line02.c04 {color:#a5794d; border:2px solid #cca77d;}
.btn_line02.c05 {color:#0162b1; border:2px solid #0162b1;}

/* buy type3 */
a.btn_brd01, button.btn_brd01 {display:block; height:30px; line-height:32px; color:#333; font-size:12px; text-align:center;}
.btn_brd01.c01 {border:1px solid #333; background:#ededed;}
.btn_brd01.c02 {border:1px solid #bbb; background:#fff;}
.btn_brd01.c03 {border:1px solid #c66; background:#fff;}
.btn_brd01.c04 {border:1px solid #a5794d; background:#fff;}
.btn_brd01.c05 {border:1px solid #0162b1; background:#fff;}

/* buy type4 */
a.btn_bg, button.btn_bg {display:block; height:32px; line-height:32px; color:#fff; font-size:13px; text-align:center;}
.btn_bg.c01 {background:#0162b1;}
.btn_bg.c02 {background:#cc6666;}
.btn_bg.c03 {background:#333;}
.btn_bg.c04 {background:#ededed; color:#333;}

/* buy type5 */
a.btn_bg02, button.btn_bg02 {display:block; height:34px; line-height:34px; color:#fff; font-size:13px; text-align:center;}
.btn_bg02.c01 {background:#0162b1;}
.btn_bg02.c02 {background:#cc6666;}
.btn_bg02.c03 {background:#333;}

/* buy type6 */
a.btn_bg03, button.btn_bg03 {display:block; height:50px; line-height:50px; color:#fff; font-size:16px; text-align:center;}
.btn_bg03.c01 {background:#0162b1;}
.btn_bg03.c02 {background:#cc6666;}
.btn_bg03.c03 {background:#333;}

/* btn list style */
.btn_list02 {margin:0 6px 0 0;}
.btn_list02:after {display:block; clear:both; content:'';}
.btn_list02 li {float:left; width:50%;}
.btn_list02 li a {margin-left:6px;}

.btn_list03 {margin:0 6px 0 0;}
.btn_list03:after {display:block; clear:both; content:'';}
.btn_list03 li {float:left; width:33.3%;}
.btn_list03 li a {margin-left:6px;}

.btn_list04 {margin:0 6px 0 0;}
.btn_list04:after {display:block; clear:both; content:'';}
.btn_list04 li {float:left; width:25%;}
.btn_list04 li a {margin-left:6px;}

/* dim */
.dimlay {display:none; position:fixed; top:0; left:0; z-index:100; width:100%; height:100%; background:url(../../images/mobile/common/dim_bg.png) repeat 0 0; background-size:1px 1px;}

/* layer popup */
.layer_fix {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:#fff; z-index:100;}
.layer_fix .pop_tit {position:fixed; top:0; left:0; width:100%; height:45px; line-height:45px; text-align:center; font-size:16px; font-weight:bold; color:#333; border-bottom:1px solid #132347; background:#fff;}
.layer_fix .pop_con {position:relative; padding:60px 12px; height:80%; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.layer_fix .btn_close {position:fixed; right:14px; top:14px; width:17px; height:17px; z-index:9999; background:url(../../images/mobile/common/pop_close01.png) no-repeat; background-size:17px 17px;}
.layer_fix .btn_close span {width:15px; height:15px; font-size:0; text-indent:-9999px;}

.layer_pop {display:none; position:fixed; left:0; top:0; width:100%; z-index:9999;}
.layer_pop .btn_close {position:absolute; right:12px; top:12px; width:17px; height:17px; z-index:9999; background:url(../../images/mobile/common/pop_close02.png) no-repeat; background-size:17px 17px;}
.layer_pop .btn_close span {width:15px; height:15px; font-size:0; text-indent:-9999px;}
.layer_pop .pop_con {position:relative; margin:50px; padding:12px; background:rgba(17, 22, 37, 0.85);}
.layer_pop .pop_con .pop_tit {color:#fff;}
.layer_pop .pop_con .pop_txt {color:#fff; font-size:13px;}

/* table */
.tbl_address {width:100%;}
.tbl_address thead {}
.tbl_address th {}
.tbl_address td {}

.tbl_list01 {width:100%;}
.tbl_list01 thead {}
.tbl_list01 th {}
.tbl_list01 td {}
