@charset "utf-8";

@import "color";
// 고객센터

// 자주하는 질문
.set_my_faq{padding:0 0 0 30px;background:#f3f3f3;}
.sch_faq{padding:0 0 0 80px;background:#f3f3f3;
	&:after{display:block;clear:both;content:'';}
	dt{float:left;
		span{display:block;width:150px;height:120px;font-size:0;line-height:0;text-indent:-9999px;background:url(../../images/pcweb/cs/txt_faq.gif) no-repeat;}
	}
	dd{float:left;width:590px;margin:0 0 0 18px;
		.sch_box{margin:33px 0 0 0;}
		.input{padding:0 10px;width:285px;height:31px;line-height:31px;border:1px solid #e8e8e8;border-right:none;}
		button{display:inline-block;width:67px;height:33px;line-height:33px;font-size:14px;color:#fff;font-weight:bold;background:#242424;}
	}
	.sch_kwd{width:375px;margin:10px 0 0;text-align:center;
		a{padding:0 15px;color:#333;
			+ a{background:url("../../images/pcweb/common/bu_hd_disp.png") no-repeat 0 3px;}
			&.fir{background:none;}
		}
	}
}
.mypage_faq{border-top:1px solid #adadad;
	dl{position:relative;}
	dt{padding:0 0 0 40px;border-bottom:1px solid #ccc;height:44px;line-height:44px;background:url('../../images/pcweb/common/ico_ques.png') 10px 12px no-repeat;cursor:pointer;
		.ico_arr{position:absolute;top:16px;right:10px;display:inline-block;width:11px;height:8px;font-size:0;line-height:0;text-indent:-9999px;background:url(../../images/pcweb/cs/ico_arrow_faq.png) no-repeat;}
	}
	dd{display:none;padding:20px 40px;line-height:20px;border-bottom:1px solid #ccc;background:#f3f3f3 url('../../images/pcweb/common/ico_ans.png') 10px 20px no-repeat;word-break:keep-all;}
	dt.selected .ico_arr{background-position:0 -8px;}
}
.mypage_qmenu{
	ul{border:2px solid #a2a2a2;background:url(../../images/pcweb/cs/mypage_qmenu.png) 0 45px no-repeat;
		&:after{display:block;clear:both;content:'';}
	}
	li{float:left;width:172px;height:166px;border-left:1px dashed #a2a2a2;text-align:center;
		&:first-child{border:none;width:174px;}
		a{display:inline-block;margin:35px 0 0;padding:70px 0 0;}
		&.q1 a{margin-top:28px;}
	}
}
.tbl_notice{padding:10px 0;border-top:1px solid #000;border-bottom:1px solid #ddd;
	table{width:100%;}
	td{padding:5px 0;color:#333;
		a{padding:0 0 0 22px;background:url(../../images/pcweb/common/ico_dot05.gif) 10px 6px no-repeat;}
	}
}
.ico_arrow09 span{padding-right:10px;color:#111625;font-size:12px;background:url('../../images/pcweb/common/ico_arrow08.gif') right center no-repeat;}
.tit_h2_dot.boN{border:none;}
.faq_type{
	ul{border-top:1px solid #ccc;border-left:1px solid #ccc;
		&:after{display:block;clear:both;content:'';}
	}
	li{position:relative;float:left;width:20%;height:48px;
		a{display:block;padding:15px 1px 1px 12px;height:32px;border:1px solid #ccc;border-top:none;border-left:none;
			&:hover,&:focus{padding:14px 0 0 11px;color:#fff;border:1px solid #454545;background:#454545;}
		}
		&.selected a,&.on a{padding:14px 0 0 11px;color:#fff;border:1px solid #454545;background:#454545;}
		a span{display:inline-block;line-height:16px;height:16px;font-size:14px;padding:1px 1px 1px 22px;background:url(../../images/pcweb/cs/ico_faq_type.png) no-repeat;
			&.t1{background-position:0 0;}
			&.t2{background-position:0 -35px;}
			&.t3{background-position:0 -70px;}
			&.t4{background-position:0 -105px;}
			&.t5{background-position:0 -139px;}
			&.t6{background-position:0 -174px;padding:1px 0 1px 21px;}
			&.t7{background-position:0 -209px;padding:1px 0 1px 21px;}
			&.t8{background-position:0 -244px;}
			&.t9{background-position:0 -280px;}
			&.t10{background-position:0 -315px;padding:1px 0 1px 21px;}
		}
		&.on span.t1,&.selected span.t1{background-position:0 -17px;}
		a{
			&:hover span.t1,&:focus span.t1{background-position:0 -17px;}
		}
		&.on span.t2,&.selected span.t2{background-position:0 -52px;}
		a{
			&:hover span.t2,&:focus span.t2{background-position:0 -52px;}
		}
		&.on span.t3,&.selected span.t3{background-position:0 -88px;}
		a{
			&:hover span.t3,&:focus span.t3{background-position:0 -88px;}
		}
		&.on span.t4,&.selected span.t4{background-position:0 -123px;}
		a{
			&:hover span.t4,&:focus span.t4{background-position:0 -123px;}
		}
		&.on span.t5,&.selected span.t5{background-position:0 -154px;}
		a{
			&:hover span.t5,&:focus span.t5{background-position:0 -154px;}
		}
		&.on span.t6,&.selected span.t6{background-position:0 -192px;}
		a{
			&:hover span.t6,&:focus span.t6{background-position:0 -192px;}
		}
		&.on span.t7,&.selected span.t7{background-position:0 -227px;}
		a{
			&:hover span.t7,&:focus span.t7{background-position:0 -227px;}
		}
		&.on span.t8,&.selected span.t8{background-position:0 -262px;}
		a{
			&:hover span.t8,&:focus span.t8{background-position:0 -262px;}
		}
		&.on span.t9,&.selected span.t9{background-position:0 -297px;}
		a{
			&:hover span.t9,&:focus span.t9{background-position:0 -297px;}
		}
		&.on span.t10,&.selected span.t10{background-position:0 -333px;}
		a{
			&:hover span.t10,&:focus span.t10{background-position:0 -333px;}
		}
		.depth2{display:none;position:absolute;top:48px;left:0;padding:15px 0;width:172px;border:1px solid #454545;background:#fff;z-index:1;
			a{padding:5px 15px;height:auto;border:none;font-size:13px;color:#999;background:#fff;
				&:hover,&:focus{color:#333;text-decoration:underline;}
			}
		}
		&.on .depth2{display:block;}
	}
}
.mypage_faq_nodata{margin:100px 0 85px;}

// 1:1친절상담
.counsel_box{padding:15px 0;border:2px solid #a2a2a2;
	dl{padding:0 30px;
		&:after{display:block;clear:both;content:'';}
	}
	dt,dd{float:left;line-height:28px;margin:5px 0;}
	dt{width:78px;padding:0 12px;color:#000;font-weight:800;background:url(../../images/pcweb/common/ico_dot02.gif) 0 12px no-repeat;}
	dd{
		.counsel_sel01{width:218px;}
		.counsel_sel02{width:217px;}
		.btn04{width:107px;}
	}
}
.data_table01.counsel01{
	.phone_inputs{width:40%;}
	.email_inputs{
		.input_txt{width:17.5%;}
		select{width:20%;}
	}
}
.email_inputs02 label{margin-left:15px;
	&:first-child{margin-left:0;}
}
.counsel_terms_chk{margin:20px 0;text-align:right;
	label{margin-right:15px;}
}

// 고객센터 - layer popup -조회기간
.box_period02{padding:20px 15px;border:2px solid #a2a2a2;
	.scont{
		&:after{display:block;content:'';clear:both;}
		.stit{float:left;display:block;width:70px;height:60px;margin-top:8px;color:#333;}
	}
	.set_grade_select02{float:left;margin-bottom:10px;
		.attr_grade > li{width:64px;
			a{line-height:26px;}
		}
	}
	.inputs_date{float:left;}
	.gap{float:left;margin:6px 6px 0;}
	.btn_inquiry{float:left;margin-left:5px;}
}
.lay_cont .tit_srh{padding:0 0 0 6px;color:#333;}
.layer_pop.no_data02{height:429px;
	.no_data_txt{font-size:13px;font-weight:400;}
}
.box_period03{padding:0 0 15px;border-bottom:1px solid #ddd;
	.input_txt{width:399px;color:#666;}
	button{margin-left:5px;width:52px;height:28px;line-height:28px;color:#fff;background:#333;font-weight:800;}
}
.counsel_ok{padding:100px 0;border:1px solid #ddd;
	.data_txt{vertical-align:middle;text-align:center;font-size:18px;line-height:24px;}
}

// 복지제도 안내
.benefit_tab{margin:40px 0;padding:0 30px 0 10px;
	.tit h3{color:#333;font-size:16px;margin:0 0 25px;font-weight:800;
		&.mb10{margin-bottom:10px;}
	}
	.txt{line-height:20px;}
	.txt_box_line{padding:14px 0 8px;border-top:1px solid #ddd;}
}
.benefit_faq{
	dl{margin:10px 0 25px;}
	dt{margin:0 0 10px;color:#333;font-size:14px;font-weight:800;}
	dd{padding:0 15px;line-height:20px;}
}
.benefit_box{margin:10px 0;border:1px solid #ddd;
	ul{display:table;width:100%;height:100%;}
	li{position:relative;display:table-cell;vertical-align:middle;width:50%;
		&.bg_box{background:#f3f3f3;
			&:before{display:block;content:'';width:12px;height:23px;position:absolute;top:50%;margin-top:-11px;left:-1px;background:url(../../images/pcweb/cs/ico_benefit.gif) 0 center no-repeat;}
		}
		.txt_box{padding:20px;}
		.brd_r{border-right:1px solid #ddd;
			&:after{background:#f3f3f3 url(../../images/pcweb/cs/ico_benefit.gif) 0 center no-repeat;}
		}
	}
	p{padding:0 8px;font-size:14px;}
	.tit{color:#333;font-weight:800;background:url(../../images/pcweb/common/ico_dot02.gif) 0 8px no-repeat;}
	.txt_c07{font-weight:800;}
}
.benefit_process{width:740px;margin:35px auto 0;
	ul{background:url(../../images/pcweb/cs/benefit_img03.jpg) no-repeat;
		&:after{display:block;clear:both;content:'';}
	}
	li{float:left;width:25%;padding:125px 0 0;color:#333;font-size:15px;font-weight:800;text-align:center;}
}

 // 2017.08.21 복지제도 안내 페이지
.benefit{max-width:870px;}
.benefit_tab{
	.tit{margin:45px 0 0;
		&:first-child{margin:0;}
		h3{margin-bottom:14px;}
		&.faq{margin:57px 0 0;}
		&.save{margin:32px 0 0;}
		&.faq{&:first-child{margin:37px 0 0;}
			h3{margin-bottom:21px;}
		}
	}
	.txt{.point{color:$point_color_txt;font-size:16px;
			&.small{font-size:13px;}
			&.underline{border-bottom:1px solid $point_color_txt;}
		}
		li{line-height:20px;}
	}
	.img_box.how{margin:56px 0 0;text-align:center;}
	.board01.wf{margin:16px -30px 0 -10px;
		td{height:44px;padding:0 5px;text-align:center;}
		th,td{border-left:1px solid #ddd;}
		th:first-child,td:first-child{border-left:0;}
		.point_num{display:block;padding:0 69px 0 0;font-family:Verdana;text-align:right;letter-spacing:-0.05em;
			&.inline{display:inline;padding:0;}
		}
	}
}
.benefit_process ul{background:url(../../images/pcweb/cs/benefit_img04.png) no-repeat;}
.benefit_faq dd{margin-top:5px;}
.txt_en{font-family:Verdana;}
