@charset "utf-8";

@import "color";

// HEADER
.wrapper{min-width:1080px;}
.header{position:static;width:100%;min-width:1080px;height:174px;top:-56px;border-bottom:2px solid #242424;background:url('../../images/pcweb/common/bg_tnb.png') 0 0 repeat-x;z-index:9999;transition:top 0.3s;-webkit-transition:top 0.3s;
	.head{position:relative;width:1080px;height:174px;margin:0 auto;}
	h1{position:absolute;left:0;top:81px;width:244px;height:26px;
		a{display:block;}
	}
	.hd_mall{float:left;position:relative;z-index:4004;    /*position:absolute;left:0;top:0;*/height:40px;
		.tit{display:none;}
	}
}

// HEADER - header mall select
.mall_select{display:block;
	&.on{display:block!important;}
	li{float:left;height:40px;
		a{display:block;height:40px;text-indent:-1000em;background:url('../../images/pcweb/common/img_tab_mall.png') 0 0 no-repeat;}
		&.el a{width:126px;background-position:0 0;}
		&.mh a{width:118px;background-position:-133px 0;
			.ir{display:none;display:block;}
		}
		&.ki a{width:119px;background-position:-250px 0;}
	}
}
.mall_select02{float:left;position:relative;z-index:4004;
	ul:after{display:block;content:'';clear:both;}
	li{float:left;margin-left:20px;padding-left:20px;background:url(../../images/pcweb/header/bu_bs01.gif) no-repeat 0 50%;
		&:first-child{margin-left:0;padding-left:0;}
		a{display:block;}
	}
}

// HEADER - header brand select
.bs_selectbox{float:left;padding:8px 0 8px 10px;
	&.hover .brand_select{    /*display:block;*/}
	.bs_sel_tit a{display:block;height:24px;padding:0 25px 0 0;color:#cac8c8;background:url('../../images/pcweb/header/bu_brand_arrow.png') no-repeat 100% -23px;font-size:11px;line-height:24px;font-family:"Verdana","Nanum Gothic",sans-serif;font-weight:bold;}
	&.hover .bs_sel_tit a{background-position:100% -2px;}
	.bs_sel_tit a span{padding:0 0 0 9px;}
}

// [V2] : 브랜드 선택 리뉴얼
.brand_select{display:none;position:absolute;top:40px;left:0;right:0;z-index:4005;width:1080px;background:#fff;border-bottom:2px solid #222;
	dl{position:relative;padding:19px 0  20px;border-top:1px solid #ededed;
		&:first-child{padding:30px 0 20px;border:0;
			dt{top:29px;}
		}
		dt{position:absolute;top:19px;left:0;width:100px;height:36px;padding:0 29px 0 24px;line-height:17px;color:#000;font-size:13px;font-weight:bold;letter-spacing:0;
			span{display:table-cell;height:36px;vertical-align:middle;color:inherit;}
		}
		dd{padding-left:152px;
			ul{margin:-10px 0 0 -10px;
				&:after{display:block;content:'';clear:both;}
				li{float:left;width:94px;height:36px;margin:10px 0 0 10px;
					a{position:relative;display:block;
						img{width:100%;height:100%;}
					}
					.sel{display:block;position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #242424;text-indent:-9999px;
						em{display:block;position:absolute;top:-5px;right:-5px;width:19px;height:18px;background:url('../../images/pcweb/header/bu_brand_sel.png') no-repeat 0 0;}
					}
				}
			}
		}
	}
	.ldeco{position:absolute;top:0;left:-300%;right:100%;bottom:-2px;background:#fff;border-bottom:2px solid #000;}
	.rdeco{position:absolute;top:0;left:100%;right:-300%;bottom:-2px;background:#fff;border-bottom:2px solid #000;}
}
// .brand_select{display:none;position:absolute;top:40px;left:0;right:0;z-index:4005;width:1080px;background:#fff;border-bottom:2px solid #222;
// 	ul{padding:6px 50px 20px;
// 		&:after{display:block;content:'';clear:both;}
// 	}
// 	li{display:none;float:left;width:130px;height:50px;padding:12px 5px 0;
// 		+ li + li + li{display:block;}
// 		a{position:relative;display:block;
// 			img{width:130px;height:50px;}
// 		}
// 		.sel{display:block;position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #242424;text-indent:-9999px;
// 			em{display:block;position:absolute;top:-5px;right:-5px;width:19px;height:18px;background:url('../../images/pcweb/header/bu_brand_sel.png') no-repeat 0 0;}
// 		}
// 	}
// 	.ldeco{position:absolute;top:0;left:-300%;right:100%;bottom:-2px;background:#fff;border-bottom:2px solid #000;}
// 	.rdeco{position:absolute;top:0;left:100%;right:-300%;bottom:-2px;background:#fff;border-bottom:2px solid #000;}
// }
.header_fix .brand_select li{display:block;}

// HEADER - header option menu
.hd_tnb{position:absolute;right:0;top:0;z-index:4004;height:28px;padding-top:12px;
	dd{float:left;padding-left:11px;margin-left:10px;font-size:11px;line-height:16px;color:#fff;background:url('../../images/pcweb/common/bu_tnb.png') no-repeat 0 3px;}
	dt + dd{padding-left:0;margin-left:0;background:none;}
	dd{
		a{display:inline-block;color:#fff;
			.num{overflow:hidden;display:inline-block;height:16px;margin:-1px 0 0 4px;padding-left:6px;vertical-align:top;background:url('../../images/pcweb/common/bg_ct_cnt_02.png') 0 0 no-repeat;
				b{display:inline-block;height:16px;padding-right:6px;font-size:10px;line-height:16px;color:#fff;font-family:Verdana;text-align:center;background:url('../../images/pcweb/common/bg_ct_cnt.png') right 0 no-repeat;}
			}
		}
		.off,.on{display:inline-block;width:34px;height:16px;font-size:10px;line-height:14px;font-family:Verdana;text-align:center;vertical-align:middle;letter-spacing:-1px;}
		.off{color:#ccc;background:url('../../images/pcweb/common/bg_dir_off.png') center center no-repeat;letter-spacing:0;}
		.on{color:#fff;background:url('../../images/pcweb/common/bg_dir_on.png') 5px center no-repeat;}
	}
	.visit_on{position:absolute;right:-8px;top:10px;padding:20px 0 0;}
}
.header_fix .hd_tnb .visit_on{top:16px;}

// HEADER - header search
.hd_sch{position:absolute;left:348px;top:76px;width:384px;height:38px;z-index:4002;
	.sch_wrap{position:relative;z-index:4004;}
	.sch_box{width:382px;height:36px;border:1px solid #000;background:#fff;}
	.input{width:347px;height:14px;padding:10px 0 10px 10px;border:0;font-size:13px;    /*line-height:34px;*/color:#666;
		&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
	}
	.sch_del{display:none;position:absolute;right:47px;top:12px;width:14px;height:14px;text-indent:-9999px;cursor:pointer;background:url("../../images/pcweb/common/btn_sch_del.png") no-repeat 50% 50%;}
	.sch_btn{position:absolute;right:0;top:0;display:block;width:45px;height:38px;border:0;cursor:pointer;text-indent:-9999px;background:url("../../images/pcweb/common/btn_hd_sch.png") no-repeat 50% 50%;}
	.sch_keyword{display:none;position:absolute;top:35px;left:0;width:382px;padding-top:1px;border:1px solid #000;border-top:none;background:#fff url("../../images/pcweb/common/bg_sr_bdt.gif") 0 0 repeat-x;z-index:33;
		&:after{display:block;clear:both;content:'';position: absolute;bottom: -20px;left: -2px;width: 100%;height: 20px;border: 2px solid #000;border-top: none;border-radius: 0 0 20px 20px;background: #fff;overflow: hidden;}
		.f_keyword{position:relative;padding:49px 0 15px 0;
			dt{position:absolute;top:0;left:192px;width:191px;height:40px;
				button{display:block;width:191px;height:40px;border:0;border-bottom:1px solid #ddd;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
					&.on{border-bottom:0;color:#333;font-weight:bold;background:#fff;}
				}
				&:first-child{left:0;width:191px;border-right:1px solid #ddd;color:#ff0000;font-weight:bold;
					button{width:191px;}
				}
			}
			dd{display:none;}
			dt:nth-child(3) + dd{display:block;}
			dd{
				li{position:relative;height:30px;padding:0 20px;
					a{display:block;margin-right:100px;overflow:hidden;height:30px;font-size:13px;line-height:30px;color:#333;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;
						&:focus span{text-decoration:underline;}
					}
					.cnt{position:absolute;top:0;right:20px;display:inline-block;width:100px;text-align:right;font-family:"tahoma","Verdana","Nanum Gothic",sans-serif;font-style:italic;}
					a .num{display:inline-block;width:15px;height:15px;margin:-4px 15px 0 0;font-size:13px;line-height:14px;color:#707070;text-align:center;vertical-align:middle;font-family:"tahoma","Verdana","Nanum Gothic",sans-serif;font-style:italic;}
					&.rank a{color:#c9000b;
						.num{color:#c9000b;}
					}
				}
				ul li a{margin-right:30px;}
				li .del{position:absolute;right:20px;top:6px;width:17px;height:17px;border:0;cursor:pointer;text-indent:-9999px;background:url("../../images/pcweb/common/btn_word_del3.png") no-repeat 0 0;}
				.s_del{height:18px;margin:14px 20px 0;padding:9px 0 0 0;}
			}
			.msg{clear:both;width:346px;margin:0 auto;padding:107px 0 39px;font-size:13px;color:#666;text-align:center;background:url("../../images/pcweb/common/ico_no_data01.png") no-repeat center 31px;
				&:first-child{border-bottom:1px solid #eee;}
			}
			// common.scss로 이관
			// .k_recent{margin:15px 0 0;padding:0 20px;
			// 	.tit{display:block;margin-bottom:11px;font-size:13px;color:#333;letter-spacing:-0.05em;}
			// 	ul{
			// 		&:after{display:block;clear:both;content:"";}
			// 		li{float:left;width:115px;height:115px;margin:0;padding:0;
			// 			a{width:100%;height:100%;margin:0;}
			// 		}
			// 	}
			// 	.all_view{margin-top:13px;
			// 		&:after{display:block;clear:both;content:"";}
			// 		a{float:right;height:16px;line-height:16px;margin-left:auto;padding:0 12px 0 0;background:url("../../images/pcweb/common/ico_arrow36.png") no-repeat right 2px;}
			// 	}
			// }
		}
		.s_keyword{overflow:hidden;padding:9px 0 15px 0;
			li{position:relative;height:30px;padding:0 20px;
				a{display:block;overflow:hidden;height:30px;font-size:13px;line-height:30px;color:#666;
					b{color:$point_color_txt;}
				}
			}
		}
		.s_del{height:18px;margin:0 20px;padding:20px 0 0 0;border-top:1px solid #ddd;text-align:right;
			button{display:inline-block;height:17px;padding:0 0 0 10px;border:0;font-size:12px;line-height:17px;color:#707070;cursor:pointer;}
		}
		.s_keyword .msg{clear:both;padding:35px 20px;text-align:center;font-size:13px;line-height:18px;color:#666;}
		.rl_pot{right:20px;}
	}
}

// HEADER - header banner
.hd_bn{position:absolute;right:0px;top:60px;width:235px;height:78px;
	.bt_hd_btns{position:absolute;right:0px;top:36px;*zoom:1;
		&:after{display:block;clear:both;content:"";}
		.bt_hd_prev{display:block;float:left;width:13px;height:13px;background:#fff url('../../images/pcweb/common/btn_header_btns.gif') 0 0 no-repeat;text-indent:-9999px;}
		.bt_hd_next{display:block;float:left;width:12px;height:13px;background:#fff url('../../images/pcweb/common/btn_header_btns.gif') -13px 0 no-repeat;text-indent:-9999px;}
	}
	.bn_lst{overflow:hidden;width:200px;height:70px;
		.swiper-wrapper{position:relative;}
		li{float:left;width:238px;height:70px;}
	}
}

// HEADER - header category
.hd_catg{position:absolute;left:0;top:140px;width:180px;height:40px;text-align:center;background:transparent url("../../images/pcweb/common/bu_hd_disp.png") no-repeat 0 12px;
	.catg_bt{margin:0;padding:0 20px 0 0;border:0;cursor:pointer;height:34px;font-size:14px;line-height:34px;color:#242424;font-weight:800;letter-spacing:-1px;background:url("../../images/pcweb/common/bu_catg_all.png") no-repeat right center;
		&.on{background:url("../../images/pcweb/common/bu_catg_all_on.png") no-repeat right center;}
	}
}
.hd_disp{position:absolute;left:181px;top:140px;height:34px;background:transparent url("../../images/pcweb/common/bu_hd_disp.png") no-repeat right center;
	dd{position:relative;float:left;width:128px;height:34px;font-size:14px;line-height:34px;color:#000;text-align:center;font-weight:800;letter-spacing:-1px;background:url("../../images/pcweb/common/bu_hd_disp.png") no-repeat 0 center;
		a{color:#000;}
		&.dd{.spc_bt{display:inline-block;padding-right:18px;background:url("../../images/pcweb/common/bu_catg_off.png") right center no-repeat;}
			&.active{width:124px;margin-top:-2px;border:2px solid #242424;border-bottom:none;background:none;
				.spc_bt{background-image:url("../../images/pcweb/common/bu_catg_on.png");}
			}
		}
	}
}

// 설 선물 한시적 추가

.hd_zone{position:absolute;right:0;top:140px;width:132px;height:34px;text-align:center;font-size:14px;line-height:34px;font-weight:800;letter-spacing:-1px;background:url("../../images/pcweb/common/bu_hd_disp.png") no-repeat right center;
	a{padding:0 21px 0 0;color:#e46832;height:40px;background:url("../../images/pcweb/common/bu_hd_zone.png") no-repeat right center;}
}

// HEADER - category all
.catg_wrap{
	.catg_lyr{display:none;position:absolute;top:34px;left:0px;width:1076px;border:2px solid #242424;background:#fff;z-index:4001;}
	.catg_all{position:relative;overflow:auto;overflow-x:hidden;width:1075px;height:500px;padding:0 0 16px 1px;
		ul{clear:both;}
		li{float:left;overflow:hidden;width:138px;padding:0 0 0 35px;
			&:first-child{padding-left:30px;}
			dl{min-height:184px;text-align:left;}
		}
		dl{
			dt{overflow:hidden;height:33px;padding-top:10px;margin-bottom:7px;border-bottom:1px solid #ddd;font-size:14px;line-height:33px;color:#132347;font-weight:bold;
				a{display:block;max-width:116px;margin-right:7px;padding-right:15px;color:#242424;background:url('../../images/pcweb/common/ico_link_arrow01.gif') no-repeat right 10px;overflow:hidden;
					&:hover{text-decoration:none;background:url('../../images/pcweb/common/ico_link_arrow02.gif') no-repeat right 10px;color:$point_color_txt;}
				}
			}
			&.spc dt{color:#e46832;}
			dd{padding:1px 0;font-size:12px;
				a{.flag_new{display:inline-block;margin-left:2px;width:12px;height:15px;background:url('../../images/pcweb/common/ico_new01.png') 0 center no-repeat;line-height:31px;text-indent:-9999px;vertical-align:top;}
				color:#4a4a4a;}
			}
			a:hover{text-decoration:underline;}
		}
	}
	.catg_lyr .bt_close{position:absolute;right:-36px;bottom:-2px;display:block;width:34px;height:34px;border:0;cursor:pointer;text-indent:-9999px;z-index:1;background:url("../../images/pcweb/common/btn_lyr_cls.png") no-repeat 0 0;}
}

.header{
	.spc_lyr{display:none;overflow:hidden;position:absolute;top:34px;left:-2px;right:-2px;z-index:32;border:2px solid #242424;border-top:none;background:#fff;}
	.active .spc_lyr{display:block;}
	.spc_lyr .spc_all{margin:0 15px;padding:10px 6px;border-top:1px solid #ddd;
		li{overflow:hidden;height:25px;text-align:left;font-weight:normal;
			a{font-size:13px;line-height:25px;color:#4a4a4a;background:none;
				&:hover,&:focus{text-decoration:underline;color:#242424;font-weight:800;}
			}
		}
	}
}

// HEADER - fixed
.header_fix{
	.header{position:fixed;top:0;height:56px!important;border-bottom:0;background:url('../../images/pcweb/common/bg_header_fix.png') 0 0 repeat-x;}
	#content{margin-top:56px;}
	.head{height:56px!important;}
	h1{display:none;}
	.hd_mall{float:left;position:relative;left:0;top:0;width:auto;height:56px;margin:0 0 0 48px;
		.btn_home{float:left;display:block;margin:0 9px 0 0;}
		.btn_mall_sel{position:absolute;top:0;right:-10px;display:block;width:28px;height:46px;background:url('../../images/pcweb/common/bg_repeat.gif') 0 0 repeat;}
		.tit{position:relative;z-index:4004;display:block;}
	}
	.mall_select{display:none;position:absolute;left:-2px;top:40px;width:160px;padding-top:8px;border-bottom:2px solid #000;border-top:0;background:url("../../images/pcweb/common/bg_hd_tab.png") no-repeat 0 0;z-index:101;
		li{clear:both;float:none;width:156px;height:40px;border-left:2px solid #000;border-right:2px solid #000;background:#fff;
			a{display:block;width:156px;height:38px;text-indent:-1000em;background:url('../../images/pcweb/common/img_tab_mall_fix.png') 0 0 no-repeat;}
			&.el a{width:156px;background-position:0 0;}
			&.mh a{width:156px;background-position:0 -38px;}
		}
	}
	.mall_select02{display:none;}
	.hd_tnb{position:absolute;right:75px;height:24px;padding-top:20px;
		dd{padding-left:10px;margin-left:9px;}
	}
	.hd_disp,.hd_bn{display:none;}
	.hd_sch{position:static!important;float:left;width:324px;height:32px;margin:12px 0 0 0;
		.sch_wrap{position:relative;width:324px;}
		.sch_box{height:32px;}
		.input{width:267px;height:18px;padding:5px 0 5px 10px;border:0;font-size:12px;      /*line-height:28px;*/color:#666;}
	}
}

.ie8 .header_fix .hd_sch .input{height:14px;padding-top:7px;padding-bottom:7px;}
.header_fix{
	.hd_sch{
		.sch_del{top:8px;}
		.sch_btn{height:32px;}
	}
	.hd_catg{position:absolute;left:0;top:0px;z-index:4004;width:38px;height:56px;background:none;
		.catg_bt{width:40px;height:56px;text-indent:-1000em;background:url("../../images/pcweb/common/btn_hd_catg.png") no-repeat 0 0;
			&.on{background:url("../../images/pcweb/common/btn_hd_catg.png") no-repeat 0 0;}
		}
	}
	.hd_zone{position:absolute;right:0;top:0;width:auto;height:56px;padding:0;font-size:13px;line-height:56px;background:none;
		a{height:56px;padding-right:10px;background:url("../../images/pcweb/common/bu_hd_zone.png") no-repeat right center;}
	}
	.sch_keyword{top:31px;left:0;width:322px;
		.f_keyword dt{left:162px;width:160px;
			button{width:160px;}
			&:first-child{left:0;width:161px;}
		}
	}
	.catg_lyr{top:46px;}
	.sch_keyword .f_keyword dt:first-child button{width:161px;}
	.brand_select{top:56px;}
	.bs_selectbox{float:left;padding:0 10px 0 0;width:25px;cursor:pointer;
		&.hover .brand_select{display:block;}
		.bs_sel_tit{border:none;padding-right:5px;
			a{height:56px;padding:0 10px;width:10px;background:url('../../images/pcweb/header/bu_fixed_arrow.png') 10px 0 no-repeat;font-size:12px;line-height:56px;font-family:"Verdana","Nanum Gothic",sans-serif;font-weight:normal;color:#fefefe;}
		}
		&.hover .bs_sel_tit a{background-position:10px -56px;}
		.bs_sel_tit a span{display:none;padding:0;border-right:none;}
	}
	.brand_select{top:56px;
		// ul{padding:6px 50px 20px;
		// 	&:after{display:block;content:'';clear:both;}
		// }
		// li{float:left;width:130px;height:50px;padding:12px 5px 0;
		// 	a{position:relative;display:block;
		// 		img{width:130px;height:50px;}
		// 	}
		// 	.sel{display:block;position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #242424;text-indent:-9999px;
		// 		em{display:block;position:absolute;top:-5px;right:-5px;width:19px;height:18px;background:url('../../images/pcweb/header/bu_brand_sel.png') no-repeat 0 0;}
		// 	}
		// }
	}
	.catg_wrap .catg_lyr{top:56px;}
}


#content{position:relative;width:1080px;min-height:900px;margin:0 auto;padding-top:50px;
	&.layout_wide{width:auto;}
	&.layout_wide02{width:100%;}
	&.layout_h{min-height:200px;}
}

// overpass 단 별로 위치 이동하는 기능 달릴 시
// 100% 구조
.main #content{width:100%;padding:0;margin:0;}
#footer{margin-top:150px;background:#fff;
	.footer_bnr{position:relative;
		a{display:block;width:1080px;margin:0 auto;text-align:center;margin-bottom:-1px;}
		img{height:120px;}
	}
	.btn_ftb_close{position:absolute;right:26px;top:26px;width:28px;height:27px;background:url('../../images/pcweb/common/bg_hd_t_bn.png') center center no-repeat;text-indent:-9999px;}
}
.foot_opt_area{}
.foot_section{width:1080px;margin:0 auto;border-top:1px solid #ddd;}
.foot_opt_list{display:block;width:1080px;overflow:hidden;margin:0 auto;padding:14px 0 15px;border-bottom:1px solid #dbdbdb;text-align:center;
	li{display:inline-block;
		a{display:inline-block;padding:0 11px 0 14px;background:url('../../images/pcweb/common/bg_foot_opt.gif') 0 center no-repeat;font-size:12px;color:#333;}
		&:first-child a{background:none;}
	}
}
.foot_section{
	.cont{position:relative;padding:36px 0 30px;width:1080px;margin:0 auto;*zoom:1;
		&:after{display:block;clear:both;content:"";}
	}
	.logo_footer{float:left;width:202px;text-align:center;
		a{display:block;margin-bottom:22px;}
		.logo_footer_qrcode{margin-left:4px;}
		.foot_app_btn{width:98px;height:28px;margin:20px 0 0;background:url('../../images/pcweb/common/btn_app.png') no-repeat;}
	}
}
.foot_context{float:left;position:relative;height:150px;padding-left:12px;
	.foot_view{width:590px;margin-top:-4px;margin-bottom:14px;
		li{display:inline-block;line-height:20px;margin-right:11px;vertical-align:middle;font-size:12px;
			.btn07.c01{margin-left:10px;
				span{line-height:18px;}
			}
			&.mail{width:100%;}
		}
	}
	.copyright{font-family:Verdana;color:#333;}
}
.foot_side_opt{position:relative;float:left;width:250px;
	.fm_links{position:relative;width:180px;height:30px;z-index:10;}
	.btn_fm_site{display:block;padding:0 10px;border:1px solid #c9c9c9;
		span{display:block;height:28px;background:url('../../images/pcweb/common/ico_arrow_down03.png') no-repeat 100% 50%;font-family:"Verdana","Nanum Gothic",sans-serif;font-size:12px;line-height:28px;color:#333;}
	}
	.list_fm_site{position:absolute;bottom:26px;left:0;display:none;padding:5px 0;border:1px solid #c9c9c9;background:#fff;
		ul{overflow:auto;overflow-x:hidden;width:178px;height:124px;}
		&.active{display:block;}
		li a{display:block;overflow:hidden;height:24px;padding:0 0 0 10px;font-size:12px;line-height:24px;
			&:hover,&:focus{background:#f3f3f3;}
		}
	}
	.foot_cs{position:relative;margin-top:20px;}
}
.foot_cs{
	.foot_cs_tit{display:block;margin-bottom:4px;font-size:15px;color:#666;}
	.foot_csph{display:block;margin-bottom:4px;font-size:20px;color:#333;font-size:18px;font-family:Verdana;font-weight:800;}
	> span{font-size:12px;letter-spacing:-1px;}
	// 2018.03.07 변경  .foot_cs_btn{display:inline-block;margin-top:8px;padding-left:30px;height:28px;background:url('../../images/pcweb/common/bg_foot_roundbtn.gif') left center no-repeat;
	// 	span{position:relative;display:inline-block;font-size:13px;padding-right:15px;line-height:28px;background:url('../../images/pcweb/common/bg_foot_roundbtn.gif') right center no-repeat;color:#fff;font-weight:800;letter-spacing:-1px;
	// 		&:before{position:absolute;left:-20px;top:0;width:22px;height:28px;background:url('../../images/pcweb/common/bg_foot_roundbtn_in01.png') 0 center no-repeat;content:"";}
	// 	}
	// 	&.type02 span:before{background:url('../../images/pcweb/common/bg_foot_roundbtn_in02.png') center center no-repeat;}
	// 	&.type03 span:before{left:-22px;background:url('../../images/pcweb/common/bg_foot_roundbtn_in03.png') center center no-repeat;}
	// 	&.type04 span:before{left:-22px;background:url('../../images/pcweb/renewal/bg_foot_roundbtn_in04.png') center center no-repeat;}
	// }
	.auth_btn{position:relative;display:block;height:30px;margin:22px 0 0;font-size:12px;line-height:28px;color:#3a3b3c;font-weight:bold;
		span{margin: 0 0 0 6px;vertical-align:0;}
		&:before{display:inline-block;width:30px;height:30px;line-height:30px;vertical-align:middle;background:url("../../images/pcweb/common/ico_man_n.png") no-repeat;content:"";}
		&.partner{
			&:before{background-image:url("../../images/pcweb/common/ico_lock2_n.png");}
		}
		&+.auth_btn{margin-top:7px;}
	}
}
.foot_bot{position:relative;width:1036px;margin:0 auto;padding:13px 0 40px;border-top:1px solid #dbdbdb;
	p{font-size:11px;padding-bottom:4px;letter-spacing:-0.05em;}
	.foot_menus{position:absolute;right:0;top:5px;}
	.c01.btn07 span{line-height:18px;}
}
.foot_menus li{float:left;
	&.isms_info{margin-right:20px;
		&:after{display:block;clear:both;content:"";}
		a{
			&:after{display:block;clear:both;content:"";}
		}
		img{float:left;margin:3px 0 0;}
		span{float:left;margin:0 0 0 4px;padding:6px 0;font-size:11px;line-height:15px;color:#666;letter-spacing:-0.05em;}
	}
	&.norton{margin-top:3px;}
}

.modern{
	#footer{
		.footer_bnr a{margin-bottom:0;}
		.foot_opt_area{background:#f3f3f3;}
	}
	.foot_section{min-width:auto;width:100%;border-top:none;}
	.foot_opt_list{display:block;width:1080px;overflow:hidden;margin:0 auto;padding:14px 0;border-bottom:none;text-align:center;
		li a{padding:0 21px 0 24px;}
	}
	.foot_context{height:158px;
		.copyright{margin-top:22px;}
	}
	.foot_sns{overflow:hidden;margin-top:10px;
		li{float:left;margin-right:10px;
			a{display:block;}
		}
	}
}

// footer - brand
.foot_br{
	.foot_section .logo_footer{margin-left:0;width:240px;text-align:center;
		a{display:inline-block;margin:0;}
		.foot_sns{margin-top:20px;}
		.logo_footer_qrcode{margin:17px 0 0;}
	}
	.foot_side_opt{width:250px;margin-right:10px;
		select{width:100%;color:#303030;}
	}
	.foot_context{width:580px;height:auto;padding:0;
		.foot_view{width:580px;margin:0;
			dl{position:relative;
				dt{position:absolute;top:0;left:0;font-size:12px;color:#303030;font-weight:bold;line-height:20px;}
				dd{padding-left:110px;font-size:12px;color:#666;line-height:20px;}
				+dl{margin:30px 0 0;}
				+.foot_sns{margin-top:8px;padding-left:110px;
					+.copyright{margin-top:22px;}
				}
			}
			a{
				&:hover,&:focus{text-decoration:underline;}
			}
		}
		.btn07.c01.ico_arrow04 span{line-height:18px;}
	}
	.foot_side_opt .foot_cs{position:relative;margin-top:30px;}
	.foot_context .copyright{position:relative;padding-left:110px;font-size:12px;}
	.foot_cs{
		.foot_cstxt{display:block;}
		// 2018.03.07 변경.foot_cs_btn{margin-top:20px;
		// 	span{letter-spacing:-1px;}
		// }
	}
}
// .ie8 .foot_br .foot_cs .foot_cs_btn span{font-size:12px;font-weight:600;}

// temp css
.header_cont,.footer_info01,.footer_info02,.footer_links{margin:0 auto;  /*width:1080px;*/}
.header_cont{background:url('../../images/pcweb/temp/_sample_head_line.jpg') repeat-x 0 100%;}
.modern .header_cont{background:none;}
.header_cont img,.footer_info01 img,.footer_info02 img,.footer_links img{display:block;width:1080px;margin:0 auto;}
.header_fix{padding-top:135px;
	.wing_menu{position:fixed;top:67px!important;}
}
.wing_menu{position:relative;width:1080px;left:50%;margin-left:-540px;top:10px;height:0;z-index:50;
	.wm_left{position:absolute;left:-81px;width:66px;}
	.wm_right{position:absolute;right:-75px;    /*z-index:10;*/width:60px;}
	.wm_list{width:58px;border:1px solid #d4d4d4;
		li{border-top:1px solid #d4d4d4;
			&:first-child{border-top:none;}
			a{position:relative;display:block;padding-top:38px;padding-bottom:6px;font-size:11px;line-height:16px;color:#3f3f41;letter-spacing:-1px;text-align:center;font-weight:600;}
		}
		a{
			&.wm_l01{background:#fff url('../../images/pcweb/common/ico_wm_l01.png') center 11px no-repeat;}
			&.wm_l02{background:#fff url('../../images/pcweb/common/ico_wm_l02.png') center 11px no-repeat;}
			&.wm_l03{background:#fff url('../../images/pcweb/common/ico_wm_l03.png') center 11px no-repeat;}
			&.wm_r01{padding-top:32px;background:#fff url('../../images/pcweb/common/ico_wm_r01.png') center 11px no-repeat;}
			&.wm_r02{padding-top:51px;background:#fff url('../../images/pcweb/renewal/ico_wm_r02.png') center 8px no-repeat;}
			&.wm_r03{padding-top:51px;background:#fff url('../../images/pcweb/renewal/ico_wm_r03.png') center 14px no-repeat;
				em{position:absolute;top:4px;left:20px;width:21px;height:21px;line-height:21px;color:#fff;text-align:center;font-size:10px;font-weight:600;font-family:Verdana;background:url('../../images/pcweb/renewal/ico_wm_r03_em.png') no-repeat;}
			}
		}
	}
	.wm_adds{
		a{display:block;margin-top:5px;}
		.swiper-container{position:relative;overflow:hidden;width:66px;height:144px;margin-top:5px;
			li{float:left;
				a{margin-top:0;
					img{display:block;width:66px;height:144px;}
				}
			}
		}
	}
	.wm_left .wm_list{margin:0 0 5px 6px;}
}
.wl_btns{position:relative;height:19px;border:1px solid #eee;background:#fff;
	.wl_cnt{position:absolute;top:0;left:0;right:0;bottom:0;text-align:center;font-size:11px;font-family:Verdana;line-height:18px;}
	.wl_prev{position:absolute;left:0;top:0;width:16px;height:19px;background:url('../../images/pcweb/common/ico_wl_arrow_l.png') center center no-repeat;text-indent:-9999px;z-index:50;
		&:hover{background-image:url('../../images/pcweb/common/ico_wl_arrow_l_on.png');}
	}
	.wl_next{position:absolute;right:0;top:0;width:16px;height:19px;background:url('../../images/pcweb/common/ico_wl_arrow_r.png') center center no-repeat;text-indent:-9999px;z-index:50;
		&:hover{background-image:url('../../images/pcweb/common/ico_wl_arrow_r_on.png');}
	}
}
.wing_menu{
	.wm_user{width:66px;margin-bottom:5px;
		>{
			strong{display:block;width:64px;height:22px;border:1px solid #2e2f2a;background:#2e2f2a;text-align:center;font-size:12px;line-height:23px;color:#fff;vertical-align:middle;font-weight:400;
				> span{font-weight:800;}
			}
			span{display:block;padding:6px 0;border:1px solid #ddd;border-top:none;line-height:16px;text-align:center;font-size:12px;color:#333;background:#fff;}
		}
	}
	.wm_goods_wrap{position:relative;left:0;border:1px solid #d4d4d4;border-top:none;background:#fff;}
	.wm_goods{overflow:hidden;position:relative;top:0;z-index:3;padding-top:5px;height:220px;
		ul{position:absolute;top:0;right:0;*zoom:1;width:58px;
			&:after{display:block;clear:both;content:"";}
			li{position:relative;width:48px;margin-left:4px;
				a.wm_gd_links{width:48px;height:48px;margin:5px auto 0;display:block;border:1px solid #d4d4d4;background:#fff;
					.wm_gd_info{display:none;color:$point_color_txt;font-size:12px;font-weight:600;line-height:13px;
						strong{display:block;color:#333;font-weight:400;height:26px;overflow:hidden;}
					}
					img{display:block;width:48px;height:48px;}
				}
				.wm_btn_del{display:none;position:absolute;right:0;top:0;width:15px;height:15px;background:url('../../images/pcweb/common/wm_btn_del.jpg') right top no-repeat;text-indent:-9999px;z-index:11;}
			}
		}
		&.active{width:200px;margin-left:-142px;
			ul li{
				a.wm_gd_links{position:relative;}
				&.on{width:194px;height:48px;margin:5px 0 0 -142px;border:1px solid #333;background:#fff;
					a.wm_gd_links{margin:0 0 0 auto;border:none;
						&:after{display:block;clear:both;content:"";}
						.wm_gd_info{display:block;position:absolute;top:0;left:-146px;width:129px;height:40px;padding:4px 8px;}
					}
					.wm_btn_del{display:block;}
				}
			}
		}
		ul li.off{display:none;}
	}
	.wm_btns{position:relative;display:block;height:20px;background:#fff url('../../images/pcweb/common/bg_wm_btns_cr.gif') center 3px no-repeat;z-index:2;
		a{float:left;width:29px;height:20px;text-indent:-9999px;
			&.wm_bt_next{background:url('../../images/pcweb/renewal/ico_wm_btns01.png') center 6px no-repeat;
				&:hover{background-image:url('../../images/pcweb/renewal/ico_wm_btns01_on.png');}
			}
			&.wm_bt_prev{background:url('../../images/pcweb/renewal/ico_wm_btns02.png') center 6px no-repeat;
				&:hover{background-image:url('../../images/pcweb/renewal/ico_wm_btns02_on.png');}
			}
		}
	}
	.nodata{display:none;padding:3px 0;height:40px;vertical-align:middle;background:#fff;font-size:12px;color:#999;text-align:center;
		&.on{display:block;}
	}
	.wm_top{position:relative;display:block;margin-top:3px;width:60px;height:30px;text-indent:-9999px;
		a{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;background:url('../../images/pcweb/renewal/btn_wm_top_eland.png') center center no-repeat;}
	}
	.btm_fixed_adds{position:fixed;left:50%;bottom:0;margin-left:555px;opacity:1;filter:alpha(opacity = 100);z-index:100;}
	.dir_com{border:1px solid #d4d4d4;border-top:none;background:#fff;
		a{display:block;padding:50px 0 4px;text-align:center;font-size:11px;letter-spacing:-1px;font-weight:600;background:url(../../images/pcweb/renewal/dir_com.png) top center no-repeat;
			em{font-family:verdana;font-weight:normal;}
		}
		.d_off{color:#505050;}
		.d_on{color:#ff7112;background-position:center -70px;}
	}
}

// header top banner
.header_top_banner{position:relative;width:100%;height:0;
	.btn_hdtb_open{display:block;position:absolute;left:50%;margin-left:566px;top:0;width:60px;height:29px;background:url('../../images/pcweb/common/btn_hdtb_on.png') center center no-repeat;z-index:10;color:#fff;font-size:11px;line-height:29px;text-align:center;font-weight:800;}
	.btn_hdtb_img{display:none;text-align:center;}
	.btn_hdtb_close{display:none;position:absolute;right:26px;top:26px;width:28px;height:27px;background:url('../../images/pcweb/common/bg_hd_t_bn.png') center center no-repeat;z-index:11;text-indent:-9999px;}
	&.on{height:80px;overflow:hidden;
		.btn_hdtb_close{display:block;}
		.btn_hdtb_open{display:none;}
		.btn_hdtb_img{display:block;
			ul{width:1080px;margin:0 auto;
				&:after{display:block;clear:both;content:"";}
				li{float:left;}
			}
			a{display:block;
				> img{display:inline;}
			}
		}
	}
}

// modern header top banner
.modern .header_top_banner{
	.btn_hdtb_open{background:url('../../images/pcweb/common/btn_hdtb_on_md.png') center center no-repeat;color:#9a9592;}
	&.on{.btn_hdtb_close{display:block;}
		.btn_hdtb_open{display:none;}
		.btn_hdtb_img{display:block;
			> img{display:inline;}
		}
	}
}
.ie8 .swiper-wrapper,.ie678 .swiper-wrapper{position:relative;overflow:hidden;}
.area_lv1.bpbnr{width:100%;}

// center_btm_banner
.center_btm_banner{position:fixed;bottom:0;left:50%;margin-left:-540px;z-index:4100;
	.btn_close{position:absolute;top:0;right:0;z-index:11;}
}

.wing_menu .wm_user{width:60px;margin-bottom:5px;
	>{
		strong{display:block;width:58px;height:22px;border:1px solid #2e2f2a;background:#2e2f2a;text-align:center;font-size:12px;line-height:23px;color:#fff;vertical-align:middle;font-weight:400;}
		span{display:block;padding:6px 0;border:1px solid #ddd;border-top:none;line-height:16px;text-align:center;font-size:11px;color:#333;background:#fff;}
	}
}

 // 모던하우스 푸터 변경
.modern{
	.foot_context{height:auto;
		.foot_view{width:590px;margin-top:-4px;margin-bottom:4px;
			+ .foot_view{margin-top:12px;}
		}
	}
	.foot_side_opt{margin-top:63px;
		select{margin-top:8px;}
		.btn_fm_site{margin-top:12px;}
	}
}


// 검색 고도화 170717
.hd_sch{
	.sch_keyword{
		.k_planevt{margin:15px 20px 0;padding:20px 0 0;border-top:1px solid #ddd;
			> div li{padding:0;height:30px;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;
				a{margin:0!important;color:#666;white-space:nowrap;word-wrap:normal;overflow:hidden;
					em{color:#ff7112;}
				}
				.ico{display:inline-block;width:46px;margin-right:5px;height:18px;line-height:20px;text-align:center;font-size:11px;font-weight:400;letter-spacing:-1px;font-family:dotum,'돋움';border:1px solid #ccc;}
			}
			.category li .ico{color:#333;background:#f4f4f4;border-color:#999;}
			.plan li .ico{color:#333;}
			.event li .ico{color:#fff;background:#ff7112;border-color:#ff7112;}
		}
		.s_del + .k_planevt{margin:0 20px 0;border-top:none;}
		.s_keyword .sch_ing{margin:5px 0 -1px;padding:0 20px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:163px;height:30px;padding:0;
				&:nth-child(2n){margin-left:20px;}
				a{position:relative;display:block;
					span{line-height:30px;color:#333;}
					em{position:absolute;right:0;height:30px;line-height:30px;color:#999;font-size:11px;}
				}
			}
		}
	}
	.d_sch_complete{padding:0 0 7px;
		.k_planevt{padding-top:25px;}
		.k_brand{
			ul li{padding:0 20px;border-bottom:1px solid #ddd;
				a{position:relative;display:block;padding:0 88px 0 0;height:39px;line-height:39px;color:#333;font-size:15px;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
					&:after{position:absolute;right:0;top:11px;width:28px;height:17px;background:url("../../images/pcweb/common/ico_sch_go.png") no-repeat;content:"";}
				}
			}
		}
	}
}

//[v2] : header 추가
// header
.renewal{
	.header_top_banner .btn_hdtb_img{
		ul{width:1080px;margin:0 auto;
			&:after{display:block;clear:both;content:"";}
			li{float:left;}
		}
	}
	.header{height:213px;border-bottom:0;background:url(../../images/pcweb/renewal/bg_tnb_v2.png) 0 0 repeat-x;
		.head{height:213px;}
		.hd_mall{height:40px;}
		h1{top:84px;left:0;width:201px;height:34px;}
	}
	.mall_select{
		li{height:40px;
			a{height:40px;background:url(../../images/pcweb/renewal/bg_main_v2.png) 0 0 no-repeat;}
		}
		.el a{width:133px;background-position:0 0;}
		.mh a{width:129px;background-position:-133px 0;}
		.ki a{width:104px;background-position:-262px 0;}
	}
	.bs_selectbox{padding:0;
		.bs_sel_tit a{height:40px;padding:0;color:#222;font-size:0;line-height:normal;background-image:none;
			span{display:inline-block;width:101px;height:12px;margin:14px 0;padding:0 0 0 15px;text-indent:-999em;background:url(../../images/pcweb/renewal/bg_main_v2.png) no-repeat 100% -142px;
			}
		}
	}
	.hd_tnb{padding-top:13px;
		dd{font-size:12px;background:url(../../images/pcweb/renewal/bu_tnb_v2.png) no-repeat 0 2px;
			a {color:#666;}
		}
		dt + dd{padding-left:0;margin-left:0;background:none;}
	}
	.brand_select{top:40px;}
	// need to move to layout.scss
	.hd_bn{top:50px;width:320px;height:76px;margin-top:12px;
		.bn_lst{width:320px;height:76px;
			li{width:320px;height:76px;
				a img{width:320px;height:76px;}
			}
		}
		.bt_hd_btns{top:0;bottom:45px;z-index:1;
			.bt_hd_prev{width:20px;height:17px;background:url("../../images/pcweb/renewal/bg_main_v2.png") -56px -100px no-repeat;}
			.bt_hd_next{width:20px;height:17px;margin-left:-1px;background:url("../../images/pcweb/renewal/bg_main_v2.png") -75px -100px no-repeat;}
		}
	}
	//  need to move to layout.scss : 검색
	.hd_sch{top:76px;left:345px;height:50px;
		.sch_wrap{width:390px;}
		.sch_box{width:390px;height:50px;padding:0 57px 0 14px;border:none;background:#f4f5f7;border-radius:25px;}
		.input{position:relative;z-index:1;width:283px;height:16px;margin:10px 0 0;padding:6px 11px;font-size:14px;color:#666;background:none;box-sizing:content-box;-webkit-box-sizing:content-box;}
		.sch_btn{right:12px;width:45px;height:50px;background:none;
			&:after{position:absolute;top:50%;left:50%;width:24px;height:26px;margin:-13px 0 0 -11px;background:url(../../images/pcweb/renewal/bg_main_v2.png) 0 -165px no-repeat;content:"";}
		}
		.sch_del{top:17px;right:55px;}
		.sch_keyword{top:50px;width:386px;border:solid #000;border-width:0 2px;
			.k_planevt{
				>div li a em{color:$point_color_txt;}
				.event li .ico{border-color:$point_color_bg;background:$point_color_txt;}
			}
			// common.scss로 이관
			// .k_planbn{margin:14px 20px 0;padding:20px 0 0 0;border-top: 1px solid #ddd;
			// 	.tit{display:block;margin-bottom:11px;font-size:13px;color:#333;letter-spacing:-0.05em;}
			// 	ul{padding:0 3px;
			// 		&:after{display:block;clear:both;content:"";}
			// 		li{float:left;width:85px;height:120px;padding:0;
			// 			a{display:block;width:100%;height:100%;
			// 				img{display:block;margin:0 auto;}
			// 				span{display:block;height:32px;margin-top:13px;padding:0 2px;line-height:16px;overflow:hidden;text-align:center;color:#666;letter-spacing:-0.05em;white-space:normal;}
			// 			}
			// 		}
			// 	}
			// }
			.f_keyword dt{width:193px;left:193px;
				&:first-child{left:0;width:192px;}
				button{width:100%;}
			}
			.s_del{padding:14px 0 6px 0;margin:10px 20px 0;}
			.f_keyword{padding:49px 0 39px 0;
				dd li.rank a{color:$point_color_txt;
					.num{color:inherit;}
				}
			}
		}
		.sch_keyword .s_keyword{padding:0;margin:9px 0 15px 0;
			li a b{color:$point_color_txt;}
		}
		.d_sch_complete .k_brand{border-top:1px solid #ddd;}
		&.on {
			.sch_wrap:before{position:absolute;top:0;left:0;right:0;display:block;height:50px;content:'';border:2px solid #000;border-bottom:none;border-top-left-radius:27px;border-top-right-radius:27px;}
			.sch_box{background:#fff;overflow:hidden;}
		}
	}
	.hd_catg{top:162px;width:210px;width:52px;height:49px;background:none;text-align:left;
		.catg_bt{display:block;overflow:hidden;padding:0;width:52px;height:49px;font-size:18px;color:#3e3e3e;background:none;text-indent:-9999px;
			&:before{position:absolute;top:-1px;left:0;width:52px;height:52px;;background:url(../../images/pcweb/renewal/bg_main_v2.png) no-repeat  0 -101px #777;content:"";}
			&.on{}
		}
	}
	.catg_lyr{display:none;top:49px;width:auto;border:none;background:none;}
	.gnb_menu_wrap{position:absolute;top:162px;right:0;width:1018px;
		&:after{display:block;content:'';clear:both;}
		.hd_disp{display:inline-block;position:static;top:inherit;left:inherit;right:inherit;height:49px;background:none;vertical-align:middle;
			dd{width:auto;height:49px;line-height:49px;background:none;letter-spacing:-0.05em;
				&:first-child,&.last a{padding-right:0;}
				a{position:relative;display:block;padding:25px 16px 10px;font-size:15px;color:#000;line-height:15px;
					q{position:absolute;top:10px;left:16px;right:16px;height:20px;font-size:11px;line-height:11px;color:$basic_tx;letter-spacing:-0.05em;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
						&:after, &:before{display:none;}
					}
					img{vertical-align:bottom;}
					&.wf{color:$point_color_txt;}
				}
				&.dd{
					.spc_bt{background:none;}
					&.active{border:none;width:auto;margin:0;}
				}
				.depth2{display:none;}
			}
			//&.welfare{padding-right:135px;}
		}

	}
	.header .active .spc_lyr{top:49px;left:-24px;width:135px;border:2px solid #ff7112;overflow:inherit;}
	.header .spc_lyr .spc_all{padding:13px 6px;margin:0;border:none;
		li{text-align:center;height:30px;
			a{color:#000;font-weight:400;
				&:hover{text-decoration:underline;color:#ff7112;font-weight:400;}
			}
		}
	}
}
.header .spc_lyr .spc_all li a:focus{text-decoration:underline;color:#ff7112;font-weight:400;}
.renewal{
	.hd_zone{position:absolute;top:0;right:0;width:auto;height:49px;padding-left:34px;background:none;text-align:right;vertical-align:middle;
		// a{height:49px;line-height:49px;font-size:14px;color:#000;background:none;padding:0;letter-spacing:-0.05em;font-weight:normal;
		a{position:relative;display:inline-block;padding:25px 0 10px;font-size:14px;line-height:14px;color:#000;background:none;letter-spacing:-0.05em;font-weight:normal;
			q{position:absolute;top:10px;left:24px;right:0;height:20px;font-size:11px;line-height:11px;color:$basic_tx;letter-spacing:-0.05em;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
					&:after, &:before{display:none;}
				}
			&:first-child{
				&:before{display:none;}
				q{left:0;}
			}
			&:before{display:inline-block;width:7px;height:11px;margin:0 9px 0 8px;content:"";background:url('../../images/pcweb/renewal/bg_main_v2.png') -133px -100px no-repeat;}
			&.wf{position:relative;padding-left:28px;font-size:15px;color:$point_color_txt;}
		}
	}
	.catg_lyr{
		.cate_area01{position:absolute;left:0;width:166px;min-height:497px;background:#212020;z-index:1000;}
		.lnb_cate_main > ul{padding:8px 0;
			> li{margin-left:10px;
				> a{position:relative;display:block;overflow:hidden;height:29px;margin:1px 0 0 0;padding-left:8px;line-height:29px;font-size:14px;color:#fff;text-align:left;}
			}
		}
	}
	.lnb_cate_main ul li.on a{background:#fff;color:#333;font-weight:800;width:160px;z-index:10;}
	.catg_lyr{
		.lnb_cate_main .sp_depth{> a{color:#e23039;background:none;}
			&.on > a{background:#fff;}
		}
		.area_lv2{margin:0;float:none;}
		.lnb_cate_main > .welfare{/* padding:8px 0;
			> li > a{height:31px;line-height:31px;} */
			.welfare > a:hover{background:none;text-decoration:underline;}
		}
	}
}

.bill_bg_area{position:absolute;top:0;left:0;right:0;height:496px;}
.renewal{
	.catg_lyr .lnb_cate_main{
		> ul > li.on .depth2{display:block;}
		.depth2.size01{width:234px;}
		.sp_depth.size02{
			.depth2{width:547px;}
			.lb01{border-right:none;}
		}
		.depth2{display:none;position:absolute;top:0;left:165px;padding:0;width:740px;min-height:403px;height:100%;background:#fff;z-index:9;
			&:before{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;border:2px solid #242424;content:'';z-index:-1;}
			&:after{display:block;content:'';clear:both;}
		}
		ul li.on .depth2{display:block;}
		.depth2 ul > li > a{display:block;color:#999;font-weight:400;height:auto;}
		.lnb_tit{padding:20px 0 20px 28px;text-align:left;font-size:22px;color:#333;font-weight:800;
			a{padding-right:20px;color:#333;background:url('../../images/pcweb/common/ico_link_arrow04.gif') 100% 5px no-repeat;
				&:hover{background:url('../../images/pcweb/common/ico_link_arrow05.gif') 100% 5px no-repeat;color:$point_color_txt;}
			}
		}
		.lnb_tit02{padding:0 0 10px;font-size:14px;color:#242424;font-weight:800;
			&.txt_en{font-family:"Verdana","Nanum Gothic",sans-serif;}
		}
		.lb01{float:left;width:173px;padding:0 7px 0 30px;}
		.lb02{float:left;width:173px;padding:0 7px 0 30px;border-left:1px solid #eee;}
		.lb03{float:left;width:283px;padding:0 30px 0 0;}
		.depth2 li{
			.flag_new{position:relative;top:-1px;display:inline-block;margin-left:2px;width:12px;height:16px;background:url('../../images/pcweb/common/ico_new01.png') 0 center no-repeat;text-indent:-9999px;}
			vertical-align:-1px;
			a{display:block;}
			&:first-child a span{padding-top:0;}
			a span{display:inline-block;padding:5px 0 5px;color:#4a4a4a;}
			&.on a span{padding-bottom:1px;margin-bottom:4px;text-decoration:underline;color:#242424;font-weight:800;}
		}
	}
	.box_promotion_bnr02 .depth2{margin-top:-86px;
		li{margin:0 2px 0 3px;}
	}
	.catg_lyr .lnb_cate_main .depth2 .lb03 li{margin-top:10px;
		&:first-child{margin-top:0;}
		img{display:block;width:290px;}
	}
	&.header_fix{
		.header{position:fixed;top:0;height:56px!important;border-bottom:0;background:url('../../images/pcweb/common/bg_header_fix.png') 0 0 repeat-x;}
		#content{margin-top:56px;}
		.head{height:56px!important;}
		h1{display:none;}
		.hd_mall{float:left;position:relative;left:0;top:0;width:auto;height:56px;margin:0 0 0 80px;
			.btn_home{float:left;display:block;margin:16px 0 0;}
			.btn_mall_sel{position:absolute;top:0;right:-10px;display:block;width:28px;height:46px;background:url('../../images/pcweb/common/bg_repeat.gif') 0 0 repeat;}
			.tit{position:relative;z-index:4004;display:block;}
		}
		.mall_select{display:none;position:absolute;left:-2px;top:40px;width:160px;padding-top:8px;border-bottom:2px solid #000;border-top:0;background:url("../../images/pcweb/common/bg_hd_tab.png") no-repeat 0 0;z-index:101;
			li{clear:both;float:none;width:156px;height:40px;border-left:2px solid #000;border-right:2px solid #000;background:#fff;
				a{display:block;width:156px;height:38px;text-indent:-1000em;background:url('../../images/pcweb/common/img_tab_mall_fix.png') 0 0 no-repeat;}
				&.el a{width:156px;background-position:0 0;}
				&.mh a{width:156px;background-position:0 -38px;}
			}
		}
		.mall_select02{display:none;}
		.hd_tnb{position:absolute;right:60px;height:24px;padding-top:20px;
			dd{padding-left:10px;margin-left:9px;
				a {color:#fff;}
			}
		}
		.hd_disp,.hd_bn{display:none;}
		.hd_sch{position:static!important;float:left;width:390px;height:38px;margin:9px 0 0 0;
			.sch_wrap{position:relative;}
			.sch_box{/* width:319px; */height:38px;background:#fff;border-radius:19px;}
			.input{width:283px;height:29px;margin-top:0;padding:5px 0 5px 13px;border:0;font-size:14px;line-height:29px;color:#666;}
			.sch_keyword{}
			.sch_del{top:14px;}
			.sch_btn{height:38px;right:9px;}
			&.on {
				.sch_wrap:before{position:absolute;top:-2px;height:40px;border-top-left-radius:19px;border-top-right-radius:19px;background:#fff;content:"";}
				.sch_box{background:#fff;}
			}
		}
		.hd_catg{position:absolute;left:0;top:0px;z-index:4004;width:56px;height:56px;background:none;
			.catg_bt{display:block;width:56px;height:56px;padding:0;font-size:18px;color:#3e3e3e;background:#777;
				&:before{position:absolute;top:50%;left:50%;width:23px;height:21px;margin:-10px 0 0 -11px;background:url(../../images/pcweb/renewal/bg_main_v2.png) no-repeat  -14px -116px;content:"";}
				&.on{}
			}
		}
		.gnb_menu_wrap{top:0;
			.hd_zone a:before{display:none;content:'';}
		}
		.hd_zone{position:absolute;right:0;top:0;width:auto;height:56px;padding:0 0 0 10px;font-size:13px;line-height:56px;background:url(../../images/pcweb/renewal/bu_tnb_v2.png) no-repeat 0 center;
			a{display:none;height:56px;line-height:56px;color:#fff;font-size:12px;font-weight:400;padding:0 10px 0 0;background:url("../../images/pcweb/renewal/bu_hd_zone_fixed.png") no-repeat right center;
				//&.wf{display:none;}
				&:last-child{display:block;}
			}
		}
		.sch_keyword{top:40px;left:0;
			.f_keyword dt{
				button{width:100%;}
				&:first-child{left:0;}
			}
		}
		.catg_lyr{top:56px;z-index:1000;}
		.sch_keyword .f_keyword dt:first-child button{width:100%;}
		.brand_select{top:56px;}
		.bs_selectbox{float:left;padding:0;width:48px;cursor:pointer;
			&.hover .brand_select{display:block;}
			.bs_sel_tit{border:none;padding-right:0;
				a{height:56px;padding:0;width:48px;background:url('../../images/pcweb/renewal/bu_fixed_arrow.png') 0 0 no-repeat;}
			}
			&.hover .bs_sel_tit a{background-position:0 -56px;}
			.bs_sel_tit a span{display:none;padding:0;border-right:none;}
		}
		// .brand_select{top:56px;
		// 	ul{padding:6px 50px 20px;
		// 		&:after{display:block;content:'';clear:both;}
		// 	}
		// 	li{float:left;width:130px;height:50px;padding:12px 5px 0;
		// 		a{position:relative;display:block;
		// 			img{width:130px;height:50px;}
		// 		}
		// 		.sel{display:block;position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #242424;text-indent:-9999px;
		// 			em{display:block;position:absolute;top:-5px;right:-5px;width:19px;height:18px;background:url('../../images/pcweb/header/bu_brand_sel.png') no-repeat 0 0;}
		// 		}
		// 	}
		// }
		.catg_wrap .catg_lyr{top:56px;}
	}
}

// header_fix
.ie8 .renewal.header_fix .hd_sch .input{height:39px;padding:0;}