@charset "UTF-8";

// header
.renewal{
	.header{height:200px;border-bottom:0;background:url(../../images/pcweb/renewal/bg_tnb.png) 0 0 repeat-x;
		.head{height:200px;}
		.hd_mall{height:50px;}
		h1{top:87px;left:13px;width:241px;height:27px;}
	}
	.mall_select{
		li{height:50px;
			a{height:50px;background:url(../../images/pcweb/renewal/img_tab_mall.png) 0 0 no-repeat;}
		}
		.el a{width:165px;background-position:0 0;}
		.mh a{width:165px;background-position:-165px 0;}
		.ki a{width:165px;background-position:-330px 0;}
	}
	.bs_selectbox{padding:13px 0 12px 37px;
		.bs_sel_tit a{padding:0 22px 13px 0;color:#ff7112;font-size:14px;background:url(../../images/pcweb/renewal/bu_brand_arrow.png) no-repeat 100% -23px;}
	}
	.hd_tnb{padding-top:17px;
		dd{font-size:12px;background:url(../../images/pcweb/renewal/bu_tnb.png) no-repeat 0 0;}
		dt + dd{padding-left:0;margin-left:0;background:none;}
	}
	.brand_select{top:50px;}
	.hd_bn{top:50px;width:350px;height:76px;margin-top:12px;
		.bn_lst{width:320px;height:76px;
			li{width:320px;height:76px;
				a img{width:320px;height:76px;}
			}
		}
		.bt_hd_btns{top:10px;width:20px;
			.bt_hd_prev{width:20px;height:30px;background:url(../../images/pcweb/renewal/btn_header_btns.png) 0 0 no-repeat;}
			.bt_hd_next{width:20px;height:30px;background:url(../../images/pcweb/renewal/btn_header_btns.png) 0 -30px no-repeat;}
		}
	}
	.hd_sch{top:75px;left:282px;
		.sch_wrap{width:420px;}
		.sch_box{width:420px;height:52px;border:none;background:url(../../images/pcweb/renewal/hd_sch_bg.png) no-repeat;}
		.input{padding:17px 12px 18px;font-size:14px;color:#666;background:none;box-sizing:content-box;-webkit-box-sizing:content-box;}
		.sch_btn{width:60px;height:52px;background:url(../../images/pcweb/renewal/btn_hd_sch.png) no-repeat 50% 50%;}
		.sch_del{top:18px;right:60px;}
		.sch_keyword{top:50px;width:416px;border:2px solid #d55b0a;border-top:none;border-bottom:none;
			.f_keyword dt{width:208px;left:208px;
				&:first-child{width:207px;left:0;}
				button{width:100%;}
			}
			.s_del{padding:20px 0 0 0;margin:10px 20px 0;}
			.f_keyword{padding:49px 0 13px 0;
				&:after{content:'';position:absolute;bottom:-10px;left:0;width:100%;height:10px;padding:2px;margin:-2px;background:url(../../images/pcweb/renewal/hd_sch_bg.png) 0 -100px no-repeat;}
			}
			&.d_sch_complete:after{content:'';position:absolute;bottom:-10px;left:0;width:100%;height:10px;padding:2px;margin:-2px;background:url(../../images/pcweb/renewal/hd_sch_bg.png) 0 -100px no-repeat;}
		}
		&.on .sch_box{background-position:0 -52px;}
		.sch_keyword .s_keyword{padding:0;margin:9px 0 15px 0;
			li a b{color:#ff7112;}
		}
		.d_sch_complete .k_brand{border-top:1px solid #ddd;}
	}
	.hd_catg{top:150px;width:210px;height:49px;background:none;text-align:left;
		.catg_bt{display:block;padding:0 10px 0 65px;height:49px;font-size:22px;color:#3e3e3e;background:url(../../images/pcweb/renewal/bu_catg_all.png) no-repeat;
			&.on{}
		}
	}
	.catg_lyr{display:none;top:49px;width:auto;border:none;background:none;}
	.hd_disp{top:150px;left:inherit;right:0px;height:49px;background:none;padding-right:55px;
		dd{width:auto;height:49px;line-height:49px;background:none;letter-spacing:-0.05em;
			&:first-child,&.last a{padding-right:0;}
			a{display:block;padding:0 16px;font-size:15px;color:#000;}
			&.dd{
				.spc_bt{background:none;}
				&.active{border:none;width:auto;margin:0;}
			}
		}
		&.welfare{padding-right:135px;}
	}
	.header .active .spc_lyr{top:49px;left:-24px;width:135px;border:2px solid #ff7112;overflow:inherit;}
	.hd_disp dd.active .depth2:after{display:block;position:absolute;top:-9px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/renewal/bg_hd_depth_on.png) no-repeat;}
	.header .spc_lyr .spc_all{padding:13px 6px;margin:0;border:none;
		li{text-align:center;height:30px;
			a{color:#000;font-weight:400;
				&:hover{text-decoration:underline;color:#ff7112;font-weight:400;}
			}
		}
	}
}
.header .spc_lyr .spc_all li a:focus{text-decoration:underline;color:#ff7112;font-weight:400;}
.renewal{
	.hd_zone{top:150px;right:0;width:55px;height:49px;background:none;text-align:right;
		&.welfare{width:118px;}
		a{height:49px;line-height:49px;font-size:15px;color:#000;background:none;padding:0;letter-spacing:-0.05em;
			&.wf{position:relative;margin-left:17px;padding-left:17px;color:#ff7112;font-size:15px;
				&:before{position:absolute;display:block;top:2px;left:0;width:1px;height:12px;background:#ff7112;content:"";}
			}
		}
	}
	.catg_lyr{
		.cate_area01{position:absolute;left:0;width:166px;height:auto;;background:url('../../images/pcweb/common/bg_header_fix.png') 0 0 repeat;z-index:1000;}
		.lnb_cate_main > ul{padding:10px 0;
			> li{margin-left:10px;
				> a{position:relative;display:block;overflow:hidden;height:33px;margin:1px 0 0 0;padding-left:8px;line-height:33px;font-size:14px;color:#fff;text-align:left;}
			}
		}
	}
	.lnb_cate_main ul li.on a{background:#fff;color:#333;font-weight:800;width:160px;z-index:10;}
	.catg_lyr{
		.lnb_cate_main .sp_depth{> a{color:#ff7112;background:none;}
			&.on > a{background:#fff;}
		}
		.area_lv2{margin:0;float:none;}
		.lnb_cate_main > .welfare{padding:8px 0;
			> li > a{height:30px;line-height:30px;}
			.welfare > a:hover{background:none;text-decoration:underline;}
		}
	}
}

.bill_bg_area{position:absolute;top:0;left:0;right:0;height:496px;}
.renewal{
	.catg_lyr .lnb_cate_main{
		> ul > li.on .depth2{display:block;}
		.depth2.size01{width:234px;}
		.sp_depth.size02{
			.depth2{width:547px;}
			.lb01{border-right:none;}
		}
		.depth2{display:none;position:absolute;top:0;left:165px;padding:0;width:740px;min-height:403px;height:100%;background:#fff;z-index:9;
			&:before{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border: 2px solid #242424;content: '';z-index: -1;}
			&:after{display:block;content:'';clear:both;}
		}
		ul li.on .depth2{display:block;}
		.depth2 ul > li > a{display:block;color:#999;font-weight:400;height:auto;}
		.lnb_tit{padding:20px 0 20px 28px;text-align:left;font-size:22px;color:#333;font-weight:800;
			a{padding-right:20px;color:#333;background:url('../../images/pcweb/common/ico_link_arrow04.gif') 100% 5px no-repeat;
				&:hover{background:url('../../images/pcweb/common/ico_link_arrow05.gif') 100% 5px no-repeat;color:#f56f36;}
			}
		}
		.lnb_tit02{padding:0 0 10px;font-size:14px;color:#242424;font-weight:800;
			&.txt_en{font-family:"Verdana","Nanum Gothic",sans-serif;}
		}
		.lb01{float:left;width:173px;padding:0 7px 0 30px;}
		.lb02{float:left;width:173px;padding:0 7px 0 30px;border-left:1px solid #eee;}
		.lb03{float:left;width:283px;padding:0 30px 0 0;}
		.depth2 li{
			.flag_new{position:relative;top:-1px;display:inline-block;margin-left:2px;width:12px;height:16px;background:url('../../images/pcweb/common/ico_new01.png') 0 center no-repeat;text-indent:-9999px;}
			vertical-align:-1px;
			a{display:block;}
			&:first-child a span{padding-top:0;}
			a span{display:inline-block;padding:5px 0 5px;color:#4a4a4a;}
			&.on a span{padding-bottom:1px;margin-bottom:4px;text-decoration:underline;color:#242424;font-weight:800;}
		}
	}
	.box_promotion_bnr02 .depth2{margin-top:-86px;
		li{margin:0 2px 0 3px;}
	}
	.catg_lyr .lnb_cate_main .depth2 .lb03 li{margin-top:10px;
		&:first-child{margin-top:0;}
		img{display:block;width:290px;}
	}
	&.header_fix{
		.header{position:fixed;top:0;height:56px!important;border-bottom:0;background:url('../../images/pcweb/common/bg_header_fix.png') 0 0 repeat-x;}
		#content{margin-top:56px;}
		.head{height:56px!important;}
		h1{display:none;}
		.hd_mall{float:left;position:relative;left:0;top:0;width:auto;height:56px;margin:0 0 0 50px;
			.btn_home{float:left;display:block;margin:0;}
			.btn_mall_sel{position:absolute;top:0;right:-10px;display:block;width:28px;height:46px;background:url('../../images/pcweb/common/bg_repeat.gif') 0 0 repeat;}
			.tit{position:relative;z-index:4004;display:block;}
		}
		.mall_select{display:none;position:absolute;left:-2px;top:40px;width:160px;padding-top:8px;border-bottom:2px solid #000;border-top:0;background:url("../../images/pcweb/common/bg_hd_tab.png") no-repeat 0 0;z-index:101;
			li{clear:both;float:none;width:156px;height:40px;border-left:2px solid #000;border-right:2px solid #000;background:#fff;
				a{display:block;width:156px;height:38px;text-indent:-1000em;background:url('../../images/pcweb/common/img_tab_mall_fix.png') 0 0 no-repeat;}
				&.el a{width:156px;background-position:0 0;}
				&.mh a{width:156px;background-position:0 -38px;}
			}
		}
		.mall_select02{display:none;}
		.hd_tnb{position:absolute;right:60px;height:24px;padding-top:20px;
			dd{padding-left:10px;margin-left:9px;}
		}
		.hd_disp,.hd_bn{display:none;}
		.hd_sch{position:static!important;float:left;width:399px;height:40px;margin:8px 0 0 0;
			.sch_wrap{position:relative;width:399px;}
			.sch_box{width:399px;height:40px;background:url(../../images/pcweb/renewal/hd_sch_bg_fixed.png) no-repeat;}
			&.on .sch_box{background-position:0 -40px;}
			.input{width:300px;height:29px;padding:5px 0 5px 13px;border:0;font-size:14px;line-height:29px;color:#666;}
		}
	}
}

// header_fix
.ie8 .renewal.header_fix .hd_sch .input{height:39px;padding:0;}
.renewal.header_fix{
	.hd_sch{
		.sch_del{top:14px;}
		.sch_btn{height:40px;}
	}
	.hd_catg{position:absolute;left:0;top:0px;z-index:4004;width:50px;height:56px;background:none;
		.catg_bt{width:50px;height:56px;padding:0;text-indent:-1000em;background:url("../../images/pcweb/renewal/btn_hd_catg.png") no-repeat 0 0;
			&.on{background:url("../../images/pcweb/renewal/btn_hd_catg.png") no-repeat 0 0;}
		}
	}
	.hd_zone{position:absolute;right:0;top:0;width:auto;height:56px;padding:0 0 0 10px;font-size:13px;line-height:56px;background:url(../../images/pcweb/renewal/bu_tnb.png) no-repeat 0 center;
		a{height:56px;line-height:56px;color:#fff;font-size:12px;font-weight:400;padding-right:10px;background:url("../../images/pcweb/renewal/bu_hd_zone_fixed.png") no-repeat right center;
			&.wf{display:none;}
		}
	}
	.sch_keyword{top:40px;left:0;width:395px;
		.f_keyword dt{left:198px;width:196px;
			button{width:196px;}
			&:first-child{left:0;width:197px;}
		}
	}
	.catg_lyr{top:56px;z-index:1000;}
	.sch_keyword .f_keyword dt:first-child button{width:196px;}
	.hd_sch .sch_keyword{.f_keyword:after,&.d_sch_complete:after{background:url(../../images/pcweb/renewal/hd_sch_bg_fixed.png) 0 -86px no-repeat;}
	}
	.brand_select{top:56px;}
	.bs_selectbox{float:left;padding:0;width:48px;cursor:pointer;
		&.hover .brand_select{display:block;}
		.bs_sel_tit{border:none;padding-right:0;
			a{height:56px;padding:0;width:48px;background:url('../../images/pcweb/renewal/bu_fixed_arrow.png') 0 0 no-repeat;}
		}
		&.hover .bs_sel_tit a{background-position:0 -56px;}
		.bs_sel_tit a span{display:none;padding:0;border-right:none;}
	}
	.brand_select{top:56px;
		ul{padding:6px 50px 20px;
			&:after{display:block;content:'';clear:both;}
		}
		li{float:left;width:130px;height:50px;padding:12px 5px 0;
			a{position:relative;display:block;
				img{width:130px;height:50px;}
			}
			.sel{display:block;position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #242424;text-indent:-9999px;
				em{display:block;position:absolute;top:-5px;right:-5px;width:19px;height:18px;background:url('../../images/pcweb/header/bu_brand_sel.png') no-repeat 0 0;}
			}
		}
	}
	.catg_wrap .catg_lyr{top:56px;}
}

// footer
.main.renewal{
	#footer{margin:0;}
	.foot_side_opt{width:180px;}
	.wing_menu{top:511px;}
	&.header_fix .wing_menu{top:67px;}
}

// wing_menu
.wing_menu .wm_adds a{margin-top:0;}
.wl_btns{border:1px solid #eee;
	.wl_cnt span{color:#333;}
}

// container
.main.renewal{
	#content{padding-bottom:100px;background:#f5f5f1;}
	.new_title{width:1080px;margin:0 auto;
		&:after{display:block;content:'';clear:both;}
		h3{float:left;}
	}
}
.renewal .new_title h4{float:left;}
.main.renewal .new_title{
	.txt{height:35px;line-height:35px;margin-left:8px;color:#3e3e3e;font-size:20px;letter-spacing:-1px;}
	h4 + .txt{height:23px;line-height:23px;margin-left:12px;color:#353535;font-size:15px;letter-spacing:-1px;}
}

// 빌보드 영역
.renewal{
	.billboard_section{height:496px;
		&:hover .bp_btns a{
			&.bp_bt_prev{background-position:-60px 0;}
			&.bp_bt_next{background-position:-60px -60px;}
		}
	}
	.box_promotion_bnr02{
		.bp_cont{padding-top:495px;}
		.bp_btns a{
			&.bp_bt_stop,&.bp_bt_auto{display:block!important;height:48px;top:446px;border:1px solid #c9caca;}
		}
		.depth_tit{border-top:1px solid #c9cacb;border-bottom:1px solid #c9cacb;background:url(../../images/pcweb/renewal/bg_main_bp_tab.png) repeat;
			span{height:48px;line-height:48px;color:#323231;font-size:14px;font-weight:600;}
		}
		.bp_list{
			li:first-child .depth_tit{border-left:1px solid #c9cacb;}
			.depth1.active .depth_tit{background:url(../../images/pcweb/renewal/bg_main_bp_tab.png) repeat;
				span{color:#ff7112;}
			}
			&.menu02 .depth1{width:520px;}
			&.menu03 .depth1{width:346px;
				&:first-child{width:347px;}
			}
			&.menu04 .depth1{width:260px;}
			&.menu05 .depth1{width:208px;}
			&.menu06 .depth1{width:173px;
				&:first-child{width:174px;}
			}
			&.menu07 .depth1{width:148px;
				&:first-child{width:150px;}
			}
			&.menu08 .depth1{width:130px;}
			&.menu09 .depth1,&.menu10 .depth1{width:auto;}
		}
		.bp_btns{position:absolute;top:0;left:0;width:0;height:0;z-index:2;
			a{
				&.bp_bt_prev,&.bp_bt_next{position:absolute;top:194px;width:60px;height:60px;}
			}
			.d_prev{left:0;background:url(../../images/pcweb/renewal/bill_btn.png) no-repeat;}
			.d_next{left:1020px;right:0;background:url(../../images/pcweb/renewal/bill_btn.png) no-repeat;background-position:0 -60px;}
			a{
				&.bp_bt_prev:hover{background-position:-120px 0;}
				&.bp_bt_next:hover{background-position:-120px -60px;}
			}
		}
		.depth1.active .depth_tit:before{display:none;}
		.depth2 li{
			a.links{width:20px;height:20px;background:url('../../images/pcweb/renewal/ico_bn_indi_off.png') 0 0 no-repeat;}
			&.on a.links{background:url('../../images/pcweb/renewal/ico_bn_indi_on.png') 0 0 no-repeat;}
			&:first-child a.links:before,&.depth2_last a.links:after{display:none;}
		}
		.bp_scont.type03 > div img{border:none;}
	}
	.box_roll_evt{padding-top:0;
		.roll_indi{top:10px;right:9px;z-index:10;}
		.swiper-pagination-switch{float:inherit;padding:0;margin-left:2px;display:inline-block;background:url('../../images/pcweb/renewal/ico_indi02.png') center center no-repeat;font-size:0px;text-indent:-9999px;vertical-align:top;
			&.swiper-active-switch{background:url('../../images/pcweb/renewal/ico_indi02_on.png') center center no-repeat;}
		}
		.swiper-wrapper li a{width:1080px;margin:0 auto;}
		.swiper_container{height:90px;}
		ul li img{width:1080px;height:90px;}
	}
	.coupon_brand{margin:15px auto 65px;width:1080px;
		&:after{display:block;clear:both;content:'';}
	}
	.tcoupon{float:left;display:table;width:200px;height:105px;padding:80px 20px 50px;margin-right:14px;background:url(../../images/pcweb/renewal/bg_tcoupon.png) no-repeat;
		ol{display:table-cell;width:100%;text-align:center;vertical-align:middle;
			li span{position:relative;display:block;padding:0 5px;width:210px;height:32px;line-height:32px;color:#fff;font-size:17px;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;
				&:before{content:'· ';}
			}
		}
	}
	.brandall{float:left;width:806px;height:231px;border-bottom:1px solid #bebebe;background:#e9e9e4;
		ol{height:230px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:115px;height:114px;border:1px solid #fff;margin:0 -1px -1px;
				a{
					.img_off,&:hover .img_on{display:block;}
					.img_on,&:hover .img_off{display:none;}
					img{width:100%;height:114px;}
				}
			}
		}
		.btn_brd{margin-top:10px;text-align:right;
			a{color:#3e3e3e;font-size:16px;line-height:16px;font-weight:bold;padding-right:19px;background:url(../../images/pcweb/renewal/brandall_btn.jpg) right center no-repeat;}
		}
	}
	.luckydeal{width:1080px;margin:0 auto;
		ul{margin:18px 0 0;width:1098px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:256px;height:374px;margin:0 16px 16px 0;border:1px solid #bebebe;background:#fff;
				&:hover,&:focus{border-color:#000;}
				.thumb{padding:15px 15px 10px;
					img{width:228px;height:228px;}
				}
				.cont{padding:0 19px 10px;color:#353535;
					.brand_nm{display:block;font-size:18px;font-weight:bold;}
					.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;}
				}
				.box_price{padding:0px 19px 18px;
					.p_dis{display:block;height:16px;margin-bottom:6px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
					.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
						em{font-size:14px;font-weight:400;}
					}
					.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
						em{font-size:12px;font-weight:400;}
					}
					.p_tot2{display:inline-block;line-height:19px;color:#3e3e3e;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
						em{font-size:14px;font-weight:400;}
					}
				}
				.info{position:relative;
					.sale_cnt{position:absolute;bottom:19px;right:18px;text-align:center;font-size:12px;color:#8e8e8e;line-height:1.2em;
						.tx_num{display:block;font-family:"Verdana","Nanum Gothic",sans-serif,'Nanum-Gothic';color:#666;}
						.cnt_new{display:block;width:36px;height:36px;font-size:0;text-indent:-999em;background:url("../../images/pcweb/renewal/ico_new.png") no-repeat;}
					}
				}
				&.ban01{position:relative;width:258px;height:768px;border:none;
					a img{position:relative;width:258px;height:768px;}
				}
				&.ban02{width:532px;height:376px;border:none;
					a img{width:532px;height:376px;}
				}
				&.ban03{width:256px;height:766px;border:none;
					a img{width:256px;height:766px;}
				}
				&.ban01 a,&.ban02 a,&.ban03 a{position:relative;display:block;}
				&.ban01:hover a:after{content:'';position:absolute;top:0;left:0;width:256px;height:766px;border:1px solid #000;}
				&.ban02:hover a:after,&.ban03:hover a:after{content:'';position:absolute;top:0;left:0;width:530px;height:374px;border:1px solid #000;}
			}
		}
		.lucky_case3 ul li.ban01{margin:0 16px 16px 0;}
	}
	.sshop{margin-top:24px;
		.sevt .new_title,.smatch .new_title,.always .new_title{padding-bottom:8px;border-bottom:4px solid #bebebe;}
		.sevt{margin-top:39px;
			ul{width:1080px;margin:10px auto 0;
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:353px;margin-left:10px;
					&:first-child{margin-left:0;}
					a img{width:353px;height:180px;}
				}
			}
		}
		.smatch{margin-top:39px;
			.div_html{width:1080px;margin:0 auto;padding-top:10px;}
		}
		.always{width:1080px;margin:40px auto 0;
			&:after{display:block;clear:both;content:'';}
			.box_ban{float:left;margin-top:10px;width:307px;height:374px;border:1px solid #656565;background:#3e3e3e;
				img{width:307px;height:374px;}
			}
			.box_list{width:1080px;margin-top:10px;height:376px;background:#3e3e3e;}
			ul{margin:18px 0 0;width:1096px;
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:256px;height:374px;margin-left:-1px;border:1px solid #656565;
					.thumb{padding:15px 15px 10px;
						img{width:228px;height:228px;}
					}
					.cont{padding:0 19px 10px;color:#353535;
						.brand_nm{display:block;font-size:18px;font-weight:bold;color:#fff;}
						.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;color:#fff;}
					}
					.box_price{padding:0px 19px 18px;
						.p_dis{display:block;height:16px;margin-bottom:6px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
						.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
							em{font-size:14px;font-weight:400;}
						}
						.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
							em{font-size:12px;font-weight:400;}
						}
						.p_tot2{display:inline-block;line-height:19px;color:#fff;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
							em{font-size:14px;font-weight:400;}
						}
					}
				}
			}
		}
		.store{margin-top:39px;}
	}
	.ban_left{position:relative;float:left;width:348px;height:587px;border:1px solid #dfdfdf;
		.ctgLban,.swiper-container{height:587px;overflow:hidden;}
		.ctgLban a img{width:348px;height:587px;}
		.storeLban{position:relative;width:348px;height:587px;overflow:hidden;
			li{height:587px;
				a{position:relative;display:block;}
				img{width:348px;height:587px;}
			}
			.storeLban_btns{position:absolute;top:50%;width:348px;z-index:9;
				button{position:absolute;top:50%;margin-top:-47px;
					&.d_prev{left:0;width:23px;height:47px;background:rgba(0,0,0,0.7);}
					&.d_next{right:0;width:23px;height:47px;background:rgba(0,0,0,0.7);}
				}
			}
			.storeLban_pagi{position:absolute;bottom:26px;left:0;width:100%;height:10px;text-align:center;z-index:9;
				.swiper-pagination-switch{display:inline-block;float:inherit;width:10px;height:9px;padding:0;margin:0;background:url(../../images/pcweb/renewal/storeLban_pagi.png);
					&.swiper-active-switch{background-position:0 -10px;}
				}
			}
			li .txt{position:absolute;bottom:0;left:0;width:328px;padding:10px 10px 36px;text-align:center;color:#fff;font-size:18px;font-weight:bold;background:rgba(0,0,0,0.4);}
		}
		.ctgLban{
			.ctgLban_btns{position:absolute;width:348px;z-index:9;
				button{position:absolute;bottom:276px;width:23px;height:46px;background:url(../../images/pcweb/renewal/btn_md_ctg.png) no-repeat;
					&.d_prev{left:0;}
					&.d_next{right:-1px;background-position:-23px 0;}
					&:hover{background-position-y:-46px;}
				}
			}
			.ctgLban_pagi{position:absolute;bottom:26px;left:0;width:100%;height:10px;text-align:center;z-index:9;
				.swiper-pagination-switch{display:inline-block;float:inherit;width:10px;height:9px;padding:0;margin:0;background:url(../../images/pcweb/renewal/storeLban_pagi.png);
					&.swiper-active-switch{background-position:0 -10px;}
				}
			}
		}
	}
	.prd_right{float:left;width:729px;height:587px;border:1px solid #dfdfdf;border-left:0;}
	.ctg_new{position:relative;padding:0 32px;height:310px;border-bottom:1px solid #dfdfdf;background:#e9e9e4;
		h4{padding:18px 0 8px;font-size:20px;color:#333;letter-spacing:-1px;}
		a.btn_add{position:absolute;top:21px;right:31px;width:66px;height:20px;font-size:1px;text-indent:-9999px;background:url(../../images/pcweb/renewal/btn_add.jpg) no-repeat;}
	}
	.ctgbn{position:relative;width:670px;
		.swiper_container{overflow:hidden;width:680px;height:245px;margin-left:-7px;}
		ul li{width:169px;text-align:center;}
		.thumb .img_f img{width:153px;height:153px;border:1px solid #bebebe;}
		.cont{margin:0 7px 0 8px;text-align:left;
			.brand_nm{display:block;margin:7px 0 3px;color:#3e3e3e;font-size:12px;font-weight:bold;}
			.prod_nm{display:block;margin:3px 0;color:#3e3e3e;font-size:12px;height:28px;line-height:14px;overflow:hidden;}
		}
		.box_price{margin:0 7px 0 8px;text-align:left;
			.p_dis{display:block;height:12px;margin-bottom:5px;color:#8e8e8e;font-size:12px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			.p_tot{display:inline-block;line-height:14px;color:#ff7112;font-size:14px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				em{font-size:12px;font-weight:400;}
			}
			.p_per{display:inline-block;padding:0 4px;height:15px;line-height:15px;color:#fff;font-size:13px;font-weight:bold;vertical-align:top;background:#ff7112;
				em{font-size:10px;font-weight:400;}
			}
			.p_tot2{display:inline-block;line-height:14px;color:#333;font-size:14px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				em{font-size:12px;font-weight:400;}
			}
		}
		.nav_bt{position:absolute;top:0;width:680px;z-index:8;
			a{position:absolute;top:0;width:32px;height:154px;z-index:10;
				span{font-size:0;text-indent:-9999px;width:1px;height:1px;}
				&.prev{left:-32px;background:url(../../images/pcweb/renewal/nav_bt_prev.png) no-repeat;}
				&.next{right:-16px;background:url(../../images/pcweb/renewal/nav_bt_next.png) no-repeat;}
				&:hover{background-position-y:-155px;}
			}
		}
	}
	.ctg_best{padding:15px 32px 0;height:261px;background:#fff;}
	.store{position:relative;
		.new_title{padding-bottom:9px;border-bottom:4px solid #bebebe;}
		.store_con{position:relative;width:1080px;margin:0 auto;padding:11px 0 0;height:678px;
			#ctgcon01,#ctgcon02,#ctgcon03,#ctgcon04,#ctgcon05,#ctgcon06,#ctgcon07,#ctgcon08,#ctgcon09,#ctgcon10,#ctgcon11,#ctgcon12,#ctgcon13,#ctgcon14,#ctgcon15,#ctgcon16,#ctgcon17,#ctgcon18,#ctgcon19,#ctgcon20{position:absolute;top:-136px;width:100%;height:1px;}
			.sbox{height:619px;}
		}
		.store_pagi{text-align:center;
			span{display:inline-block;width:20px;height:20px;margin:0 3px;padding:0;cursor:pointer;font-size:1px;text-indent:-9999px;background:url(../../images/pcweb/renewal/store_pagi.png) no-repeat;
				&.on{background-position:0 -20px;}
			}
		}
		.store-btn{position:absolute;top:0;left:0;height:0;width:1080px;
			.snext{position:absolute;top:0;right:-43px;top:240px;width:43px;height:128px;cursor:pointer;background:url(../../images/pcweb/renewal/new_ctgbtn_next.png) 0 0 no-repeat;}
			.sprev{position:absolute;top:0;left:-43px;top:240px;width:43px;height:128px;cursor:pointer;background:url(../../images/pcweb/renewal/new_ctgbtn_prev.png) 0 0 no-repeat;}
			> div:hover{background-position-y:-128px;}
		}
	}
	.kimsclub{padding:47px 0 90px;background:#353535;
		.new_title .txt{color:#fff;}
	}
}


// 킴스클럽
.kimsclub{
	.kims_box{position:relative;width:100%;margin:0 auto;
		.kims_type{width:1080px;height:810px;margin:0 auto;padding:20px 0 0;
			.swiper-container{width:1080px;height:810px;}
		}
	}
	.kims-btn{position:relative;width:1080px;margin:0 auto;cursor:pointer;z-index:9;
		.kims-btn-prev{display:block;position:absolute;top:-480px;left:-110px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) 0 -200px no-repeat;z-index:9;
			&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -70px -200px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.kims-btn-next{display:block;position:absolute;top:-480px;right:-110px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) -30px -200px no-repeat;z-index:9;
			&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -100px -200px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	.kims-pagi{margin-top:29px;height:20px;text-align:center;z-index:9;
		span{display:inline-block;padding:0;margin:0 4px;width:20px;height:20px;float:inherit;background:url(../../images/pcweb/renewal/store_pagi.png) no-repeat;cursor:pointer;
			&.swiper-active-switch{background:url(../../images/pcweb/renewal/store_pagi.png) 0 -20px no-repeat;}
		}
	}
}
@media screen and (max-width:1420px){
	.kimsclub .kims-btn{
		.kims-btn-prev{width:56px;height:78px;top:-492px;left:0;background:url(../../images/pcweb/header/kims_df_btn.png) 0 0 no-repeat;
			&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) 0 -80px no-repeat;}
		}
		.kims-btn-next{width:56px;height:78px;top:-492px;right:0;background:url(../../images/pcweb/header/kims_df_btn.png) -60px 0 no-repeat;
			&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) -60px -80px no-repeat;}
		}
	}
}
.ie678 .kimsclub .kims-btn{
	.kims-btn-prev{left:0;}
	.kims-btn-next{right:0;}
}
.kimsclub{
	.prod{float:left;width:540px;background:#fff;
		ul{
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:269px;height:404px;border-left:1px solid #353535;border-bottom:1px solid #353535;
				.thumb{padding:0;
					img{width:269px;height:269px;}
				}
				.cont{padding:10px 20px;color:#353535;
					.brand_nm{display:block;font-size:18px;height:20px;font-weight:bold;}
					.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;}
				}
				.box_price{padding:0px 19px 18px;
					.p_dis{display:block;height:16px;margin-bottom:6px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
					.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
						em{font-size:14px;font-weight:400;}
					}
					.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
						em{font-size:12px;font-weight:400;}
					}
					.p_tot2{display:inline-block;line-height:19px;color:#3e3e3e;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
						em{font-size:14px;font-weight:400;}
					}
				}
			}
		}
	}
	.type01{width:1080px;margin:0 auto;
		&:after{display:block;clear:both;content:'';}
		.ban{float:left;width:539px;
			a img{width:539px;height:809px;}
		}
		.prod{width:540px;}
	}
	.type02 .prod{width:1080px;}
	.type03 .ban{float:left;width:1080px;
		a img{width:1080px;height:809px;}
	}
}

// 추천 기획전
.renewal{
	.recomplan{width:1080px;margin:0 auto;padding:39px 0 40px;
		.ban{width:1095px;padding:22px 0 0;
			&:after{display:block;clear:both;content:'';}
			li{float:left;margin:0 15px 15px 0;
				iframe{vertical-align:top;}
			}
		}
		.ban_btn{margin-top:16px;height:20px;text-align:center;z-index:9;
			span{display:inline-block;width:20px;height:20px;padding:0;margin:0 4px;width:20px;height:20px;float:inherit;background:url(../../images/pcweb/renewal/store_pagi.png) no-repeat;cursor:pointer;font-size:1px;text-indent:-9999px;
				&.on{background:url(../../images/pcweb/renewal/store_pagi.png) 0 -20px no-repeat;}
			}
		}
	}
	.mdhouse{padding:44px 0 36px;background:#3a4a4f;
		.new_title .txt{color:#fff;}
		.md_ban{width:1079px;margin:0 auto;padding:18px 0 0;
			img{width:1079px;height:404px;}
		}
		.md_prod{width:1079px;margin:0 auto;overflow:hidden;
			.box_list{width:1080px;border-top:1px solid #3a4a4f;
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:216px;height:216px;border:1px solid #3a4a4f;margin:-1px;}
			}
		}
		ul li{position:relative;
			.thumb img{width:215px;height:215px;}
			.cont{padding:55px 20px 0;color:#fff;
				.brand_nm{display:block;font-size:18px;font-weight:bold;}
				.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;}
			}
			.info{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../../images/pcweb/renewal/bg_mdhouse.png) repeat;}
			&:hover .info,&:focus .info{display:block;}
			.box_price{padding:8px 20px 0;
				.p_dis{display:block;height:16px;margin-bottom:5px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
				.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
				.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
					em{font-size:12px;font-weight:400;}
				}
				.p_tot2{display:inline-block;line-height:19px;color:#fff;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
			}
		}
	}
	.btn_mdhous{margin-top:40px;text-align:center;
		a{font-size:18px;color:#68918c;font-weight:bold;letter-spacing:-1px;
			.ico{padding-right:19px;background:url(../../images/pcweb/renewal/ico_mdhouse.png) right center no-repeat;}
		}
	}
	.kinders{padding:44px 0 36px;background:#033842;
		.new_title .txt{color:#fff;}
		.kd_ban{width:1079px;margin:0 auto;padding:18px 0 0;
			img{width:1079px;height:404px;}
		}
		.kd_prod{width:1079px;margin:0 auto;overflow:hidden;
			.box_list{width:1080px;border-top:1px solid #3a4a4f;
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:216px;height:216px;border:1px solid #3a4a4f;margin:-1px;}
			}
		}
		ul li{position:relative;
			.thumb img{width:215px;height:215px;}
			.cont{padding:55px 20px 0;color:#fff;
				.brand_nm{display:block;font-size:18px;font-weight:bold;}
				.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;}
			}
			.info{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../../images/pcweb/renewal/bg_kinders.png) repeat;}
			&:hover .info,&:focus .info{display:block;}
			.box_price{padding:8px 20px 0;
				.p_dis{display:block;height:16px;margin-bottom:5px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
				.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
				.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
					em{font-size:12px;font-weight:400;}
				}
				.p_tot2{display:inline-block;line-height:19px;color:#fff;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
			}
		}
	}
	.btn_kinders{margin-top:40px;text-align:center;
		a{font-size:18px;color:#68918c;font-weight:bold;letter-spacing:-1px;
			.ico{padding-right:19px;background:url(../../images/pcweb/renewal/ico_kinders.png) right center no-repeat;}
		}
	}
	.kinder{padding:44px 0 36px;background:#edaa00;
		.new_title .txt{color:#fff;}
		.kd_ban{width:1079px;margin:0 auto;padding:18px 0 0;
			img{width:1079px;height:404px;}
		}
		.kd_prod{width:1079px;margin:0 auto;overflow:hidden;
			.box_list{width:1080px;border-top:1px solid #3a4a4f;
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:216px;height:216px;border:1px solid #edaa00;margin:-1px;}
			}
		}
		ul li{position:relative;
			.thumb img{width:215px;height:215px;}
			.cont{padding:55px 20px 0;color:#fff;
				.brand_nm{display:block;font-size:18px;font-weight:bold;}
				.prod_nm{display:block;margin-top:5px;height:30px;line-height:15px;font-size:14px;font-weight:400;overflow:hidden;}
			}
			.info{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../../images/pcweb/renewal/bg_kinders.png) repeat;}
			&:hover .info,&:focus .info{display:block;}
			.box_price{padding:8px 20px 0;
				.p_dis{display:block;height:16px;margin-bottom:5px;color:#8e8e8e;font-size:14px;font-weight:400;text-decoration:line-through;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
				.p_tot{display:inline-block;line-height:19px;color:#ff7112;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
				.p_per{display:inline-block;padding:0 4px;height:19px;line-height:19px;color:#fff;font-size:15px;font-weight:bold;vertical-align:top;background:#ff7112;
					em{font-size:12px;font-weight:400;}
				}
				.p_tot2{display:inline-block;line-height:19px;color:#fff;font-size:22px;font-weight:bold;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
					em{font-size:14px;font-weight:400;}
				}
			}
		}
	}
	.btn_kinder{margin-top:40px;text-align:center;
		a{font-size:18px;color:#fff;font-weight:bold;letter-spacing:-1px;
			.ico{padding-right:19px;background:url(../../images/pcweb/renewal/ico_kinder.png) right center no-repeat;}
		}
	}
	.mdrecom{position:relative;padding:40px 0 0;margin:0 auto;background:#f5f6f1;
		.ctg_box{position:relative;background:#e9e9e4;z-index:10;
			&.fixed{position:fixed;top:0;left:0;width:100%;padding-top:41px;}
		}
		.ctg_box_dim{display:none;height:0;width:100%;padding-top:145px;}
		.ctg_tab{position:relative;width:1170px;margin:15px auto 0;
			.swiper-container{position:relative;width:1080px;height:128px;border-left:1px solid #ccc;overflow:hidden;}
			ul{position:absolute;top:0;left:0;width:9999px;
				&:after{display:block;clear:both;content:'';}
				li{position:relative;float:left;width:107px;height:126px;border:1px solid #afafaf;border-left:0;text-align:center;cursor:pointer;background:#fff;
					a{display:block;height:126px;}
					img{padding-top:12px;width:62px;height:62px;}
					span{display:block;margin:6px 12px;height:32px;line-height:16px;color:#3f3f41;font-size:14px;overflow:hidden;font-weight:bold;}
					&.on span:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:7px;background:#ff730d;}
				}
			}
		}
		.ctg_btn{position:relative;width:1080px;margin:15px auto 0;z-index:10;
			a{position:absolute;top:0;width:30px;height:110px;transition:left 0.3s,right 0.3s;-o-transition:left 0.3s,right 0.3s;-ms-transition:left 0.3s,right 0.3s;-moz-transition:left 0.3s,right 0.3s;-webkit-transition:left 0.3s,right 0.3s;}
			.prev{left:-105px;width:45px;height:128px;background:url(../../images/pcweb/renewal/new_ctgbtn_prev.png) 0 0 no-repeat;}
			.next{right:-105px;width:45px;height:128px;background:url(../../images/pcweb/renewal/new_ctgbtn_next.png) 0 0 no-repeat;}
			a.active{background-position:0 -128px;}
		}
		.ctg_con{position:relative;width:1080px;margin:0 auto;padding:15px 0 0;height:589px;
			#ctgcon1,#ctgcon2,#ctgcon3,#ctgcon4,#ctgcon5,#ctgcon6,#ctgcon7,#ctgcon8,#ctgcon9,#ctgcon10,#ctgcon11,#ctgcon12,#ctgcon13,#ctgcon14,#ctgcon15,#ctgcon16,#ctgcon17,#ctgcon18,#ctgcon19,#ctgcon20{position:absolute;top:-183px;width:100%;height:1px;}
		}
	}
}

// 비정형 배너
.ban_fixed{position:fixed;bottom:0;left:50%;margin-left:-540px;z-index:100;
	.btn_close{position:absolute;top:0;right:0;width:30px;height:30px;background:#333;}
}

 // 2017.08.16 리뉴얼 메인 레이아웃 수정
.renewal{
	.p_tot em,.p_tot2 em{vertical-align:2px;}
	.ctgbn{
		.p_tot em,.p_tot2 em{vertical-align:1px;}
	}
}
