@charset "utf-8";
@import "header";
@include brandMallHdr("lloyd");

.lloyd{
	&.main_evt_bn{margin:10px 0;background:#fff;}
	&.renewal2_brand{ // 우선순위 점유
		.layer_fix .sch_wrap{background:#00381d;
			// .sch_box{background:#f3f3f3;border-radius:0;}
			.qr{background-image:url(../../images/mobile/common/btn_bcd_lloyd.png);}
		}
		.layer_fix .sch_btn{background-image:url(../../images/mobile/category/btn_sch_form_lloyd.png);}
		.sch_cls{color:#fff;}
	}
}

// layout
.m_cts .lloyd{
	.goods_list{border-top:1px solid #e7e7e7;}
	&.main_rec_plan .goods_list{border:none;}
}
.lloyd .footer{padding:15px 0 50px;}
section.lloyd{border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;}

// main big banner
.lloyd{
	.main_bn_wrap{margin:0 auto;background:#fff;
		.bt_opa_lyr{background:url(../../images/mobile/main/btn_bn_all_folder.png) no-repeat 0 0;background-size:50px 26px;-webkit-background-size:50px 26px;}
		.swiper-bn-right{width:11px;height:21px;right:13px;margin:-10px 0 0;background:url(../../images/mobile/main/btn_arr_folder.png) no-repeat -11px 0;background-size:22px 21px;-webkit-background-size:22px 21px;}
		.swiper-bn-left{width:11px;height:21px;left:13px;margin:-10px 0 0;background:url(../../images/mobile/main/btn_arr_folder.png) no-repeat 0 0;background-size:22px 21px;-webkit-background-size:22px 21px;}
		.swiper-pagination-switch{width:9px;height:9px;background:url(../../images/mobile/main/lloyd_swp_pg.png) no-repeat -9px 0;background-size:18px 9px;-webkit-background-size:18px 9px;}
		.swiper-active-switch{background-position:0 0;}
		.pagination{bottom:8px;}
	}
	&.main_best{margin:10px 0 10px;background:#fff;
		h3{display:block;position:relative;height:auto;padding:20px 0 15px;line-height:17px;background:#fff;text-align:center;
			b{display:inline-block;padding:0 0 10px;font-size:17px;line-height:17px;color:#333;background:url(../../images/mobile/main/bar_lloyd_tit.jpg) no-repeat center bottom;background-size:30px 2px;-webkit-background-size:30px 2px;}
		}
		h4{margin:0 45px 12px;text-align:center;background:url(../../images/mobile/main/bg_h4_whoau.gif) 0 center repeat-x;background-size:4px 3px;-webkit-background-size:4px 3px;
			span{padding:0 10px;font-size:14px;background:#fff;}
		}
		.md_rec_sel{height:42px;padding:0;border:none;
			.select{width:100%;height:42px;padding:0 35px 0 12px;border:none;border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;background:#fff url(../../images/mobile/main/arrow_lloyd_slt.png) no-repeat right center;background-size:22px 6px;-webkit-background-size:22px 6px;}
			+ .goods_list{border-top:1px solid #e7e7e7;}
		}
		.goods_list li{
			.g_brd{display:none;}
			.g_per{color:#df3434;}
			.g_tit{margin:10px 0 6px;}
			.g_prc .org{text-decoration:line-through;}
		}
		.goods_list_more{border:none;
			button{border-bottom:none;
				em{padding:0 0 0 24px;line-height:38px;background:url(../../images/mobile/main/ico_more_lloyd.png) no-repeat left 10px;background-size:18px 18px;-webkit-background-size:18px 18px;
					b{font-weight:400;}
				}
			}
		}
		.goods_list.slide{border:none;padding:0 10px;
			li{background:none;border:none;
				.g_wrap{padding:12px 5px;}
				.g_nor{padding-left:42px;}
				.g_tit{height:15px;margin:5px 0 4px;white-space:nowrap;text-overflow:ellipsis;}
			}
		}
	}
	&.main_md_rec .goods_list_more{border:none;}
	&.main_rec_plan{padding:0;margin:0 0 10px;background:#fff;box-sizing:border-box;
		h3{display:block;position:relative;height:auto;padding:20px 0 15px;line-height:17px;background:#fff;text-align:center;
			b{display:inline-block;padding:0 0 10px;font-size:17px;line-height:17px;color:#333;background:url(../../images/mobile/main/bar_lloyd_tit.jpg) no-repeat center bottom;background-size:30px 2px;-webkit-background-size:30px 2px;}
		}
		.md_rec_sel{height:42px;padding:0;border:none;
			.select{width:100%;height:42px;padding:0 35px 0 12px;border:none;border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;background:#fff url(../../images/mobile/main/arrow_lloyd_slt.png) no-repeat right center;background-size:22px 6px;-webkit-background-size:22px 6px;}
		}
		.goods_list{
			&::before{display:none;}
			ul{margin:0;}
			li{border:none;
				.g_img .per{background:#df3434;}
				.g_brd{display:none;}
				.g_prc{.org{text-decoration:line-through;}
					overflow:visible;
					.sale{margin:2px 0 0;line-height:18px;}
				}
				.g_tit{height:15px;margin:15px 0 6px;}
			}
		}
		.rec_plan_bn{border:none;border-bottom:#ddd 1px solid;border-top:#ddd 1px solid;
			ul li + li{margin:10px 0 0;}
		}
	}
	&.main_md_rec{margin:0 0 10px;border-bottom:none;
		h3{display:block;position:relative;height:auto;padding:20px 0 15px;line-height:17px;background:#fff;text-align:center;
			b{display:inline-block;padding:0 0 10px;font-size:17px;line-height:17px;color:#333;background:url(../../images/mobile/main/bar_lloyd_tit.jpg) no-repeat center bottom;background-size:30px 2px;-webkit-background-size:30px 2px;}
		}
	}
	.lnb .lnb_hd .home{width:130px;height:46px;background:url(../../images/mobile/common/m_lst_08.jpg) no-repeat 12px center;background-size:120px 23px;-webkit-background-size:120px 23px;}
	.lnb_dim{background:#232323;}
	.lnb{
		.lnb_log,.lnb_mall dt{background:#232323;}
		.lnb_tnb{border-top:1px solid #dedede;background:#fff;
			li{background:none;
				a{color:#232323;height:20px;border-bottom:none;border-left:1px solid #dedede;}
				&:first-child a{border-left:none;}
				&.myp a{background-image:url(../../images/mobile/common/tab_lnb_myp_02.png);}
				&.drv a{background-image:url(../../images/mobile/common/tab_lnb_drv_02.png);}
				&.wish a{background-image:url(../../images/mobile/common/tab_lnb_wish_02.png);}
				&.cs a{background-image:url(../../images/mobile/common/tab_lnb_cs_02.png);}
				&.cpn a{background-image:url(../../images/mobile/common/tab_lnb_cpn_02.png);}
			}
		}
		.lnb_mn{
			&.brd_btn{top:185px;}
			&.mall_btn{top:115px;}
		}
	}
}

// lloyd main_best
@media screen and (min-width:640px){
	.lloyd.main_best .goods_list.slide li{width:auto!important;}
}
@media screen and (max-width:359px){
	.lloyd.main_best .goods_list.slide li{
		.g_land{height:25px;}
		.g_per b{font-size:18px;}
		.g_prc .sale{height:14px;line-height:14px;
			b{font-size:13px;}
		}
	}
}

// search layer
// .layer_fix{
// 	.sch_wrap{background:#00371c;}
// 	.sch_btn{background:url(../../images/mobile/category/btn_sch_form_lloyd.png) no-repeat 0 0;background-size:40px 38px;-webkit-background-size:40px 38px;}
// 	.sch_qr .sch_wrap .qr{border-color:#668777;}
// 	.sch_word .s_word{li a b{color:#00371c;}
// 	border:none;}
// }

// goods_info
.goods_info .gd_prc dd{
	&.prc .rt{background:#00371c;}
	&.bnf .bp{color:#00371c;}
}
.goods_opt .gd_amt{color:#00371c;}
.goods_list li{
	.g_per,.g_land .g_per{color:#c02431;}
}
.goods_ord .btns .buy{background:#00371c;}
.goods_opt{
	.gd_btns .buy{background:#00371c;
		&[disabled="disabled"]{background:#00371c;}
	}
	.gd_cls button{background:url(../../images/mobile/goods/btn_opt_cls_lloyd.png) no-repeat 50% 50%;background-size:77px 21px;-webkit-background-size:77px 21px;}
}
.goods_list .tlist li .g_cart{background:#00371c url(../../images/mobile/category/btn_tlist_cart_br.png) no-repeat 0 0;background-size:38px 38px;-webkit-background-size:38px 38px;}

// instagram
.insta_lloyd{overflow:hidden;padding:0 8px 20px;margin:10px 0 0;border-top:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;background:#fff;box-sizing:border-box;
	h3{display:block;position:relative;padding:16px 0;margin:0 4px;text-align:center;
		img{width:34%;max-width:100px;height:auto;}
	}
	dl dd{overflow:hidden;float:left;width:33.3%;padding:0 4px;box-sizing:border-box;
		+ dd + dd + dd{margin:8px 0 0;}
		a{overflow:hidden;display:block;position:relative;width:100%;height:100%;}
		img{display:block;position:absolute;left:0;top:0;width:100%;height:auto;}
	}
}

.store_lloyd{padding:15px 12px 0;
	a{display:block;
		img{width:100%;height:auto;}
	}
}

.store_wrap{
	img{width:100%;height:auto;}
}

// BRAND MAIN BANNER/HTML BANNER
.lloyd{
	.brd_mainban{margin:10px 0;background:#fff;}
	.main_top{padding-left:35px;background:#fff;transition:all .3s;-webkit-transition:all .3s;
		.eland{position:absolute;left:-35px;top:0;width:35px;height:37px;background:url(../../images/mobile/main/elandmall_black.png) center center no-repeat;background-size:24px 24px;z-index:10;
			a{display:block;width:100%;height:37px;font-size:0;color:transparent;text-indent:-9999px;}
		}
	}
}


.lloyd{
	.store_wrap{
		h3{height:51px;line-height:51px;font-size:17px;color:#333;font-weight:bold;text-align:center;background:#f4f5f7;}
		.img{
			img{display:block;width:100%;height:auto;}
		}
	}
}
//option select layer
.lloyd .lyr_select .sel_btn.selected .sel_txt{color:#00371c;}