@charset "utf-8";
.area_lv1:after,.area_lv3:after{display:block;content:'';clear:both;}
.area_lv2{float:left;}
.area_lv4{float:left;margin-left:10px;}
.area_lv1 .area_lv2:first-child,.area_lv3 .area_lv4:first-child{margin-left:0;}
.area_lv1{width:1080px;margin:0 auto;
	&.bpbnr{width:100%;}
}
.ie8 .swiper-wrapper,.safari .swiper-wrapper{position:relative;overflow:hidden;}
.xmas .mall_select li a{display:block;height:40px;text-indent:-1000em;background:url('../../images/pcweb/common/img_tab_mall_xmas2.png') 0 0 no-repeat;}

// 프로모션 배너
.box_promotion_bnr{position:relative;
	.set_controll{position:relative;width:1194px;margin:0 auto;}
}
.d_promo_container.type02{
	ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:650px;height:390px;
		li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;opacity:0;filter:alpha(opacity = 0);}
	}
	.btn_prev_move{display:block;position:absolute;top:50%;left:0;z-index:9;width:30px;height:80px;margin-top:-50px;background:url('../../images/pcweb/common/btn_bnr_prev01.png') 0 0 no-repeat;
		&:hover{background:url('../../images/pcweb/common/btn_bnr_prev01_on.png') 0 0 no-repeat;}
		span{display:block;overflow:hidden;text-indent:-999px;}
	}
	.btn_next_move{display:block;position:absolute;top:50%;right:0;z-index:9;width:30px;height:80px;margin-top:-50px;background:url('../../images/pcweb/common/btn_bnr_next01.png') 0 0 no-repeat;
		&:hover{background:url('../../images/pcweb/common/btn_bnr_next01_on.png') 0 0 no-repeat;}
		span{display:block;overflow:hidden;text-indent:-999px;}
	}
}

// 1080px
.box_promotion_bnr.wide{.d_promo_container.type02 ul.d_bnr_cont{width:100%;min-width:1080px;height:530px;}
	.d_bnr_cont li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;
		a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
			img{display:inline;}
		}
	}
}
.d_promo_container.type02{
	.set_controll{width:1080px;}
	.btn_prev_move{position:absolute;top:292px;left:-47px;display:block;overflow:hidden;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 0 no-repeat;
		&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 -33px no-repeat;}
	}
	.btn_prev span{display:block;text-indent:-9999px;}
	.btn_next_move{position:absolute;top:292px;right:-47px;display:block;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px 0 no-repeat;
		&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px -33px no-repeat;}
	}
}
.set_indicator{position:absolute;bottom:13px;left:0;right:0;z-index:9;text-align:center;
	ul{display:inline-block;margin-right:8px;font-size:0;line-height:0;vertical-align:top;
		li{display:inline-block;
			a{margin-left:2px;display:inline-block;width:14px;height:14px;font-size:0;line-height:0;text-indent:-9999px;background:url('../../images/pcweb/common/ico_indi.png') center center no-repeat;vertical-align:top;
				&.on{background:url('../../images/pcweb/common/ico_indi_on.png') center center no-repeat;}
			}
		}
	}
	&.type02 ul{margin-right:13px;
		li a{margin-left:10px;background:url('../../images/pcweb/common/ico_indi03.png') center center no-repeat;
			&.on{background:url('../../images/pcweb/common/ico_indi03_on.png') center center no-repeat;}
		}
	}
	.d_auto{display:inline-block;margin-top:-3px;height:20px;font-size:0;line-height:0;vertical-align:top;
		.d_play{display:inline-block;width:20px;height:20px;background:url('../../images/pcweb/common/ico_indi_play.png') center center no-repeat;text-indent:-9999px;}
		.d_stop{display:inline-block;width:20px;height:20px;background:url('../../images/pcweb/common/ico_indi_stop.png') center center no-repeat;text-indent:-9999px;}
	}
	&.type02 .d_auto{
		.d_play{display:inline-block;width:20px;height:20px;background:url('../../images/pcweb/common/ico_indi_play02.png') center center no-repeat;text-indent:-9999px;}
		.d_stop{display:inline-block;width:20px;height:20px;background:url('../../images/pcweb/common/ico_indi_stop02.png') center center no-repeat;text-indent:-9999px;}
	}
	.d_auto{
		&.ons .d_play,.d_stop{display:block;}
	}
	&.type02 .d_auto{
		&.ons .d_play,.d_stop{display:block;}
	}
	.d_auto{
		&.ons .d_stop,.d_play{display:none;}
	}
	&.type02 .d_auto{
		&.ons .d_stop,.d_play{display:none;}
	}
	.swiper-pagination-switch{display:block;float:left;width:12px;height:12px;padding:2px;margin-left:0;background:url('../../images/pcweb/common/ico_indi.png') center center no-repeat;font-size:1px;line-height:1px;text-indent:-9999px;
		&.swiper-active-switch{background-image:url('../../images/pcweb/common/ico_indi_on.png');}
	}
}
.safari .set_indicator.type02 ul li a{margin-left:8px;}
.box_bn{margin-top:70px;margin-bottom:-10px;
	.area_lv2{margin-left:10px;}
	.area_lv3{margin:10px 0;
		&:first-child{margin-top:0;}
	}
}
.sbox_best{float:left;width:535px;
	.title .tit_h2_02 strong{display:inline-block;background:url('../../images/pcweb/modern/bg_tit_best_md.png') no-repeat 0 5px;padding:0 0 0 20px;}
	.bnr_top{
		a{display:block;position:relative;}
		img{display:block;width:535px;height:262px;}
	}
	.brand_nm{display:block;overflow:hidden;width:215px;height:16px;color:#333;font-weight:600;white-space:nowrap;text-overflow:ellipsis;}
	.prod_nm{display:block;overflow:hidden;width:215px;height:16px;color:#666;white-space:nowrap;text-overflow:ellipsis;}
	.box_info{display:block;position:absolute;top:25px;left:25px;}
	.box_price{margin-top:6px;
		&:after{display:block;clear:both;content:'';}
		.dis_percent{float:left;margin-right:5px;height:40px;line-height:40px;color:#c22433;font-size:15px;font-family:"Verdana","Nanum Gothic",sans-serif;
			strong{font-size:30px;font-weight:normal;letter-spacing:-2px;}
		}
		.cont_price{float:left;
			.price01{letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			.prime{color:#999;}
			.cur_price{color:#333;}
			.c_price{margin-top:5px;color:#333;font-size:14px;font-weight:600;
				strong{margin:0 2px 0 0;font-size:15px;font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
	}
	.bnr_top .box_price{margin-top:10px;
		.dis_percent{float:inherit;line-height:inherit;}
		.cont_price{float:inherit;margin-top:5px;}
	}
	.bnr_btm{margin-top:10px;
		&:after{display:block;content:'';clear:both;}
		.lb01{float:left;position:relative;}
		.lb02{float:left;position:relative;margin-left:11px;}
	}
}

// sbox_na
.sbox_na{float:left;
	.title .tit_h2_02 strong{display:inline-block;background:url('../../images/pcweb/modern/bg_tit_na_md.png') no-repeat 0 1px;padding:0 0 0 20px;}
	.list_roll_na{position:relative;width:535px;height:535px;background:#f3f3f3;
		li{float:left;
			a{display:block;}
		}
	}
	.swiper-container{overflow:hidden;width:370px;height:465px;margin:0 auto;padding-top:60px;}
	.list_roll_na{
		.p_tit{display:block;overflow:hidden;max-width:370px;height:15px;margin-top:20px;line-height:15px;color:#333;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
		.p_price{display:block;margin-top:4px;font-weight:bold;font-size:15px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;text-align:center;}
		.btn_prev{position:absolute;top:240px;left:20px;display:block;overflow:hidden;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 -33px no-repeat;}
			span{position:absolute!important;left:-99999px;top:-99999px;overflow:hidden;text-indent:-9999px;font-size:1px;line-height:1px;color:#fff;}
		}
		.btn_next{position:absolute;top:240px;right:20px;display:block;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px -33px no-repeat;}
			span{position:absolute!important;left:-99999px;top:-99999px;overflow:hidden;text-indent:-9999px;font-size:1px;line-height:1px;color:#fff;}
			&:focus{}
		}
		.btn_prev:focus{}
		.set_indicator{position:absolute;top:25px;left:0;right:0;bottom:inherit;text-align:center;}
		.box_price{margin-top:10px;text-align:center;
			.price01{margin-bottom:4px;height:16px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				.prime{color:#999;}
				.cur_price{color:#333;}
			}
			.c_price{font-size:14px;color:#333;font-weight:600;
				strong{margin:0 2px 0 5px;font-size:15px;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.dis_percent{color:#c22433;font-size:15px;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;
				strong{letter-spacing:-2px;}
			}
		}
	}
	.set_indicator{
		ul{margin-right:2px;}
		.d_auto{margin:-2px;}
	}
}
.box_bc{margin:70px auto;width:1080px;
	.list_bc{padding:0 19px;
		&:after{display:block;content:'';clear:both;}
		li{float:left;width:100px;height:130px;margin:0 15px;}
	}
}
.tit_h2_bar01{position:relative;margin-bottom:26px;font-size:18px;color:#333;text-align:center;
	> strong{display:block;padding-bottom:10px;}
	&:after{display:block;content:'';width:30px;height:1px;margin:0 auto;background:#ddd;}
}
.box_fs_wrap{width:100%;}
.box_fs{position:relative;padding:50px 0 60px;background:#f3f3f3;
	.swiper-container{overflow:hidden;width:1080px;height:430px;margin:0 auto;}
	.fs_controll{position:relative;z-index:10;width:1080px;margin:0 auto;}
	.list_roll_fs{
		li{float:left;position:relative;}
		.swiper-wrapper li > a{width:534px;height:430px;overflow:hidden;background:url('../../images/pcweb/common/bg_blank.png') repeat 0 0;
			span{display:block;text-indent:-9999px;}
		}
		.p_tit{display:block;margin-top:30px;color:#999;text-align:center;}
		.p_price{display:block;margin-top:4px;font-weight:bold;font-size:15px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;text-align:center;}
		.btn_prev{position:absolute;top:200px;left:20px;display:block;overflow:hidden;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 -33px no-repeat;}
			span{display:block;text-indent:-9999px;}
		}
		.btn_next{position:absolute;top:200px;right:20px;display:block;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px -33px no-repeat;}
			span{display:block;text-indent:-9999px;}
		}
		.set_indicator{position:absolute;left:0;right:0;bottom:22px;text-align:center;}
	}
}

.box_mp{width:1080px;margin:65px auto 0;
	.list_mp{
		&:after{display:block;content:'';clear:both;}
		li{float:left;width:240px;height:240px;margin:0 15px;
			a{position:relative;display:block;width:240px;height:240px;
				img{width:240px;height:240px;}
			}
		}
		.box_info{display:none;position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;padding:0 20px;border:2px solid #ca9e71;background:#fff;}
		.hover .box_info{display:block;}
		.bi_cont{display:table-cell;width:240px;height:240px;vertical-align:middle;text-align:center;}
		.brand_nm{display:block;font-weight:800;color:#333;}
		.prod_nm{display:block;overflow:hidden;height:34px;margin-top:5px;font-size:13px;color:#666;}
		.box_price{margin-top:20px;
			.price01{margin-bottom:4px;height:16px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				.prime{color:#999;}
				.cur_price{color:#333;}
			}
			.c_price{font-size:14px;color:#333;font-weight:600;
				strong{margin:0 2px 0 5px;font-size:15px;font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.dis_percent{color:#c22433;font-size:14px;letter-spacing:-2px;
				strong{font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
	}
}
.box_ss{position:relative;width:1080px;margin:100px auto 0;
	.list_ss{border-top:1px solid #000;
		&:after{display:block;content:'';clear:both;}
		li{float:left;width:270px;padding-top:19px;text-align:center;
			a{display:block;width:260px;padding:0 5px;height:377px;}
			&.gap{margin:0 270px 0 0;}
		}
		.box_info{margin:20px 10px 0;padding-top:14px;border-top:1px solid #ddd;}
		.brand_nm{display:block;overflow:hidden;height:18px;color:#333;font-weight:600;}
		.prod_nm{display:block;overflow:hidden;height:18px;color:#666;}
	}
	.btn_ss{position:absolute;top:-31px;left:294px;width:222px;height:408px;
		a{display:block;overflow:hidden;height:408px;background-position:0 0;text-indent:-9999px;
			&:hover{background-position:-222px 0;}
		}
	}
	.list_ss .box_price{margin-top:5px;
		.price01{margin-bottom:2px;height:16px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
			.prime{color:#999;}
			.cur_price{color:#333;}
		}
		.c_price{font-size:13px;color:#333;font-weight:600;
			strong{margin:0 2px 0 5px;font-size:14px;font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
		}
		.dis_percent{color:#c22433;font-size:14px;letter-spacing:-2px;
			strong{font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
		}
	}
}

.box_wow{position:relative;width:1080px;margin:100px auto 0;
	.list_wow{border-top:1px solid #000;
		&:after{display:block;content:'';clear:both;}
		li{float:left;width:270px;padding-top:19px;text-align:center;
			a{display:block;width:260px;padding:0 5px;height:377px;}
			&.gap{margin:0 270px 0 0;}
		}
		.box_info{margin:20px 10px 0;padding-top:14px;border-top:1px solid #ddd;}
		.brand_nm{display:block;overflow:hidden;height:18px;color:#333;font-weight:600;}
		.prod_nm{display:block;overflow:hidden;height:18px;color:#666;}
		.box_price{margin-top:5px;
			.price01{margin-bottom:2px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				.prime{color:#999;}
				.cur_price{color:#333;}
			}
			.c_price{font-size:13px;color:#333;font-weight:600;
				strong{margin:0 2px 0 5px;font-size:14px;font-weight:800;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.dis_percent{color:#c22433;font-size:14px;letter-spacing:-2px;
				strong{font-weight:800;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
	}
	.btn_wow{position:absolute;top:-31px;left:563px;width:222px;height:408px;
		a{display:block;overflow:hidden;height:408px;background-position:0 0;text-indent:-9999px;
			&:hover{background-position:-222px 0;}
		}
	}
}
.box_btr_wrap{width:100%;}
.box_btr{margin-top:50px;background:#ffd543;height:630px;
	.btr_cont{position:relative;width:1080px;height:630px;margin:0 auto;}
	.s_tit{padding:50px 0 0;text-align:center;}
	.list_btr{position:absolute;top:184px;left:0;right:0;
		&:after{display:block;content:'';clear:both;}
		li{float:left;width:240px;margin:0 15px;
			a{position:relative;display:block;overflow:hidden;}
			.img_round{position:absolute;top:0;left:0;width:240px;height:240px;background:url('../../images/pcweb/modern/bg_butter_round.png') no-repeat 0 0;}
			.cont{margin-top:28px;}
		}
		.thumb img{width:240px;height:240px;}
		.prod_nm{display:block;overflow:hidden;height:16px;text-overflow:ellipsis;white-space:nowrap;color:#333;text-align:center;font-weight:600;}
		.box_price{margin-top:9px;text-align:center;
			.price01{margin-bottom:3px;height:16px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				.prime{color:#777;}
				.cur_price{color:#333;}
			}
			.c_price{color:#333;font-size:14px;font-weight:600;
				strong{margin:0 2px 0 5px;font-size:15px;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
		.dis_percent{position:absolute;top:0;right:0;width:60px;height:60px;line-height:60px;color:#fff;font-size:12px;font-weight:600;text-align:center;background:url(../../images/pcweb/modern/bg_butter_percent.png) no-repeat;
			strong{font-size:20px;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
		}
	}
	.btn_btr_more{display:block;overflow:hidden;position:absolute;bottom:40px;left:50%;width:191px;height:38px;margin-left:-97px;}
}
.xmas .box_btr{background:#c81212;
	.list_btr{
		li .img_round{background:url('../../images/pcweb/modern/bg_butter_round_xmas.png') no-repeat 0 0;}
		.prod_nm{color:#fff;}
		.box_price .price01{.prime,.cur_price{color:#fff;}
		}
	}
	&.list_btr .box_price .price01 .prime{color:#fff;}
	.list_btr{
		.box_price .c_price{color:#fff;}
		.dis_percent{background:url(../../images/pcweb/modern/bg_butter_percent_xmas.png) no-repeat;}
	}
}
.box_stshop{position:relative;width:1020px;margin:65px auto;padding-bottom:38px;
	.stshop_controll{position:relative;z-index:10;}
	.swiper-container{overflow:hidden;width:1020px;height:450px;margin:0 auto;
		li{width:1020px;}
	}
	.list_roll_stshop{
		li{float:left;position:relative;}
		.swiper-wrapper li > a{overflow:hidden;background:url('../../images/pcweb/common/bg_blank.png') repeat 0 0;}
		li{
			.link01{display:block;position:absolute;top:0;left:0;width:820px;height:450px;
				img{width:820px;height:450px;}
			}
			.link02{display:block;position:absolute;top:0;right:0;width:170px;height:224px;border-bottom:1px solid #ddd;text-align:center;
				img{width:170px;height:170px;}
				.tx_price{display:block;margin-top:5px;font-size:15px;}
			}
			.link03{display:block;position:absolute;top:236px;right:0;width:170px;height:214px;text-align:center;
				.tx_price{display:block;margin-top:5px;font-size:15px;letter-spacing:-1px;}
				img{width:170px;height:170px;}
			}
			.link01{
				strong{overflow:hidden;position:absolute;bottom:0;right:0;display:block;width:100px;height:35px;background:url('../../images/pcweb/modern/bg_shop_now.png') no-repeat 0 0;text-indent:-9999px;}
				&:hover strong{background-position:0 -35px;}
			}
			.price01{margin:4px 0 2px;font-size:13px;letter-spacing:-1px;font-family:"Verdana","Nanum Gothic",sans-serif;
				.prime{color:#999;}
				.cur_price{color:#333;}
			}
			.c_price{color:#333;font-size:13px;font-weight:600;
				strong{margin:0 2px 0 4px;font-size:13px;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.box_price .dis_percent{color:#c22433;font-size:13px;letter-spacing:-2px;
				strong{font-size:14px;font-weight:800;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
		.p_tit{display:block;margin-top:30px;color:#999;text-align:center;}
		.p_price{display:block;margin-top:4px;font-weight:bold;font-size:15px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;text-align:center;}
		.btn_prev{position:absolute;top:200px;left:-37px;display:block;overflow:hidden;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') 0 -33px no-repeat;}
			span{display:block;text-indent:-9999px;}
		}
		.btn_next{position:absolute;top:200px;right:-37px;display:block;width:17px;height:33px;background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px 0 no-repeat;
			&:hover{background:url('../../images/pcweb/modern/bg_prevnext01.png') -17px -33px no-repeat;}
			span{display:block;text-indent:-9999px;}
		}
		.set_indicator{position:absolute;left:0;right:0;bottom:0;text-align:center;}
	}
}
.box_recom_wrap{margin-top:50px;}
.box_recom_mod{margin-right:10px;background:#f3f3f3;float:left;width:353px;height:180px;
	.list_recom{
		li a{overflow:hidden;display:block;padding:30px;}
		.thumb{float:left;}
		.cont{padding:0 15px 0 140px;}
		.tit{display:block;overflow:hidden;height:16px;padding-top:7px;font-size:14px;color:#333;font-weight:800;}
		.txt{display:block;overflow:hidden;height:32px;padding-top:7px;color:#999;}
		.id{height:22px;margin-top:36px;padding-left:22px;background:url('../../images/pcweb/common/ico_id.png') no-repeat 0 0;font-weight:800;color:#333;}
	}
}
.box_rev_mod{float:left;width:353px;height:180px;margin-right:10px;
	a{display:block;}
	img{width:353px;height:180px;}
}
.box_evt_mod{position:relative;float:left;width:353px;height:180px;
	.swiper-container{overflow:hidden;width:353px;height:180px;margin:0 auto;}
	.list_roll_evt{
		li{float:left;position:relative;}
		.swiper-wrapper li > a{width:353px;height:180px;overflow:hidden;background:url('../../images/pcweb/common/bg_blank.png') repeat 0 0;
			span{display:block;text-indent:-9999px;}
		}
		.set_indicator{position:absolute;left:32px;right:inherit;bottom:16px;}
	}
}
.box_md_info_mod{float:left;width:353px;margin-top:70px;padding-top:40px;border-top:2px solid #000;
	li{float:left;margin-left:45px;
		&:first-child{margin-left:48px;}
	}
}
.box_notice_mod{float:left;width:344px;margin-top:70px;padding:40px 10px 0 20px;border-top:2px solid #000;
	dt{margin-bottom:15px;}
	dd{margin-top:6px;
		&:first-child{margin-top:0;}
		a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	}
	.set_sns{margin-top:30px;
		&:after{display:block;content:'';clear:both;}
		li{float:left;margin-left:42px;
			&:first-child{margin-left:0;}
			a{display:block;}
		}
	}
}
.box_news_mod{position:relative;float:left;width:353px;margin-top:70px;padding-top:30px;border-top:2px solid #000;
	.list_roll_news{
		li{float:left;}
		.swiper-wrapper li > a{width:196px;height:196px;overflow:hidden;background:url('../../images/pcweb/common/bg_blank.png') repeat 0 0;
			span{display:block;text-indent:-9999px;}
		}
	}
	.swiper-container{overflow:hidden;width:196px;height:196px;margin:0 auto;}
	.list_roll_news .set_indicator{position:absolute;left:0;right:0;bottom:-30px;}
}
#footer{margin-top:93px;}
.title{
	.tit_h2_02.txt_en,.tit_h2_bar01.txt_en{letter-spacing:2px;}
}

// HEADER
.modern{
	.header{height:181px;border-bottom:1px solid #ddd;background:url('../../images/pcweb/common/bg_tnb_md.png') 0 0 repeat-x;}
	&.xmas .header{min-width:1080px;background:url('../../images/pcweb/common/bg_tnb_md_xmas.jpg') center 0;}
	.head{height:181px;}
	.header h1{position:absolute;left:414px;top:63px;width:252px;height:51px;}
	&.xmas .header h1 a img{visibility:hidden;}
	.hd_tnb dd{
		.off{background-image:url('../../images/pcweb/common/bg_dir_mh_off.png');}
		.on{background-image:url('../../images/pcweb/common/bg_dir_mh_on.png');}
		a .num{background:url('../../images/pcweb/common/bg_ct_cnt_md02.png') 0 0 no-repeat;
			b{color:#222;background:url('../../images/pcweb/common/bg_ct_cnt_md.png') right 0 no-repeat;}
		}
	}
	.mall_select li{
		&.mh{position:relative;bottom:-1px;
			a{background-position:-126px -40px;
				.ir{display:none;}
			}
		}
		&.el a{background-position:0 -40px;}
		&.ki a{width:119px;background-position:-243px -40px;}
	}

	&.xmas {
		.mall_select li{
		&.mh{position:relative;bottom:-1px;
			a{background-position:-133px -40px;
				.ir{display:none;}
			}
		}
		&.el a{background-position:0 -40px;}
		&.ki a{width:119px;background-position:-250px -40px;}
	}
	}
	.bs_selectbox .bs_sel_tit a{color:#cdcdcd;}
	.hd_sch{position:absolute;left:inherit;right:0;top:72px;width:324px;height:40px;
		.sch_wrap{position:relative;width:324px;}
		.sch_box{width:100%;height:40px;border:2px solid #b2b2b2;border-radius:20px;background:transparent;}
		.sch_keyword{overflow:visible;width:320px;border-left:2px solid #000;border-right:2px solid #000;border-bottom:none;
			&:after{display:block;content:'';position:absolute;bottom:-20px;left:-2px;width:100%;height:20px;border: 2px solid #000;border-top: none;border-radius: 0 0 20px 20px;background:#fff;overflow:hidden;}
			.f_keyword{padding-bottom:0;
				dt{position:absolute;top:0;left:160px;width:159px;height:40px;
					button{display:block;width:160px;height:40px;border:0;border-bottom:1px solid #ddd;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
						&.on{border-bottom:0;color:#333;font-weight:bold;background:#fff;}
					}
					&:first-child{left:0;width:159px;border-right:1px solid #ddd;color:#ff0000;font-weight:bold;
						button{width:159px;}
					}
				}
				dd .s_del{height:24px;}
			}
		}
		.input{width:259px;height:14px;padding:10px 0 10px 20px;border:0;background:none;font-size:13px;/*line-height:34px;*/color:#fff;
			&.placeholder{color:#bfbeba;}
			&::-webkit-input-placeholder{color:#bfbeba;}
			&::-moz-placeholder{color:#bfbeba;}
			&:-moz-placeholder{color:#bfbeba;}
			&:-ms-input-placeholder{color:#bfbeba;}
			&:placeholder{color:#bfbeba;}
		}
	}
	&.xmas .hd_sch{
		.input{
			&.placeholder,&::-webkit-input-placeholder,&::-moz-placeholder,&:-moz-placeholder,&:-ms-input-placeholder{color:#fff;}
		}
		&.on .input{
			&.placeholder
			&::-webkit-input-placeholder{color:#999;font-size:16px;font-weight:800;}
			&::-moz-placeholder{color:#999;font-size:16px;font-weight:800;}
			&:-moz-placeholder{color:#999;font-size:16px;font-weight:800;}
			&:-ms-input-placeholder{color:#999;font-size:16px;font-weight:800;}
		}
	}
	.hd_sch{
		.input{
			&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
		}
		.sch_del{display:none;position:absolute;right:47px;top:13px;width:14px;height:14px;text-indent:-9999px;cursor:pointer;background:url("../../images/pcweb/common/btn_sch_del.png") no-repeat 50% 50%;}
		.sch_btn{position:absolute;right:0;top:1px;display:block;width:45px;height:38px;border:0;cursor:pointer;text-indent:-9999px;background:url("../../images/pcweb/common/btn_hd_sch_md.png") no-repeat 50% 50%;}
		&.on{
			.input{color:#564f49;font-size:16px;font-weight:800;}
			.sch_box{width:100%;border-radius:20px 20px 0 0;border:0;background:#fff;overflow:hidden;}
			.sch_btn{top:0;height:40px;background:url("../../images/pcweb/common/btn_hd_sch_on_md.png") no-repeat 50% 50%;}
		}
		.sch_keyword .s_keyword li a b{color:#c02431;}
	}
}

// header search
.hd_sch .sch_keyword .f_keyword dd li.rank a{color:#c02431;
	.num{color:#c02431;}
}
.modern{
	.hd_sch .d_sch_complete .k_brand{border-top:1px solid #ddd;}
	.hd_catg{position:absolute;left:0;top:142px;width:auto;height:auto;background:none;z-index:33;
		.catg_bt{position:relative;margin:0;padding:2px 10px 0 15px;width:94px;height:42px;text-align:left;font-size:13px;line-height:36px;color:#333;font-weight:800;letter-spacing:-1px;background:url("../../images/pcweb/common/bu_catg_off.png") no-repeat 74px 19px;
			&.on{width:94px;padding:0 0 0 13px;border:2px solid #333;border-bottom:none;background:#fff url("../../images/pcweb/common/bu_catg_on.png") no-repeat 72px 16px;z-index:4002;}
		}
	}
	.hd_disp{position:absolute;left:93px;top:144px;width:1020px;height:37px;background:none;
		dl:after{display:block;content:'';clear:both;}
		dd{position:relative;float:left;width:81px;height:40px;font-size:13px;line-height:37px;color:#332c20;text-align:center;font-weight:800;letter-spacing:-1px;background:url("../../images/pcweb/common/bu_hd_disp.png") no-repeat 0 13px;
			> a{display:block;overflow:hidden;height:40px;color:#332c20;}
			&.season{width:89px;}
			&.tree{width:95px;
				img{display:inline-block;margin:-4px 4px 0 0;}
				a{color:#da1515;
					&:hover{color:#da1515;}
				}
				&.active > a{color:#da1515;}
			}
			a img{vertical-align:middle;}
			&.season a img{margin-right:4px;}
			&.dd > a{display:inline-block;padding-right:18px;background:url("../../images/pcweb/common/bu_catg_off.png") no-repeat right 17px;
				&.on{background:url("../../images/pcweb/common/bu_catg_on.png") no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-60px;z-index:33;}
		dd.active{
			.depth2{display:block;width:120px;border:2px solid #000;background:#fff;text-align:left;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url('../../images/pcweb/common/bg_hd_depth2_on.png') no-repeat 0 0;}
				ul{padding:15px 10px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;}
				}
			}
			> a{color:#c9000b;}
		}
	}
	.catg_wrap{
		.catg_lyr{position:absolute;top:39px;left:0px;border-color:#333;overflow:visible;
			.bt_close{background:url("../../images/pcweb/common/btn_lyr_cls_md.png") no-repeat 0 0;}
		}
		.catg_all dl{
			&.spc dt{color:#ca9e71;}
			dt a:hover{color:#ca9e71;background:url(../../images/pcweb/modern/ico_link_arrow_md.gif) right 10px no-repeat;}
			dd a .flag_new{background:url('../../images/pcweb/common/ico_new_md.png') 0 center no-repeat;}
		}
	}
	.hd_cnb{position:absolute;top:85px;left:18px;
		li{float:left;
			a{display:block;font-size:14px;font-weight:800;
				span{display:inline-block;color:#bfbeba;}
				&:hover span{color:#fff;}
			}
		}
		.m01{margin-right:20px;
			span{padding-left:23px;background:url('../../images/pcweb/common/ico_cnb01_md.png') no-repeat 0 -2px;}
		}
		.m02{margin-right:22px;
			span{padding-left:22px;background:url('../../images/pcweb/common/ico_cnb04_md.png') no-repeat 0 0;}
		}
		.m03{margin-right:17px;
			span{padding-left:22px;background:url('../../images/pcweb/common/ico_cnb05_md.png') no-repeat 0 0;}
		}
		.m04 span{padding-left:24px;background:url('../../images/pcweb/common/ico_cnb03_md.png') no-repeat 0 -2px;}
		.m01 a:hover span{background-image:url('../../images/pcweb/common/ico_cnb01_on_md.png');}
		.m02 a:hover span{background-image:url('../../images/pcweb/common/ico_cnb04_on_md.png');}
		.m03 a:hover span{background-image:url('../../images/pcweb/common/ico_cnb05_on_md.png');}
		.m04 a:hover span{background-image:url('../../images/pcweb/common/ico_cnb03_on_md.png');}
	}
	&.header_fix{
		.head{background-image:none;}
		.header{position:fixed;height:46px;border-bottom:0;background:url('../../images/pcweb/common/bg_header_fix.png') 0 0 repeat-x;
			&:before{display:none;}
		}
		.hd_sch{top:3px;height:40px;margin:8px 0 0;
			.sch_wrap{width:390px;}
			.sch_box{height:40px;}
			.sch_btn{top:0;height:40px;}
			.sch_del{top:13px;}
			.input{width:327px;height:16px;padding:9px 0 9px 20px;border:0;background:none;font-size:13px;color:#fff;}
			&.on .input{color:#564f49;font-size:16px;font-weight:800;}
		}
		.mall_select li{
			&.mh{bottom:0;}
			&.el a{background-position:-156px 0;}
			&.mh a{background-position:-156px -38px;}
		}
		.hd_tnb{right:0;}
		.sch_keyword{top:39px;}
		.hd_cnb{display:none;}
		.catg_wrap .catg_lyr{top:54px;border-color:#333;
			&:before{top:-2px;left:-2px;}
		}
		.hd_catg{position:absolute;left:0;top:0px;z-index:4004;width:38px;height:56px;background:none;
			.catg_bt{width:40px;height:56px;text-indent:-1000em;background:url("../../images/pcweb/common/btn_hd_catg.png") no-repeat 0 0;
				&.on{background:url("../../images/pcweb/common/btn_hd_catg.png") no-repeat 0 0;border:none;}
				span{top:0;}
			}
		}
	}
}

// HEADER - fixed
.ie8 .modern.header_fix .hd_sch .input{height:14px;padding-top:10px;padding-bottom:10px;}

 // modern wing
.modern.main .wing_menu{top:565px;}
.header_fix.modern.main .wing_menu{top:52px;}
