// lloyd 
.lloyd{
	.header{height:176px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_lloyd.jpg) repeat-x;
		.hd_mall{position:relative;width:auto;}
		.head{height:176px;}
		.bs_select{display:inline-block;vertical-align:top;
			.bs_tit{position:relative;display:block;margin:8px 0;padding:4px 10px;width:93px;height:16px;color:#848484;font-size:11px;font-weight:700;border:1px solid #ececec;
				.bs_open{position:absolute;top:-1px;right:-1px;width:27px;height:26px;color:#fff;text-indent:-9999px;background:url(../../images/pcweb/header/header_v1.png) no-repeat;background-position:-260px 0;}
				&.selected:after{background-position:-290px 0;}
			}
		}
		h1{left:453px;top:67px;width:auto;
			a{display:block;}
		}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_lloyd.png) center center no-repeat;color:#f8de8b;}
	.hd_tnb{
		dd{position:relative;color:#333;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #e0e0e0;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#333;
				.num{background:url(../../images/pcweb/header/bg_ct_lloyd01.png) no-repeat;
					b{color:#fff;background:url(../../images/pcweb/header/bg_ct_lloyd02.png) right 0 no-repeat;}
				}
			}
			.on,.off{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_lloyd.png) 5px center no-repeat;background-position:-20px -40px;}
		}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_lloyd.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
		}
	}
	.hd_sch{left:inherit;right:0;top:67px;width:260px;height:40px;background:url(../../images/pcweb/header/header_lloyd.png) no-repeat 0 -210px;
		.sch_box{border:none;background:none;}
		.sch_wrap,.sch_box{height:40px;}
		.sch_btn{width:40px;height:40px;top:0;right:0;background:url(../../images/pcweb/header/header_lloyd.png) no-repeat -175px -158px;}
		.sch_del{top:12px;right:40px;background:url(../../images/pcweb/header/btn_sch_del_eblin.png) no-repeat center center;}
		.input{width:200px;padding:12px 0 12px 20px;background:none;color:#222;font-family:'Malgun Gothic';}
		input.placeholder{color:#666;}
		.input{
			&::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder,&:-moz-placeholder{color:#666;}
		}
		&.on{
			&:before,&:after{display:none;}
			.sch_wrap{background:#fff;border-radius:20px 20px 0 0;}
			.sch_box{background:none;}
			.input{font-weight:700;font-size:13px;color:#222;font-family:'Malgun Gothic';}
			.sch_btn{background-position:-223px -158px;}
		}
		.sch_keyword{width:256px;top:36px;left:0;padding:0;border-left:#333 2px solid;border-right:#333 2px solid;background:#fff;
			// &:after{content:'';display:block;width:260px;height:20px;position:absolute;left:-2px;background:url(../../images/pcweb/header/header_lloyd.png) no-repeat 0 -315px;}
			.s_del,.f_keyword,.s_keyword{border-top:#ddd 1px solid;}
			.f_keyword{padding:49px 0 0;
				.s_del{border-left:none;border-right:none;}
				dt{left:128px;width:128px;color:#dadada;background:#f3f3f3;border:none;
					button{width:128px;color:#dadada;background:#f3f3f3;border:none;}
					&:first-child{left:0;}
				}
				dd li a{color:#333;
					.num{color:#333;}
				}
				dt button{border:#ddd 1px solid;border-top:none;color:#666;
					&.on{border:#fff 1px solid;color:#333;background:#fff;}
				}
			}
			.s_keyword li a b{color:#000;}
		}
		.d_sch_complete{border-top:1px solid #ddd;
			.s_keyword{border-top:none;}
		}
	}
	.hd_sns{position:absolute;top:67px;left:0;width:140px;height:41px;
		ul{background:url(../../images/pcweb/header/header_lloyd.png) no-repeat 0 -158px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:40px;height:41px;
				+ li{margin:0 0 0 10px;}
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.hd_catg{top:132px;bottom:0;height:44px;background:none;
		.catg_bt{position:relative;width:180px;height:44px;padding:0 0 0 54px;font-weight:normal;font-size:14px;background:#002b15 url(../../images/pcweb/header/lloyd_ctg.png) no-repeat;color:#f8de8b;text-align:left;font-family:'Malgun Gothic';
			&.on{background:#002b15 url(../../images/pcweb/header/lloyd_ctg.png) no-repeat 0 -42px;
				&:after{background-position:-42px -140px;}
			}
		}
	}
	.catg_wrap{
		.catg_lyr{width:auto;height:auto;top:42px;border:none;background:none;max-width:1080px;
			.bt_close{right:-34px;bottom:0;background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{position:relative;padding:0 0 22px 1px;width:auto;height:auto;border:2px solid #333;background:#fff;
			ul{display:table;margin:0;padding-left:30px;overflow:hidden;
				+ ul{border-top:none;}
			}
			> ul{border-bottom:none;}
			li{float:inherit;display:table-cell;padding:0 48px 0 0;width:160px;
				dl{width:160px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:url(../../images/pcweb/common/ico_link_arrow01.gif) no-repeat 100% 10px;}
			}
		}
	}
	.hd_disp{left:182px;top:132px;bottom:0;height:44px;width:auto;background:none;
		dl{float:right;width:auto;
			&:after{display:block;content:'';clear:both;}
		}
		dd{width:auto;height:44px;/* padding:0 12px; */letter-spacing:0;line-height:44px;color:#fff;font-weight:600; background:none;
			+ dd{}
			> a{display:block;overflow:hidden;height:44px;font-weight:normal;font-size:14px;color:#fff;font-family:'Malgun Gothic';letter-spacing:0;}
			&.active > a{color:#f8de8b;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:42px;left:50%;margin-left:-55px;text-align:left;z-index:33;}
		dd.active .depth2{display:block;width:170px;margin:0;left:50%;margin-left:-85px;border:2px solid #000;background:#fff;
			&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
			ul{padding:14px 12px;}
			li a{display:block;padding:4px 0;color:#666;font-weight:400;text-align:center;
				&:hover{font-weight:800;color:#333;text-decoration:underline;}
			}
		}
	}
	.bs_selectbox{padding:8px 0;
		.bs_sel_tit{border:1px solid #ececec;
			a span{padding:0 10px;font-weight:bold;color:#5f5f5f;border-right:1px solid #ddd;letter-spacing:0;}
		}
	}
	&.header_fix{padding-top:120px;
		&.main{padding-top:176px;}
		.header{height:56px;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.bs_select{margin:8px 0 0 6px;
				.bs_tit{width:84px;padding-left:0;border:none;background:url(../../images/pcweb/header/bu_brand_arrow02.gif) no-repeat 0 25px;}
			}
			.move_link{margin-top:15px;}
			.bs_select .bs_tit{
				.bs_open{width:11px;height:6px;top:10px;right:10px;background-position:-70px -130px;}
				&.selected .bs_open{background-position:-70px -140px;}
			}
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.mall_select{position:relative;display:none;}
		.hd_tnb{right:0;padding-top:20px;margin-right:143px;}
		.header .bs_select .bs_tit{color:#fff;}
		.hd_tnb dd{color:#fff;
			a{color:#fff;}
		}
		.catg_wrap{background:none;}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;padding:0;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&:after,&:before{background:none;}
			}
		}
		.hd_sns{display:none;}
		.hd_sch{position:relative!important;left:0;top:0;width:390px;margin:8px 0 0 16px;z-index:4005;border:none;
			&.on:before{display:none;}
			.sch_wrap{
				.sch_box{background:#fff;}
			}
		}
	}
	.hd_sch.on:after{display:none;}
	&.header_fix{
		.hd_sch{
			&.on .sch_box{background:none;}
			.sch_keyword .f_keyword dt{left:128px;
				&:first-child{left:0;}
			}
			input.placeholder{color:#666;}
			.input{
				&::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder,&:-moz-placeholder{color:#666;}
			}
		}
		.hd_zone{display:none;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.hd_tnb{margin:0;}
		.bs_selectbox{padding:0 0 0 10px;
			.bs_sel_tit a{background:url(../../images/pcweb/header/header_lloyd.png) no-repeat -161px -100px;}
			&.hover .bs_sel_tit a{background-position:-186px -100px;}
		}
		.catg_wrap .catg_lyr{top:54px;}
		.hd_tnb dd{
			a .num{background:url(../../images/pcweb/header/bg_ct_lloyd01_fix.png) no-repeat;
				b{color:#333;background:url(../../images/pcweb/header/bg_ct_lloyd02_fix.png) right 0 no-repeat;}
			}
			.on{background-position:-19px -69px;color:#333;}
		}
		.hd_sch{
			.sch_btn{background-position:-223px -158px;}
			.input{height:16px;}
		}
	}
	.recomplan{width:1080px;margin:0 auto; padding:0;
		.ban{width:1095px; padding:0;
			&:after{display:block;clear:both; content:'';}
			li{float:left; margin:0 15px 15px 0;
				iframe{ vertical-align:top;}
			} 
		} 
		.ban_btn{margin-top:16px;height:20px;text-align:center; z-index:9;
			span{display:inline-block;width:20px;height:20px;padding:0;margin:0 4px;width:20px;height:20px;float:inherit;background:url(../../images/pcweb/renewal/store_pagi.png) no-repeat;cursor:pointer;font-size:1px; text-indent:-9999px;
				&.on{ background:url(../../images/pcweb/renewal/store_pagi.png) 0 -20px no-repeat;}
			} 
		} 
	} 
} 
.ie8 .lloyd{
	.hd_disp dd{letter-spacing:-1px;}
	&.header_fix .hd_catg .catg_bt:before{display:none;}
}

// lloyd Footer
.lloyd{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
	.brand_select{dl:first-child,.ldeco,.rdeco{border-top:#ededed 1px solid;}
	}
	.foot_sns{width:140px;height:41px;overflow:hidden;
		ul{background:url(../../images/pcweb/header/header_lloyd.png) no-repeat 0 -158px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:40px;height:41px;
				+ li{margin:0 0 0 10px;}
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1194px;margin:0 auto;}
		&.wide{
			.d_promo_container.type02 ul.d_bnr_cont{width:100%;min-width:1080px;height:540px;}
			.d_bnr_cont li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
	}
	.d_promo_container{
		&.type02{
			ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:650px;height:540px;z-index:8;
				li{opacity:0;filter:alpha(opacity = 0);}
			}
			.set_controll{width:1080px;}
		}
		.btn_prev_move{display:block;position:absolute;top:300px;left:-47px;z-index:9;width:22px;height:43px;background:url(../../images/pcweb/main/bg_prevnext_lloyd.png) 0 -43px no-repeat;
			&:hover{background:url(../../images/pcweb/main/bg_prevnext_lloyd.png) 0 0 no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;top:300px;right:-47px;z-index:9;width:22px;height:43px;background:url(../../images/pcweb/main/bg_prevnext_lloyd.png) -22px -43px no-repeat;
			&:hover{background:url(../../images/pcweb/main/bg_prevnext_lloyd.png) -22px 0 no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	&.lloyd .set_indicator{bottom:22px;
		&.type02 ul li a{width:16px;height:16px;margin-left:10px;background:url(../../images/pcweb/common/ico_indi06.png) center center no-repeat;
			&.on{background:url(../../images/pcweb/common/ico_indi06_on.png) center center no-repeat;}
		}
	}
	.safari .main.lloyd .set_indicator.type02 ul li a{margin-left:8px;}
	.set_indicator{
		&.type02 .d_auto{
			.d_play{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_play02.png) center center no-repeat;text-indent:-9999px;}
			.d_stop{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_stop02.png) center center no-repeat;text-indent:-9999px;}
		}
		.d_auto{margin:-3px 0 0 8px;
			&.ons .d_play,.d_stop{display:block;}
			&.ons .d_stop,.d_play{display:none;}
		}
		&.type02 .d_auto{
			&.ons .d_play,.d_stop{display:block;}
			&.ons .d_stop,.d_play{display:none;}
		}
	}
}

// lloyd layout
.lloyd{
	.type_bx{position:relative;width:1080px;margin:75px auto 0;}
	.bt_more{position:absolute;right:0;top:4px;padding:0 8px;color:#666;font-size:11px;background:#fff url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.type_bx h3{display:block;padding:0 0 30px;text-align:center;background:url(../../images/pcweb/main/lloyd_tit_ln.png) repeat-x center 12px;
		span{display:inline-block;padding:0 20px;font-weight:700;font-size:24px;line-height:24px;background:#fff;color:#333;font-family:'Malgun Gothic';}
	}
	.TYPE li dl .prc div .wm .er em{display:none;}
	.list_recom_type .list_product01 li{border:#fff 1px solid;}
	&.main .wing_menu{top:605px;}
	&.header_fix .wing_menu{top:52px;}
	.bnr_sub{width:1080px;margin:40px auto 0;
		ul{width:1104px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;margin:0 24px 12px 0;}
		}
	}
}

// lloyd tab 
.brand_tab{overflow:hidden;position:relative;width:100%;height:42px; margin:0 0 30px;
	li{float:left;position:relative;height:42px;padding:0 22px; text-align:center;
		a{display:block;height:16px;padding:0 5px;font-size:14px;line-height:10px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif; letter-spacing:-0.05em;}
	} 
	.on{ 
		a{color:#234d29;font-weight:bold; border-bottom:2px solid #234d29;}
	} 
	&.center{ text-align:center;
		li{display:inline-block; float:none;
			+ li{ margin:0 0 0 8px;}
		} 
	} 
} 

// lloyd plan
.lloyd{
	&.main .list_product01{
		.brand_nm{display:none;}
		.list{
			.over .thumb:before,.links:hover .thumb:before{border:none;}
		}
		.prod_nm{font-size:13px;color:#666;}
		.box_price .c_price{color:#fff;
			strong{display:block;font-size:14px;color:#333;}
		}
	}
	.bx_notice{width:1080px;margin:80px auto 0;padding:30px 0 60px;background:url(../../images/pcweb/main/lloyd_tit_ln.png) repeat-x center 0;
		&:after{display:block;clear:both;content:'';}
		.store{width:100%;
			&:after{display:block;clear:both;content:'';}
			a{display:block;float:left;
				+ a{margin:0 0 0 15px;}
			}
		}
	}
}

// instagram
.type_bx h3.sns{font-weight:700;font-size:20px;line-height:36px;background:none;color:#000;font-family:'Malgun Gothic';
	span{display:inline-block;width:170px;height:38px;padding:0;margin:0 8px 0 0;background:url(../../images/pcweb/main/lloyd_insta.png) no-repeat 0 0;text-indent:-9999px;}
}
.lloyd{
	.sns_instagram{
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:216px;height:216px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.cmn_tab_intro ul li.on a{background:#01371d;}
	// .rsch_box{background:#e9f2ed;}
	// .rsch_bar{background:#e9f2ed;
	// 	.bar{span{border-color:#d5e6dc;}
	// 		button{background:#01371d;}
	// 	}
	// }
	// .rsch_word strong{color:#01371d;}
}
// point color
.no_cate strong{color:#01371d;}
.lloyd{
	.list_product01 .dis_percent{color:#df3434;}
	// .box_sch_save button{border-color:#01371d;background:#01371d;}
	// .cate_area02 .cate_tit{background:#01371d;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_lloyd.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_lloyd_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#01371d!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#01371d;background:#01371d;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{margin-top:40px;
		&:after{display:block;clear:both;content:'';}
		.img{float:left;}
		.tx{float:left;margin:30px 0 0 50px;}
	}
}

// store_open
.store_open{
	h2{margin-top:35px;text-align:center;}
	.store dt{margin:30px 0;text-align:center;}
	.bx{margin:40px 0 0;}
}

//option select layer
.lloyd .lyr_select .sel_btn.selected .sel_txt{color:#00371c;}