@charset "utf-8";
@import "header";
@include brandMallHdr("whoau");

.whoau{
	&.renewal2_brand{ // 우선순위 점유
		.layer_fix .sch_wrap{background:#fff;
			.sch_box{border:1px solid #f18612;border-radius:0;}
			.qr{background-image:url(../../images/mobile/common/btn_bcd_whoau.png);}
		}
		.layer_fix .sch_btn{background-image:url(../../images/mobile/category/btn_sch_form_whoau.png);}
		// .sch_cls{color:#fff;}
	}
	&.main_evt_bn{margin:0;background:#fff;
		li{border-bottom:1px solid #d5d5d5;}
		a{padding-bottom:0;}
	}
	.footer{padding:0 0 50px;}
	.main_bn_wrap{margin:0 auto;padding-bottom:10px;border-bottom:1px solid #d5d5d5;background:#fff;
		.bt_opa_lyr{bottom:10px;background:url(../../images/mobile/main/btn_bn_all_whoau.png) no-repeat 0 0;background-size:50px 26px;-webkit-background-size:50px 26px;}
		.swiper-pagination-switch{margin:0;width:10px;height:10px;background:url(../../images/mobile/main/whoau_swp_pg.png) no-repeat -10px 0;background-size:20px 10px;-webkit-background-size:20px 10px;}
		.swiper-active-switch{background-position:0 0;}
		.pagination{bottom:10px;}
		.swiper-bn-left,.swiper-bn-right{margin:-60px 0 0;}
	}
	.main_ctg_bn{overflow:hidden;padding:12px 0;margin:-10px 0 10px;border-bottom:#d5d5d5 1px solid;background:#fff;box-sizing:border-box;
		dd{float:left;width:25%;
			img{width:100%;height:auto;}
		}
	}
	&.main_evt_bn .bn_size02{margin:6px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;width:50%;
			a{display:block;margin:6px;padding:0;
				img{width:100%;max-width:284px;height:auto;}
			}
		}
	}
}

// whoau main_best
.main_best.whoau{margin-bottom:10px;padding-bottom:45px;border-bottom:1px solid #e6e6e6;background:#fff;
	h3{padding:22px 0 0;color:#000;font-size:16px;text-align:center;
		b{display:inline-block;min-width:140px;height:30px;line-height:30px;border:1px solid #222;}
	}
	h4{margin:25px 0 12px;text-align:center;background:url(../../images/mobile/main/bg_h4_whoau.gif) 0 center repeat-x;background-size:4px 3px;-webkit-background-size:4px 3px;
		span{padding:0 10px;font-size:14px;background:#fff;}
	}
	.goods_list{border-top:none;
		li{background:none;border-bottom:none;}
		&.slide li .g_wrap{padding:12px 5px;}
		li{
			.g_nor{padding-left:42px;}
			.g_brd{color:#fff;height:0;}
			.g_prc .org{text-decoration:line-through;}
		}
	}
}
@media screen and (min-width:640px){
	.whoau.main_best .goods_list.slide li{width:auto!important;}
}
@media screen and (max-width:359px){
	.whoau.main_best .goods_list.slide li{.g_land{height:25px;}
		.g_per b{font-size:18px;}
		.g_prc .sale{height:14px;line-height:14px;
			b{font-size:13px;}
		}
	}
}

// whoau main_md_rec
.whoau{
	.main_md_rec{padding:0;border-bottom:1px solid #d5d5d5;background:#fff;box-sizing:border-box;
		.md_rec_sel{margin-top:20px;}
		h3{height:auto;line-height:inherit;padding:0;margin-top:40px;color:#222;font-size:17px;text-align:center;background:#fff;
			b{display:inline-block;min-width:150px;height:32px;line-height:32px;border:1px solid #222;}
		}
		.md_rec_sel .select{padding:0 12px;font-size:14px;}
		.goods_list{padding-bottom:16px;
			ul{padding:6px;}
			li{border:none;background:none;
				.g_wrap{padding:6px 6px 10px;}
				.g_brd{color:#fff;height:0;}
				.g_land .g_per{display:none;}
				.g_per{color:#de3435;}
				.g_prc .org{text-decoration:line-through;}
				.g_num.best{background:#73c8cb;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
			}
		}
		.goods_list_more{height:60px;padding-bottom:27px;border-bottom:none;
			button{border-bottom:none;display:block;width:40px;height:40px;margin:0 auto;border:none;text-align:center;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#ededed;
				em{position:relative;width:40px;padding:6px 0 0;line-height:30px;font-size:11px;color:#111;letter-spacing:0;background:none;
					i{display:block;height:20px;line-height:20px;color:#333;font-size:13px;font-style:normal;}
					b{font-weight:400;color:#f07e02;}
					span.page{display:block;letter-spacing:-0.5px;}
				}
			}
		}
		.rec_plan_bn{a img,li a img{width:100%;max-width:640px;height:auto;}
		}
	}
	&.main_rec_plan{padding-bottom:50px;background:#fff;
		h3{height:auto;line-height:inherit;padding:27px 0 0;color:#222;font-size:15px;text-align:center;background:#fff;
			b{display:inline-block;min-width:140px;height:32px;line-height:32px;border:1px solid #222;}
		}
		.rec_plan_sel{margin-top:27px;
			.select{padding:0 12px;font-size:14px;}
			+ .goods_list{border-top:1px solid #ddd;}
		}
		.rec_plan_bn{margin:0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
		.goods_list{
			&:before{display:none;}
			li{border:none;
				.g_prc .org{text-decoration:line-through;}
				.g_img .per{background:#df3434;}
				.g_prc{margin:0;padding-bottom:5px;}
			}
		}
		.goods_list_more{margin:15px 0;height:35px;text-align:center;border:none;
			button{display:inline-block;padding:0 15px;width:auto;height:35px;border:1px solid #ddd;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;
				em{padding:0 17px 0 0;line-height:33px;font-size:13px;color:#333;vertical-align:top;background:url(../../images/mobile/category/ico_more_arr_whoau.png) no-repeat right center;background-size:10px 10px;-webkit-background-size:10px 10px;
					b{font-weight:400;color:#fb7f5f;}
				}
			}
		}
	}
}

// instagram
.insta_whoau{background:#fff;
	h3{position:relative;padding:40px 0 0;text-align:center;
		b{display:inline-block;padding:0 12px;background:#fff;
			img{width:172px;max-width:172px;height:auto;vertical-align:top;}
		}
	}
	dl{padding:20px 9px 25px;
		&:after{display:block;clear:both;content:'';}
		dd{overflow:hidden;float:left;width:33.33%;padding:0 4px;box-sizing:border-box;
			+ dd + dd + dd{margin:8px 0 0;}
			a{overflow:hidden;display:block;position:relative;width:100%;height:100%;}
			img{display:block;position:absolute;left:0;top:0;width:100%;height:auto;}
		}
	}
}

// lnb
.whoau{
	.lnb .lnb_hd .home{width:130px;height:46px;background:url(../../images/mobile/common/h1_logo_whoau.png) no-repeat 12px center;background-size:96px 44px;-webkit-background-size:96px 44px;}
	.lnb_dim{background:#232323;}
	.lnb{
		.lnb_log,.lnb_mall dt{background:#232323;}
		.lnb_tnb{border-top:1px solid #dedede;background:#fff;
			li{background:none;
				a{color:#232323;height:20px;border-bottom:none;border-left:1px solid #dedede;}
				&:first-child a{border-left:none;}
				&.myp a{background-image:url(../../images/mobile/common/tab_lnb_myp_02.png);}
				&.drv a{background-image:url(../../images/mobile/common/tab_lnb_drv_02.png);}
				&.wish a{background-image:url(../../images/mobile/common/tab_lnb_wish_02.png);}
				&.cs a{background-image:url(../../images/mobile/common/tab_lnb_cs_02.png);}
				&.cpn a{background-image:url(../../images/mobile/common/tab_lnb_cpn_02.png);}
			}
		}
		.lnb_mn{
			&.brd_btn{top:185px;}
			&.mall_btn{top:115px;}
		}
	}
}

// search layer
// .layer_fix{.sch_wrap{background:#fff;}
// 	.sch_box{height:28px;border:1px solid #ccc;}
// 	.sch_keyword .f_word dt button{border-top:1px solid #ccc;
// 		&.on{border-top:1px solid #000;}
// 	}
// 	.sch_cls{background:url(../../images/mobile/common/pop_close01.png) center center no-repeat;background-size:17px 17px;-webkit-background-size:17px 17px;}
// 	.sch_qr .sch_wrap .qr{border:none;background-color:#000;}
// 	.sch_word .s_word{border-color:#f07d00;
// 		li a b{color:#f07d00;}
// 	}
// }

// goods_info
.goods_info .gd_prc dd{
	&.prc .rt{background:#f07d00;}
	&.bnf .bp{color:#f07d00;}
}
.goods_opt .gd_amt{color:#f07d00;}
.goods_list li{
	.g_per,.g_land .g_per{color:#df3434;}
}
.goods_ord .btns .buy{background:#f07d00;}
.goods_opt{
	.gd_btns .buy{background:#f07d00;
		&[disabled="disabled"]{background:#f07d00;}
	}
	.gd_cls button{background:url(../../images/mobile/goods/btn_opt_cls_whoau.png) no-repeat 50% 50%;background-size:77px 21px;-webkit-background-size:77px 21px;}
}
.goods_list .tlist li .g_cart{background:#f07d00 url(../../images/mobile/category/btn_tlist_cart_br.png) no-repeat 0 0;background-size:38px 38px;-webkit-background-size:38px 38px;}

// footer
.whoau{
	.footer .ft_sns li a{
		&.fb{background:url(../../images/mobile/common/ico_ft_fb2.png) no-repeat 0 0;background-size:30px 30px;-webkit-background-size:30px 30px;}
		&.is{background:url(../../images/mobile/common/ico_ft_is2.png) no-repeat 0 0;background-size:30px 30px;-webkit-background-size:30px 30px;}
		&.ss{background:url(../../images/mobile/common/ico_ft_ss2.png) no-repeat 0 0;background-size:30px 30px;-webkit-background-size:30px 30px;}
	}
	.brd_mainban{margin:0;background:#fff;
		> ul li{border-bottom:1px solid #d5d5d5;}
	}
	.main_top{padding-left:35px;border-bottom:1px solid #e5e5e5;background:#fff;
		.eland{position:absolute;left:-35px;top:0;width:35px;height:37px;background:url(../../images/mobile/main/elandmall_black.png) center center no-repeat;background-size:24px 24px;z-index:10;
			a{display:block;width:100%;height:100%;font-size:0;color:transparent;text-indent:-9999px;}
		}
	}
}