// kinder
.kinder{
	.header{height:214px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_kinder.png) 0 0 repeat-x;}
	.head{height:230px;}
	.header h1{position:absolute;left:20px;top:79px;width:auto;height:32px;
		a{display:block;line-height:32px;
			img{vertical-align:middle;}
		}
	}
	.header_top_banner{
		.btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_kinder.png) center center no-repeat;color:#fff;}
		&.on{
			.btn_hdtb_close{display:block;}
			.btn_hdtb_open{display:none;}
			.btn_hdtb_img{display:block;
				> img{display:inline;}
			}
		}
	}
	.bs_selectbox .bs_sel_tit{border:1px solid #757575;
		a span{padding:0 10px;color:#9f9f9f;border-right:1px solid #757575;}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_kinder.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
			&.kz a{width:116px;background-position:-365px 0;}
		}
	}
	.hd_tnb dd{color:#ffcc4e;
		a .num{background:url(../../images/pcweb/header/bg_ct_kinder01.png) no-repeat;
			b{color:#162f43;background:url(../../images/pcweb/header/bg_ct_kinder02.png) right 0 no-repeat;}
		}
		.on{width:22px;color:#162f43;margin-left:8px;background:url(../../images/pcweb/header/header_kinder.png) 5px center no-repeat;background-position:-20px -40px;}
		.off{width:22px;margin-left:8px;color:#000;background:url(../../images/pcweb/header/header_kinder.png) 5px center no-repeat;background-position:-70px -40px;}
		a{color:#ffcc4e;}
	}
	.hd_sch{position:absolute;left:400px;top:75px;width:390px;height:40px;
		.sch_wrap{position:relative;height:38px;}
		.sch_box{border:none;background:none;width:390px;height:41px;background:#fff;border-radius:20px;}
		.input{width:317px;margin-top:3px;padding:10px 0 12px 20px;border:0;background:none;}
		&.on .input{color:#333;font-size:15px;font-weight:800;}
		.input{
			&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
		}
		.sch_del{display:none;position:absolute;right:50px;top:14px;width:12px;height:12px;text-indent:-9999px;cursor:pointer;background:url(../../images/pcweb/header/header_kinder.png) no-repeat;background-position:-350px -130px;}
		.sch_btn{position:absolute;right:12px;top:5px;display:block;width:30px;height:30px;border:0;cursor:pointer;text-indent:-9999px;background:url(../../images/pcweb/header/header_kinder.png) no-repeat 0 0;background-position:0 -60px;}
		&.on{background-position:0 -170px;
			.sch_box{background:#fff;width:auto;border-radius:20px 20px 0 0;}
		}
		.sch_keyword{overflow:visible;top:36px;width:336px;border:2px solid #162f43;border-top:1px solid #ddd;border-bottom:none;
			// &:after{content:'';position:absolute;bottom:-20px;left:-2px;width:340px;height:20px;background:url(../../images/pcweb/header/header_kinder.png) 0 -230px no-repeat;}
			.s_keyword li a b{color:#edaa00;}
		}
	}
}

// .hd_sch .sch_keyword .f_keyword dd li.rank a{color:#edaa00;
// 	.num{color:#edaa00;}
// }

.kinder{
	.hd_sch{
		.sch_keyword{
			.f_keyword{margin-top:-1px;padding-bottom:0;
				dt{position:absolute;top:0;left:168px;width:168px;height:40px;
					button{display:block;width:168px;height:40px;border:0;border-bottom:1px solid #ddd;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
						&.on{border-bottom:0;color:#333;font-weight:700;background:#fff;}
					}
					&:first-child{left:0;width:167px;border-right:1px solid #ddd;color:red;font-weight:700;
						button{width:167px;}
					}
				}
				dd .s_del{height:24px;margin-top:12px;}
			}
			.s_del{height:24px;}
		}
		.d_sch_complete{border-top:none;
			.k_brand{border-top:1px solid #ddd;}
		}
	}
	.catg_wrap .catg_all dl.spc dt{color:#cca77d;}
	.hd_catg{position:absolute;left:20px;bottom:20px;top:inherit;width:163px;height:87px;background:url(../../images/pcweb/header/header_kinder.png) no-repeat;background-position:0 -260px;
		.catg_bt{position:relative;width:140px;height:38px;margin-top:25px;text-align:left;font-size:15px;line-height:36px;color:#fff;font-weight:800;letter-spacing:-1px;text-indent:38px;background:url(../../images/pcweb/header/kinder_ctg.png) right 0 no-repeat;
			&.on{background:url(../../images/pcweb/header/kinder_ctg.png) right -38px no-repeat;}
			span{position:relative;top:-2px;}
		}
	}
	.hd_disp{position:absolute;left:auto;right:0;top:inherit;bottom:44px;height:40px;background:none;
		dl:after{display:block;content:'';clear:both;}
		dd{position:relative;float:left;width:auto;font-size:16px;line-height:42px;color:#636466;text-align:center;font-weight:800;letter-spacing:-1px;background-image:none;
			> a{display:block;overflow:hidden;height:40px;padding:0;color:#333;background:url(../../images/pcweb/header/header_kinder.png) 0 -350px no-repeat;text-align:center;
				&:hover{color:#fff;}
			}
			&.sale > a{color:#fffefe;}
		}
		dt + dd > a{background:none;}
		dd{
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:42px;left:50%;margin-left:-80px;z-index:51;}
		dd{
			&.active .depth2{display:block;width:160px;border:2px solid #000;background:#fff;text-align:left;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:15px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;}
				}
			}
			.depth2.b_menu{width:530px;padding:16px 7px;margin-left:-270px;z-index:55;
				ul{overflow:hidden;padding:0;background:url(../../images/pcweb/header/kinder_brd_bg.jpg) repeat-y 0 0;}
				&:after{}
				ul{
					&:after{display:block;clear:both;content:'';}
					li{position:relative;float:left;width:120px;height:100%;padding:0 8px;
						+ li{padding:0 8px 0 9px;}
						.b_age{position:relative;width:120px;
							span{display:block;width:120px;height:50px;text-indent:-9999px;}
							.age1{background:url(../../images/pcweb/header/kinder_age_03.png) no-repeat 0 0;}
							.age2{background:url(../../images/pcweb/header/kinder_age_01.png) no-repeat 0 0;}
							.age3{background:url(../../images/pcweb/header/kinder_age_02.png) no-repeat 0 0;}
							.b_name{padding-top:17px;
								a{display:block;overflow:hidden;width:107px;padding:0 0 0 13px;color:#888;font-size:13px;line-height:15px;background:url(../../images/pcweb/header/kinder_age_bar.jpg) no-repeat 4px center;white-space:nowrap;text-overflow:ellipsis;
									+ a{margin:10px 0 0 0;}
									&:hover{color:#333;text-decoration:underline;}
								}
							}
						}
					}
				}
			}
			&.active .depth2.b_menu ul li .b_age .b_name a:focus{color:#333;text-decoration:underline;}
			.depth2.b_menu ul .kids{width:240px;
				.b_age{width:240px;
					.age2{width:240px;background:url(../../images/pcweb/header/kinder_age_04.png) no-repeat 0 0;}
					.b_name a{float:left;
						+ a{margin:0;
							+ a{margin:10px 0 0 0;}
						}
					}
				}
			}
		}
	}
	.catg_wrap .catg_lyr{position:absolute;left:0;top:63px;border-color:#333;overflow:visible;
		.bt_close{background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
	}
	.hd_bn{top:90px;left:0;right:inherit;width:308px;height:40px;
		.bn_lst{float:none;width:308px;height:40px;}
		.bt_hd_btns{top:4px;right:0;
			.bt_hd_prev{display:block;float:none;width:17px;height:16px;background:transparent url(../../images/pcweb/header/header_kinder.png) no-repeat;background-position:0 -190px;text-indent:-9999px;}
			.bt_hd_next{display:block;float:none;width:17px;height:15px;background:transparent url(../../images/pcweb/header/header_kinder.png) no-repeat;background-position:0 -206px;text-indent:-9999px;}
		}
	}
	.catg_wrap .catg_all{height:auto;padding-top:14px;
		ul{width:1050px;margin-left:30px;overflow:hidden;}
		li{padding:0 50px 0 0;width:160px;
			dl{min-height:162px;}
		}
		dl{
			dt{margin-bottom:13px;
				a{max-width:100%;background:url(../../images/pcweb/common/ico_link_arrow01_kinder.gif) no-repeat 100% 2px;color:#333;
					&:hover{background:url(../../images/pcweb/common/ico_link_arrow02_kinder.gif) no-repeat 100% 2px;color:#9cc;}
				}
			}
			dd{padding:2px;}
		}
	}
	.hd_cnb{position:absolute;top:82px;right:0;margin-right:12px;
		li{float:left;
			a{display:block;height:22px;font-size:14px;font-weight:800;line-height:22px;
				span{display:inline-block;padding:0 8px;color:#333;}
				&:hover span{color:#75503a;}
			}
		}
	}
	&.header_fix{padding-top:174px;
		&.main{padding-top:230px;}
		.header{border-bottom:0;background:url(../../images/pcweb/common/bg_header_fix.png) 0 0 repeat-x;}
		.head{background-image:none;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.mall_select{display:none;
			li{
				&.mh{bottom:0;}
				&.el a{background-position:-156px 0;}
				&.mh a{background-position:-156px -38px;}
			}
		}
		.hd_catg{top:0;left:0;width:40px;height:56px;background:none;
			.catg_bt{width:40px;height:56px;margin:0;text-indent:-1000em;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&.on{border:none;}
				&:after{background:none;}
				span{top:0;}
			}
		}
		.hd_tnb{right:0;}
		.hd_cnb{display:none;}
		.catg_wrap .catg_lyr{top:56px;
			&:before{top:-2px;left:-2px;}
		}
		.hd_sch{margin-top:8px;
			&.on{
				.sch_wrap:before{top:-2px;}
			}
			.input{padding:8px 0 10px 20px;font-size:13px;}
		}
	}
}
.ie8 .kinder.header_fix{.hd_sch .input{height:14px;padding-top:10px;padding-bottom:10px;}
	.hd_catg .catg_bt:after{background:none;}
}

// kinder Footer
.kinder{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1194px;margin:0 auto;}
		&.wide{
			.d_promo_container.type02 ul.d_bnr_cont{width:100%;min-width:1080px;height:500px;}
			.d_bnr_cont li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
	}
	.d_promo_container.type02{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:650px;height:390px;z-index:8;
			li{opacity:0;filter:alpha(opacity = 0);}
		}
		.set_controll{width:1080px;}
		.btn_prev_move{position:absolute;top:220px;left:25px;display:block;overflow:hidden;width:40px;height:98px;background:url(../../images/pcweb/main/kinder_promo_bt.png) 0 -98px no-repeat;
			&:hover{background:url(../../images/pcweb/main/kinder_promo_bt.png) 0 0 no-repeat;}
		}
		.btn_prev span{display:block;text-indent:-9999px;}
		.btn_next_move{position:absolute;top:220px;right:25px;display:block;width:40px;height:98px;background:url(../../images/pcweb/main/kinder_promo_bt.png) -40px -98px no-repeat;
			&:hover{background:url(../../images/pcweb/main/kinder_promo_bt.png) -40px 0 no-repeat;}
		}
	}
	&.kinder .set_indicator{bottom:22px;
		&.type02 ul li a{width:16px;height:16px;margin-left:10px;background:url(../../images/pcweb/common/ico_indi03_on.png) center center no-repeat;
			&.on{background:url(../../images/pcweb/common/ico_indi04_on.png) center center no-repeat;}
		}
	}
	.safari .main.kinder .set_indicator.type02 ul li a{margin-left:8px;}
	.set_indicator{
		&.type02 .d_auto{
			.d_play{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_play02.png) center center no-repeat;text-indent:-9999px;}
			.d_stop{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_stop02.png) center center no-repeat;text-indent:-9999px;}
		}
		.d_auto{margin:-3px 0 0 8px;
			&.ons .d_play,.d_stop{display:block;}
			&.ons .d_stop,.d_play{display:none;}
		}
		&.type02 .d_auto{
			&.ons .d_play,.d_stop{display:block;}
			&.ons .d_stop,.d_play{display:none;}
		}
	}
}

// kinder layout
.kinder{
	.type_bx{position:relative;width:1080px;margin:70px auto 0;
		h3{display:block;padding:0 0 30px;font-weight:700;font-size:22px;line-height:1;color:#333;text-align:center;font-family:"Verdana","Nanum Gothic",sans-serif;}
	}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.kinder_plan.bt_more{width:auto;top:-30px;}
	.TYPE li dl{
		dt em{display:block;font-weight:700;font-size:13px;color:#666;}
		.prc{margin-top:18px;
			div .wm .er{
				em{display:none;}
				strong{font-size:13px;}
			}
		}
	}
	&.main .wing_menu{top:603px;}
	&.header_fix .wing_menu{top:52px;}
}

// brand_tab
.brand_tab{overflow:hidden;position:relative;width:100%;background:#f3f3f3;
	&:after{content:'';display:block;width:20px;height:60px;position:absolute;left:0;top:0;background:url(../../images/pcweb/main/kinder_tab_bg.png) 0 0 no-repeat;}
	&:before{content:'';display:block;width:20px;height:60px;position:absolute;right:0;top:0;background:url(../../images/pcweb/main/kinder_tab_bg.png) -20px 0 no-repeat;}
	li{float:left;position:relative;border-bottom:#edaa00 1px solid;
		a{display:block;height:59px;font-weight:700;font-size:14px;line-height:60px;color:#999;text-align:center;font-family:"Verdana","Nanum Gothic",sans-serif;
			b{font-size:18px;}
		}
	}
	.on{position:relative;z-index:2;border-bottom:#fff 1px solid;
		a{background:#fff;border-top:#edaa00 1px solid;color:#edaa00;}
		&:after{content:'';display:block;width:20px;height:60px;position:absolute;left:0;top:0;background:url(../../images/pcweb/main/kinder_tab_bg_on.png) 0 0 no-repeat;}
		&:before{content:'';display:block;width:20px;height:60px;position:absolute;right:0;top:0;background:url(../../images/pcweb/main/kinder_tab_bg_on2.png) -20px 0 no-repeat;}
	}
	li + .on{
		&:after{background:url(../../images/pcweb/main/kinder_tab_bg_on2.png) 0 0 no-repeat;}
		&:before{background:url(../../images/pcweb/main/kinder_tab_bg_on2.png) -20px 0 no-repeat;}
	}
	.last.on{
		&:after{background:url(../../images/pcweb/main/kinder_tab_bg_on2.png) 0 0 no-repeat;}
		&:before{background:url(../../images/pcweb/main/kinder_tab_bg_on.png) -20px 0 no-repeat;}
	}
	li + li:after{content:'';display:block;width:1px;height:26px;position:absolute;left:0;top:17px;background:#dfdfdf;}
	.on + li:after{display:none;}
	&.center{text-align:center;
		li{display:inline-block;}
	}
}

.brand_tab_sub{overflow:hidden;width:100%;padding:35px 0;text-align:center;
	li{display:inline-block;position:relative;
		+ li:before{content:'';display:block;width:2px;height:2px;position:absolute;left:0;top:6px;background:#ccc;}
		a{display:block;padding:0 30px;font-size:15px;line-height:1;color:#132347;letter-spacing:-.7px;}
	}
	.on a{font-weight:700;color:#edaa00;}
}

// focus item
.kinder .area_lv1.gray{overflow:hidden;margin:70px 0 0;padding:0 0 40px;background:#f3f3f3;
	.type_bx{margin:40px auto 0;}
}

.center_tab{overflow:hidden;width:100%;padding:0 0 20px;text-align:center;
	li{display:inline-block;position:relative;padding:0 22px;
		+ li{margin:0 0 0 16px;}
		&:after{content:'';display:block;width:22px;height:46px;position:absolute;left:0;top:0;background:url(../../images/pcweb/main/kinder_center_tb2.png) 0 0 no-repeat;}
		&:before{content:'';display:block;width:22px;height:46px;position:absolute;right:0;top:0;background:url(../../images/pcweb/main/kinder_center_tb2.png) -22px 0 no-repeat;}
		a{display:block;min-width:92px;font-size:15px;line-height:46px;background:#e4e4e4;color:#666;letter-spacing:-.7px;}
	}
	.on{
		&:after{background:url(../../images/pcweb/main/kinder_center_tb.png) 0 0 no-repeat;}
		&:before{background:url(../../images/pcweb/main/kinder_center_tb.png) -22px 0 no-repeat;}
		a{font-weight:700;background:#fff url(../../images/pcweb/main/kinder_center_tb_bar.png) 0 0 repeat-x;color:#edaa00;letter-spacing:-.7px;}
	}
}

// kinder_plan
.kinder_plan{overflow:hidden;width:100%;
	li{float:left;
		+ li{margin:0 0 0 10px;}
		a{display:block;
			dl{position:relative;
				dt{overflow:hidden;position:absolute;padding:14px 20px 0;left:15px;bottom:13px;width:283px;height:68px;background:url(../../images/pcweb/main/kinder_plan_bg.png) 0 0 no-repeat;
					strong{display:block;overflow:hidden;height:17px;font-size:15px;line-height:17px;color:#333;white-space:nowrap;text-overflow:ellipsis;}
					span{display:block;overflow:hidden;height:32px;margin-top:4px;font-size:13px;line-height:16px;color:#666;}
				}
			}
		}
	}
}

// notice/brand/store
.kinder{
	.bx_notice{width:1080px;margin:80px auto 0;padding:30px 0 28px;border-top:1px solid #333;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;
			dl{float:left;width:380px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:15px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{margin-top:10px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				&:first-child{margin-top:0;}
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;
					&:hover{text-decoration:underline;}
				}
			}
		}
		.store{float:left;width:179px;margin:0 0 0 38px;
			&:after{display:block;clear:both;content:'';}
			a{display:block;
				+ a{margin-top:20px;}
			}
		}
		.box_news_mod{position:relative;float:right;width:417px;
			.list_roll_news{
				li{float:left;}
				.swiper-wrapper li > a{width:196px;height:195px;overflow:hidden;background:url(../../images/pcweb/common/bg_blank.png) repeat 0 0;
					span{display:block;text-indent:-9999px;}
				}
			}
			.swiper-container{overflow:hidden;width:417px;height:126px;margin:0 auto;}
			.list_roll_news .set_indicator{position:absolute;left:0;right:0;bottom:-30px;}
		}
	}
	.box_news_mod .set_indicator{
		ul{margin:0;}
		.d_auto{.d_play{background:url(../../images/pcweb/common/ico_indi_play.png) center center no-repeat;}
			.d_stop{background:url(../../images/pcweb/common/ico_indi_stop.png) center center no-repeat;}
		}
	}
	.cmn_tab_intro ul li.on a{background:#ffcc4e;}
	// .rsch_box{background:#efebe6;}
	// .rsch_bar{background:#efebe6;
	// 	.bar{
	// 		span{border-color:#dbdbdb;}
	// 		button{background:#162f43;}
	// 	}
	// }
	// .rsch_word strong{color:#edaa00;}
}

// point color
.no_cate strong{color:#edaa00;}
.kinder{
	.list_product01 .dis_percent{color:#c02431;}
	// .box_sch_save button{border-color:#edaa00;background:#edaa00;}
	// .cate_area02 .cate_tit{background:#162f43;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_kinder.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_kinder_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#edaa00!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#162f43;background:#162f43;}
	.box_filter{
		// .btn04.full.replace{background:#111625;}
		.set_list_filter .btn_range .btn07{background:#333;border-color:#333;}
	}
	.list_brand_logo li a:hover{background:url('../../images/pcweb/category/bg_list_brand_kzd.gif') 0 0 no-repeat;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{display:block;margin:10px 0 0 0;text-align:center;
		span{display:inline-block;width:336px;height:63px;background:url(../../images/pcweb/shop/kinder_into_tit.png) 0 bottom no-repeat;text-indent:-9999px;}
	}
	.in_cont{overflow:hidden;margin:35px 0 0 0;}
}

//option select layer
.kinder .lyr_select .sel_btn.selected .sel_txt{color:#162f43;}