// nb_kids
.nb_kids{
	.header{height:205px;border:none;background:url(../../images/pcweb/header/bg_tnb_nbkids.png) repeat-x 0 0;
		.hd_mall{position:relative;width:auto;}
		.head{height:205px;}
		h1{display:block;left:464px;top:59px;width:auto;height:auto;
			a{display:block;}
		}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_newbal.png) center center no-repeat;color:#fff;}
	.bs_selectbox{padding:7px 0 8px 0;
		.bs_sel_tit{border:1px solid #ddd;
			a{color:#444;
				span{padding:0 10px;font-weight:bold;color:#5f5f5f;border-right:1px solid #ddd;letter-spacing:0;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
	}
	.hd_tnb{
		dd{position:relative;color:#555;background:none;
			&:after{content:"";position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #dedede;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#555;}
			.on{background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -185px -40px;}
			a .num{background:url(../../images/pcweb/header/bg_ct_newbal01_fix.png) no-repeat;
				b{color:#fff;background:url(../../images/pcweb/header/bg_ct_newbal02_fix.png) right 0 no-repeat;}
			}
			.on,.off{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -20px -41px;}
		}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_nbkids.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
		}
	}
	.hd_sch{left:inherit;right:0;top:82px;width:260px;height:36px;padding:0;
		.sch_wrap{width:260px;}
		.sch_box{padding:0 0 0 17px;border:none;border-radius:18px;background:#f3f3f3;}
		.input{width:315px;padding:10px 0;color:#222;background:none;}
		&.on{background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -87px -88px;
			&:before{display:none;}
			.sch_wrap{width:auto;
				&:before{top:-2px;}
			}
		}
	}
}
.lloyd .hd_sch.on:after{display:none;}
.nb_kids .hd_sch{
	&.on{
		.sch_box{border-radius: 20px 20px 0 0;background:#fff;overflow:hidden;}
		.input{font-weight:700;font-size:13px;color:#222;font-family:'Malgun Gothic';}
	}
	.sch_btn{right:10px;width:36px;height:36px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat 6px -56px;}
	.sch_del{right:45px;}
	.sch_keyword{width:256px;top:36px;left:0;padding:0;border-left:#333 2px solid;border-right:#333 2px solid;background:#fff;
		&:after{display:block;content:'';position:absolute;bottom:-20px;left:-2px;width:100%;height:20px;border: 2px solid #000;border-top: none;border-radius: 0 0 20px 20px;background:#fff;overflow:hidden;}
		.s_del,.f_keyword,.s_keyword{border-top:#ddd 1px solid;}
		.s_del{height:24px;}
		.f_keyword{padding:49px 0 0 0;
			.s_del{height:24px;border-left:none;border-right:none;}
			dt{width:128px;color:#dadada;background:#f3f3f3;border:none;}
		}
	}
}
.lloyd .hd_sch .sch_keyword .f_keyword dt button{width:128px;color:#dadada;background:#f3f3f3;border:none;}
.nb_kids .hd_sch .sch_keyword .f_keyword{
	dt{left:128px;
		&:first-child{left:0;}
	}
	// dd li a .num{color:#333;}
}
.lloyd .hd_sch .sch_keyword .f_keyword dd li a{color:#333;}
.nb_kids{
	.hd_sch{
		.sch_keyword{
			.f_keyword dt button{width:128px;border:#ddd 1px solid;border-top:none;color:#666;
				&.on{border:#fff 1px solid;color:#333;background:#fff;}
			}
			.s_keyword li a b{color:#000;}
			.f_keyword dd li a{margin-right:70px;
				&:hover{text-decoration:underline;}
			}
		}
		.d_sch_complete{border-top:1px solid #ddd;
			.s_keyword{border-top:none;}
		}
	}
	.hd_sns{position:absolute;top:82px;left:0;width:132px;height:36px;
		ul{background:url(../../images/pcweb/header/header_nbkids.png) no-repeat;background-position:0 -190px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:36px;height:36px;
				+ li{margin:0 0 0 12px;}
				a{display:block;width:100%;height:100%;text-indent:-1000em;}
			}
		}
	}
	.rl_pot{
		.rl_up{background:url(../../images/pcweb/common/ico_res_up_nbkids.png) no-repeat 0 center;}
		.rl_down{background:url(../../images/pcweb/common/ico_res_do_nbkids.png) no-repeat 0 center;}
	}
	.hd_catg{width:46px;height:43px;top:inherit;bottom:0;background:none;
		.catg_bt{position:relative;width:46px;height:43px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat 0 -93px;text-indent:-9999px;}
	}
	.catg_wrap{
		.catg_lyr{width:auto;min-width:1076px;height:auto;top:43px;border:2px solid #333;
			.bt_close{background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{position:relative;width:auto;height:auto;min-height:284px;padding:0 410px 25px 1px;
			ul{width:100%;margin-left:30px;overflow:hidden;}
			li{padding:0 49px 0 0;width:160px;
				dl{width:160px;min-height:250px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:4px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:url(../../images/pcweb/common/ico_link_arrow01.gif) no-repeat 100% 10px;}
			}
			.img_bn{position:absolute;right:30px;top:30px;}
		}
	}
	.hd_disp{left:inherit;top:inherit;right:0;bottom:0;width:1034px;height:46px;text-align:center;background:none;
		dl{display:inline-block;
			&:after{display:block;content:'';clear:both;}
		}
		dd{width:inherit;position:relative;margin:0 0 0 59px;letter-spacing:0;line-height:46px;color:#444;font-weight:600;background:none;
			+ dd{margin:0 0 0 89px;
				&:before{content:'';display:block;position:absolute;left:-41px;top:24px;width:2px;height:2px;background:#626262;}
			}
			&.last{margin:0 0 0 91px;text-align:right;}
			> a{display:inline-block;overflow:hidden;height:46px;font-weight:bold;font-size:14px;color:#fff;font-family:'Malgun Gothic';}
			&.dd > a{display:inline-block;padding-right:18px;}
		}
		.depth2{display:none;position:absolute;top:44px;left:50%;margin-left:-55px;z-index:33;}
		dd.active{
			.depth2{display:block;margin:0;left:50%;width:180px;margin-left:-90px;border:2px solid #000;background:#fff;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:14px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;text-decoration:underline;}
				}
			}
			> a{color:#ec1a39;}
		}
	}
	&.header_fix{padding-top:129px;
		h1{display:none;}
		&.main{padding-top:185px;}
		.header{height:56px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:10px 0 0 0;}
		.mall_select{position:relative;display:none;}
		.hd_tnb{right:0;padding-top:20px;
			dd{color:#fff;
				a{color:#fff;}
			}
		}
		.catg_wrap{background:none;}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;background:url("../../images/pcweb/common/btn_hd_catg.png") no-repeat 0 0;}
		}
		.hd_sns{display:none;}
		.hd_sch{position:relative!important;left:0;right:inherit;top:0;width:390px;z-index:4005;margin:9px 0 0 30px;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.hd_sch .sch_box{height:36px;}
		.header .head{background:none;
			&:before{display:none;}
		}
		.hd_catg .catg_bt:before{display:none;}
		.bs_selectbox{padding:0 0 0 10px;}
		.catg_wrap .catg_lyr{top:54px;}
		.hd_sch .sch_del{top:12px;}
	}
	.header_top_banner .btn_hdtb_close{background:url(../../images/pcweb/common/bg_hd_t_bn_nb_kids.png) no-repeat center center;}
}

// header_fix
.brand_select{
	dl:first-child,.ldeco,.rdeco{border-top:#ddd 1px solid;}
}
.ie8{
	.nb_kids .hd_disp dd{letter-spacing:-1px;}
	.header_fix .header .head:before{background:url(../../images/pcweb/header/header_newbal_ctg.png) no-repeat left bottom;}
}

// nb_kids Footer
.nb_kids{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
	.foot_br .foot_section .logo_footer .logo_footer_qrcode{margin:12px 0 0;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1194px;margin:0 auto;}
		&.wide{
			.d_promo_container.type02 ul.d_bnr_cont{width:100%;min-width:1080px;height:470px;}
			.d_bnr_cont li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
	}
	.d_promo_container{
		&.type02{
			ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:650px;height:470px;z-index:8;
				li{opacity:0;filter:alpha(opacity = 0);}
			}
			.set_controll{width:1080px;}
		}
		.btn_prev_move{display:block;position:absolute;top:225px;left:-86px;z-index:9;width:80px;height:80px;background:url(../../images/pcweb/main/nb_prevnext.png) no-repeat 0 0;
			&:hover{background:url(../../images/pcweb/main/nb_prevnext.png) no-repeat 0 -80px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;top:225px;right:-86px;z-index:9;width:80px;height:80px;background:url(../../images/pcweb/main/nb_prevnext.png) no-repeat -80px 0;
			&:hover{background:url(../../images/pcweb/main/nb_prevnext.png) no-repeat -80px -80px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	&.nb_kids .set_indicator{bottom:32px;
		&.type02 ul li a{width:16px;height:16px;margin-left:10px;background:url(../../images/pcweb/common/ico_indi05.png) center center no-repeat;
			&.on{background:url(../../images/pcweb/common/ico_indi05_on.png) center center no-repeat;}
		}
	}
	.safari .main.nb_kids .set_indicator.type02 ul li a{margin-left:8px;}
	.set_indicator{
		.d_auto{margin:-2px 0 0 8px;
			.d_play{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/nbkids_playstop.png) no-repeat 0 0;text-indent:-9999px;}
			.d_stop{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/nbkids_playstop.png) no-repeat -20px 0;text-indent:-9999px;}
			&.ons .d_play,.d_stop{display:block;}
		}
		&.type02 .d_auto{
			&.ons .d_play,.d_stop{display:block;}
		}
		.d_auto{
			&.ons .d_stop,.d_play{display:none;}
		}
		&.type02 .d_auto{
			&.ons .d_stop,.d_play{display:none;}
		}
	}
}

// newbal layout
.nb_kids{
	.type_bx{position:relative;width:1080px;margin:70px auto 0;}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:"Verdana","Nanum Gothic",sans-serif;}
	.type_bx h3{display:block;padding:0 0 30px;font-weight:700;font-size:25px;line-height:1;color:#232323;text-align:center;font-family:'Malgun Gothic';}
	.TYPE li dl .prc div .wm .er em{display:none;}
	.area_lv1.gray{padding:48px 0;margin:70px 0 0;background:#f7f7f7;
		.type_bx{margin:0 auto;}
		.brand_tab{margin:0 0 10px;}
	}
}

// brand type group slide
.brd_tab_swiper{overflow:hidden;position:relative;width:1080px;padding:0 0 47px;position:relative;
	.swiper-slide{float:left;width:1080px;}
	.nav{width:100%;height:16px;position:absolute;left:0;bottom:0;text-align:center;
		.bx{display:inline-block;position:relative;padding:0 37px;
			.bn-left{position:absolute;left:0;top:1px;width:8px;height:15px;background:url(../../images/pcweb/main/arrow_main_gp.png) no-repeat 0 0;text-indent:-9999px;
				&:hover{background-position:0 -15px;}
			}
			.bn-right{position:absolute;right:0;top:1px;width:8px;height:15px;background:url(../../images/pcweb/main/arrow_main_gp.png) no-repeat -8px 0;text-indent:-9999px;
				&:hover{background-position:-8px -15px;}
			}
			.page{display:block;overflow:hidden;
				a{display:block;width:16px;height:16px;padding:0;margin:0;background:url(../../images/pcweb/common/ico_indi02.png) center center no-repeat;text-indent:-9999px;
					&.swiper-active-switch{background:url(../../images/pcweb/common/ico_indi04_on.png) center center no-repeat;}
					+ a{margin:0 0 0 11px;}
				}
			}
		}
	}
}

// newbal wing
.nb_kids{
	&.main .wing_menu{top:492px;}
	&.header_fix .wing_menu{top:52px;}
	// 2018.07.23 NGCPO-4459 뉴발란스키즈 개선요청 .bnr_sub{width:1080px;margin:0 auto;
	// 	ul{overflow:hidden;width:1096px;margin:40px auto 0;
	// 		li{overflow:hidden;float:left;margin:0 16px 0 0;width:258px;height:258px;
	// 			+ li{margin:0 0 0 16px;}
	// 			a{display:block;
	// 				img{transform:inherit;transition:all 0.3s ease;}
	// 				&:hover img{transform:scale(1.04);}
	// 			}
	// 		}
	// 	}
	// }
	.bnr_sub{width:1080px;margin:40px auto 0;
		ul{width:1104px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;margin:0 24px 12px 0;}
		}
	}
}

// brand_tab
.brand_tab{position:relative;width:1042px;height:40px;margin:0 19px 30px 19px;background:#f1f1f1;
	&:before{content:'';display:block;position:absolute;left:-19px;top:0;width:19px;height:40px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -355px -48px;}
	&:after{content:'';display:block;position:absolute;right:-19px;top:0;width:19px;height:40px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -374px -48px;}
	li{float:left;position:relative;height:40px;text-align:center;
		a{display:block;width:100%;
			span{display:inline-block;position:relative;padding:0 27px 0 0;font-weight:bold;font-size:14px;line-height:39px;background:url(../../images/pcweb/header/nbkids_tab_arrow.png) no-repeat right center;color:#333;font-family:'Malgun Gothic';}
			&:hover span{background:url(../../images/pcweb/header/nbkids_tab_arrow_on.png) no-repeat right center;}
		}
	}
	.on a span{background:url(../../images/pcweb/header/nbkids_tab_arrow_on.png) no-repeat right center;}
	li a:hover span{color:#e21836;}
	.on{background:#e21836;
		&:before{content:'';display:block;position:absolute;left:-19px;top:0;z-index:2;width:19px;height:40px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -393px -48px;}
		&:after{content:'';display:block;position:absolute;right:-19px;top:0;z-index:2;width:19px;height:40px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -412px -48px;}
		a{
			span,&:hover span{color:#fff;}
		}
	}
	&.center{text-align:center;background:none;
		.on{
			a{margin:0 -21px;width:177px;background:url(../../images/pcweb/main/newbal_tab_on2.png) no-repeat 0 0;z-index:1;}
			&:before,&:after{background:none;}
		}
		li{
			&.on:first-child a{margin:0 -21px;width:177px;background:url(../../images/pcweb/main/newbal_tab_on2.png) no-repeat 0 0;z-index:1;}
			+ li:before{display:none;}
		}
	}
}
.nb_kids{
	.bw{
		.bn-left{display:block;position:absolute;top:50%;left:0;width:20px;height:35px;margin:-16px 0 0;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -363px -112px;text-indent:-99999em;
			&:hover{background-position:-363px -147px;}
		}
		.bn-right{display:block;position:absolute;top:50%;right:0;width:20px;height:35px;margin:-16px 0 0;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -383px -112px;text-indent:-99999em;
			&:hover{background-position:-383px -147px;}
		}
	}
	&.main .list_product01{
		.brand_nm{display:none;}
		.list{
			.over .thumb:before,.links:hover .thumb:before{border:none;}
		}
		.prod_nm{font-size:13px;color:#666;}
		.box_price .c_price{color:#fff;
			strong{display:block;font-size:14px;color:#333;}
		}
	}
	.bx_notice{width:1080px;margin:80px auto 150px auto;padding:24px 0;border-top:2px solid #333;border-bottom:1px solid #ececec;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;
			dl{float:left;width:400px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:10px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{position:relative;margin-top:10px;padding:0 0 0 10px;
				&:first-child{margin-top:0;}
				&:after{content:'';display:block;position:absolute;left:0;top:8px;width:2px;height:2px;background:#666;}
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;
					&:hover{text-decoration:underline;}
				}
			}
		}
		.store{float:left;margin:0 0 0 10px;
			&:after{display:block;clear:both;content:'';}
			a{display:block;float:left;
				+ a{margin:0 0 0 20px;}
			}
		}
		.sns{float:right;padding:25px 0 0 0;text-align:center;
			a{display:inline-block;padding:0 10px;}
		}
	}
}

// instagram
.type_bx h3.sns{padding:0 0 15px 0;font-weight:bold;font-size:24px;line-height:50px;font-family:'Malgun Gothic';color:#232323;
	span{display:inline-block;width:50px;height:50px;margin:0 8px 0 0;background:url(../../images/pcweb/main/nbkids_insta.png) no-repeat 0 0;text-indent:-9999px;}
}
.nb_kids{
	.sns_instagram{position:relative;padding:0 0 0 425px;
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:208px;height:208px;margin-left:10px;
			+ li + li + li + li{margin-top:10px;}
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;transform:inherit;transition:all 0.3s ease;}
				&:hover img{transform:scale(1.04);}
			}
		}
		.big{position:absolute;left:0;top:0;margin:0;width:425px;height:425px;}
	}
	.insta_bn{
		.swiper_container{overflow:hidden;height:425px;}
		.swiper-wrapper{height:425px;}
	}
	.cmn_tab_intro ul li.on a{background:#ec1a3b;}
	.store_info_list .store_info{border-color:#dedede;}
	// .rsch_box{background:#ededed;}
	// .rsch_bar{background:#ededed;
	// 	.bar{span{border-color:#f1f1f1;}
	// 		button{background:#222;}
	// 	}
	// }
	// .rsch_word strong{color:#ec1a39;}
}

// point color
.no_cate strong{color:#ec1a39;}
.nb_kids{
	.list_product01 .dis_percent{color:#df3434;}
	// .box_sch_save button{border-color:#b3b3b3;background:#b3b3b3;}
	// .cate_area02 .cate_tit{background:#444;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_newbal.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_newbal_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#e31836!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#e31836;background:#e31836;}
	.opt_on_off_area{background:url('../../images/pcweb/common/bg_floatopt_bar_nbkids.png') right center no-repeat;
		.opt_on_btn{background:url('../../images/pcweb/common/ico_arrow_nbkids.png') 118px center no-repeat;}
		&.on .opt_on_btn{background:#fff url('../../images/pcweb/common/ico_arrow_down_opt.png') 118px center no-repeat;}
	}
	.off_opt_box{background:#eee;}
	.opt_on_off_area .opt_on_btn,.off_price{color:#333;}
	.off_opt_btn button{border-color:#999;}
}

// goods
.off_opt_btn a{border-color:#999;}

// EDITORIAL
.nb_kids{
	.edit.type_bx{width:100%;margin-top:40px;background-color:#f3f3f3;padding:50px 0  65px 0;position:relative;
		&:before{content:'';padding-bottom:6px;position:absolute;top:0;left:0;width:100%;background:url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;}
		&:after{content:'';padding-bottom:6px;position:absolute;bottom:0;left:0;width:100%;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
		h3{padding-bottom:0px;}
	}
	.box_star_roll{width:1080px;position:relative;margin:0 auto;margin-top:20px;
		.spao_mgz{width:1080px;height:487px;overflow:hidden;margin:0;padding:0px;display:block;
			.swiper-container{position:relative;width:1098px;height:487px;overflow:hidden;margin-left:-18px;}
		}
		ul{position:absolute;top:0px;left:0px;width:9999px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:348px;margin-left:18px;background-color:#f3f3f3;position:relative;
				.pr_img{overflow:hidden;width:348px;height:359px;position:relative;
					img{transform:inherit;transition:all 0.3s ease;}
				}
				a{display:block;
					&:hover .pr_img img{transform:scale(1.04);}
				}
				.pr_img .ed_tit{text-align:center;padding-top:18px;position:absolute;left:0px;bottom:0px;width:348px;height:67px;background:url(../../images/pcweb/main/bg_shoopen_editoral.png) repeat-x;
					em{font-size:17px;font-weight:bold;letter-spacing:-1px;color:#333333;display:block;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-bottom:9px;}
					span{font-size:14px;line-height:20px;color:#666666;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-1px;}
				}
				.prd{display:block;position:relative;height:90px;padding:16px 20px 20px 125px;background-color:#fff;border-bottom:#e1e1e1 2px solid;
					dd{position:absolute;left:20px;top:20px;}
					dt{padding-top:12px;
						em{display:block;overflow:hidden;font-size:13px;line-height:17px;height:34px;}
					}
				}
				a:hover .prd dt em{text-decoration:underline;}
				.prd dt span.er{display:block;margin:15px 0 0 0;color:#000;
					b{font-size:11px;vertical-align:middle;margin:0px 3px 0 0;}
					strong{font-family:"Verdana","Nanum Gothic",sans-serif;vertical-align:middle;}
				}
			}
		}
		.br_controll{position:absolute;top:0;left:0;right:0;z-index:2;
			.btn_prev{display:block;position:absolute;top:106px;left:0px;width:28px;height:56px;
				span{display:block;overflow:hidden;width:28px;height:56px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -412px -93px;text-indent:-99999em;}
				&.active span{background-position:-412px -149px;}
			}
			.btn_next{display:block;position:absolute;top:106px;right:0;width:28px;height:56px;
				span{display:block;overflow:hidden;width:28px;height:56px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -440px -93px;text-indent:-99999em;}
				&.active span{background-position:-440px -149px;}
			}
		}
		.bt_more{top:-20px;}
	}
	.spao_prd{height:820px;min-height:820px;}
	.d_tab_cont .btn_more{position:relative;padding-bottom:80px;border-top:2px solid #ddd;text-align:center;
		button{position:absolute;top:-22px;left:50%;margin-left:-56px;width:112px;height:36px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -222px -173px;
			span{display:inline-block;margin:0 0 0 24px;color:#333;font-weight:bold;font-size:14px;line-height:35px;}
			&.btn_close{display:none;background-position:-222px -209px;}
		}
	}
}
.nbkids_pg{height:6px;width:100%;margin:5px 0 0 0;text-align:center;
	.swiper-pagination-switch{display:inline-block;float:none;width:6px;height:6px;padding:0;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -412px -208px;text-indent:-9999px;line-height:0;font-size:0;
		+ .swiper-pagination-switch{margin:0 0 0 5px;}
		&.swiper-active-switch{width:20px;height:6px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -418px -208px;}
	}
}
.nb_kids{
	.A02.TYPE .big{background:none;
		.bst{text-indent:-9999px;}
	}
	// 정선영 차장님 의견으로 삭제 - 2018 카테고리 개선
	// .list_thumb_txt01{
	// 	ul{margin:-12px 0 0 -12px;}
	// 	li{width:350px;height:450px;margin:12px 0 0 12px;border-color:#ebebeb;}
	// 	.thumb img{width:350px;height:350px;}
	// 	.cont{border-color:#ebebeb;
	// 		.tit{color:#111625;font-size:15px;}
	// 		.s_cont{font-size:13px;}
	// 	}
	// }
	.list_product01 .list > li{
		.img.thumb{position:absolute;}
		&.big .thumb img{width:450px;height:450px;}
	}
	// brand + banner
	.brand_bnr{width:1080px;margin:85px auto 0;
		&:after{display:block;clear:both;content:"";}
		ul{float:left;height:170px;
			li{float:left;}
			+ul{margin-left:10px;}
			&.brand{width:320px;
				li{width:320px;height:80px;
					+ li{margin-top:10px;}
				}
			}
		}
	}
	.bnr_sub02{
		li{width:370px;height:170px;
			+li{margin-left:10px;}
		}
	}
}

// category
.main.nb_kids .d_tab_cont li{
	.img.over{display:none;}
	&:hover .img.over{display:block;}
}
.evt_template.mgz .title.top .right button{background:url(../../images/pcweb/common/mgz_bt_bg_nbkids.png) no-repeat 0 0;}

//option select layer
.nbkids .lyr_select .sel_btn.selected .sel_txt{color:#ec123b;}