// ost 
.ost{
	.header{height:222px;border:none;background:url(../../images/pcweb/header/bg_tnb_ost.png) 0 0 repeat-x;}
	.head{height:222px;}
	.header h1{position:absolute;left:453px;top:61px;width:168px;height:60px;}
	.bs_selectbox{padding:7px 0 8px 0;
		.bs_sel_tit{border:1px solid #fff;
			a{color:#fff;background:url(../../images/pcweb/header/bu_brand_arrow_ost.png) no-repeat 100% -23px;}
		}
		&.hover .bs_sel_tit a{background:url(../../images/pcweb/header/bu_brand_arrow_ost.png) no-repeat 100% -2px;}
		.bs_sel_tit a span{padding:0 10px;font-weight:bold;color:#fff;border-right:1px solid #fff;letter-spacing:0;font-family:"Verdana","Nanum Gothic",sans-serif;}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{a{background:url(../../images/pcweb/header/header_ost.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
		}
	}
	.hd_tnb dd{
		+ dd{background:url(../../images/pcweb/header/bu_tnb_ost.png) no-repeat 0 4px;}
		a .num{background:url(../../images/pcweb/header/bg_ct_spao01.png) no-repeat;
			b{color:#8c9292;background:url(../../images/pcweb/header/bg_ct_spao02.png) right 0 no-repeat;}
		}
		.on{width:22px;margin-left:8px;color:#8c9292;background:url(../../images/pcweb/header/header_ost.png) 5px center no-repeat;background-position:-20px -40px;}
		.off{width:22px;margin-left:8px;color:#8c9292;background:url(../../images/pcweb/header/header_ost.png) 5px center no-repeat;background-position:-70px -40px;}
		color:#fff;
		a{color:#fff;}
	}
	.hd_sch{position:absolute;left:inherit;right:0;top:86px;width:289px;height:34px;
		.sch_keyword{overflow:visible;top:33px;width:286px;padding-bottom:20px;border:2px solid #8ecfd1;
			&:after{display:none;}
			.s_keyword li a b{color:#8ecfd1;}
			.f_keyword{margin-top:-1px;padding-bottom:0;
				dt{position:absolute;top:0;left:143px;width:143px;height:40px;
					button{display:block;width:143px;height:40px;border:0;border-bottom:1px solid #8ecfd1;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
						&.on{border-bottom:0;color:#333;font-weight:700;background:#fff;}
					}
					&:first-child{left:0;width:142px;border-right:1px solid #8ecfd1;color:red;font-weight:700;
						button{width:142px;}
					}
				}
				dd .s_del{height:24px;margin-top:12px;}
			}
			.s_del{height:24px;}
		}
		.sch_wrap{position:relative;width:290px;border-bottom:1px solid #ddd;
			&:before{display:none;}
		}
		.sch_box{height:33px;padding-right:26px;border:none;}
		.input{width:225px;height:14px;margin-top:3px;padding:7px 0 10px 9px;border:0;background:none;font-size:13px;}
		&.on .input{width:302px;color:#8ecfd1;font-size:15px;font-weight:800;}
		.input{
			&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
		}
		.sch_del{display:none;position:absolute;right:38px;top:12px;width:14px;height:14px;text-indent:-9999px;cursor:pointer;background:url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:-40px -130px;}
		.sch_btn{position:absolute;right:0;top:2px;display:block;width:30px;height:30px;border:0;cursor:pointer;text-indent:-9999px;background:url(../../images/pcweb/header/header_ost.png) no-repeat 0 0;background-position:4px -60px;}
		&.on .sch_box{background:transparent;border-radius:0;}
	}
	.hd_catg{position:absolute;left:0;top:178px;width:auto;height:auto;background:none;
		.catg_bt{position:relative;margin:2px 0 0;padding:0 0 0 29px;width:130px;height:40px;text-align:left;font-size:13px;line-height:36px;color:#8c9290;font-weight:800;letter-spacing:0;background:url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:0 -90px;
			span{position:relative;top:-2px;}
			&:after{content:'';position:absolute;right:15px;top:18px;width:6px;height:4px;background:url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:0 -130px;}
			&.on:after{background-position:0 -140px;}
		}
	}
	.hd_disp{position:absolute;left:130px;top:178px;/* width:950px; */height:42px;background:url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:0 -147px;text-align:center;
		dl{display:inline-block;border-top:1px solid #73c1c3;background:#fff;
			&:after{display:block;content:'';clear:both;}
		}
		dd{position:relative;float:left;width:auto;height:41px;font-size:14px;line-height:41px;color:#333;text-align:center;font-weight:800;letter-spacing:-1px;background-image:none;
			> a{display:block;overflow:hidden;height:41px;/* padding:0 20px; */color:#8c9290;font-weight:normal;font-family:"Verdana","Nanum Gothic",sans-serif;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;/* padding-right:18px; */background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:42px;left:50%;margin-left:-78px;z-index:33;}
		dd.active{
			.depth2{display:block;width:156px;border:2px solid #000;background:#fff;text-align:left;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:15px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;}
				}
			}
			> a{color:#8ecfd1;}
		}
	}
	&.header_fix{padding-top:184px;
		.header{border-bottom:0;background:url(../../images/pcweb/common/bg_header_fix.png) 0 0 repeat-x;}
	}
	.catg_wrap .catg_lyr{border-color:#333;overflow:visible;
		.bt_close{background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
	}
	.hd_bn{top:80px;left:0;right:inherit;width:308px;height:40px;
		.bn_lst{float:none;width:308px;height:40px;}
		.bt_hd_btns{top:4px;right:0;z-index:1;
			.bt_hd_prev{display:block;float:none;width:17px;height:16px;background:transparent url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:0 -190px;text-indent:-9999px;}
			.bt_hd_next{display:block;float:none;width:17px;height:15px;background:transparent url(../../images/pcweb/header/header_ost.png) no-repeat;background-position:0 -206px;text-indent:-9999px;}
		}
	}
	.catg_wrap{
		.catg_lyr{position:absolute;top:42px;left:0;}
		.catg_all{height:350px;padding-top:14px;
			ul{width:1050px;margin-left:30px;overflow:hidden;}
			li{padding:0 50px 0 0;width:160px;
				dl{min-height:162px;}
			}
			dl{
				dt{margin-bottom:13px;
					a{max-width:100%;background:url(../../images/pcweb/common/ico_link_arrow01_ost.gif) no-repeat 100% 2px;color:#333;
						&:hover{background:url(../../images/pcweb/common/ico_link_arrow02_ost.gif) no-repeat 100% 2px;color:#9cc;}
					}
				}
				dd{padding:2px;}
			}
		}
	}
	.hd_cnb{position:absolute;top:140px;left:0;width:100%;text-align:center;
		li{display:inline-block;
			a{display:block;height:22px;font-size:13px;font-weight:800;line-height:22px;letter-spacing:-0.2px;
				span{display:inline-block;padding:0 9px;color:#73c1c3;}
				&:hover{position:relative;left:-8px;margin-left:8px;padding-left:8px;background:url(../../images/pcweb/header/bg_hover_ost.gif) 0 0 no-repeat;
					span{display:block;padding:0 8px 0 0;margin-right:-6px;background:url(../../images/pcweb/header/bg_hover_ost.gif) 100% 0 no-repeat;color:#fff;}
				}
			}
		}
	}
	&.header_fix{
		.head{background-image:none;}
		.hd_catg{top:0;}
		.hd_sch{width:390px;margin-top:8px;
			.sch_box{background:none;}
			.input{width:302px;height:14px;margin-top:3px;padding:7px 0 10px 9px;border:0;background:none;font-size:13px;color:#fff;}
			&.on .input{color:#fff;font-size:16px;font-weight:800;}
		}
		.bs_selectbox{padding:0 10px 0 0;
			.bs_sel_tit{border:none;
				a{background:url(../../images/pcweb/header/bu_fixed_arrow.png) 10px 0 no-repeat;}
			}
			&.hover .bs_sel_tit a{background-position:10px -56px;}
		}
		.mall_select{display:none;
			li{
				&.mh{bottom:0;}
				&.el a{background-position:-156px 0;}
				&.mh a{background-position:-156px -38px;}
			}
		}
		.hd_sch .sch_btn{top:0;}
		.hd_cnb{display:none;}
		.catg_wrap .catg_lyr:before{top:-2px;left:-2px;}
		.hd_catg .catg_bt{width:40px;height:56px;margin:0;text-indent:-1000em;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
			&.on{border:none;}
			span{top:0;}
		}
		.hd_tnb{right:0;}
		.catg_wrap .catg_lyr{top:54px;}
	}
	.header_top_banner{
		.btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_ost.png) center center no-repeat;color:#fff;}
		&.on{
			.btn_hdtb_close{display:block;}
			.btn_hdtb_open{display:none;}
			.btn_hdtb_img{display:block;
				> img{display:inline;}
			}
		}
	}
	// 산지직송 - 상품리스트 공통
	.direct_farm{height:844px;margin:60px 0 0;padding:0;
		.title{position:relative;margin:0 auto;width:1080px;height:210px;}
		.btn_top{position:absolute;right:0;bottom:0;
			.btn_more{padding:3px 10px 5px;font-size:13px;line-height:14px;color:#fff;border:1px solid #fff;
				span{padding-right:15px;background:url(../../images/pcweb/main/bt_more_farm.png) right center no-repeat;}
			}
		}
		.farm_type01,.farm_type02,.farm_type03,.farm_type04{position:relative;margin:0 auto;}
		.farm_box{position:relative;width:100%;height:570px;margin:0 auto;padding:15px 0;
			.farm_type{width:1080px;height:540px;margin:0 auto;padding:0 10px 10px 0;background:url(../../images/pcweb/main/farm_wrap_bg.png) -2px -1px no-repeat;}
		}
		.farm-btn{position:relative;width:1080px;margin:0 auto;cursor:pointer;z-index:9;
			.farm-btn-prev{display:block;position:absolute;top:-340px;left:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) 0 -200px no-repeat;z-index:9;
				&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -70px -200px no-repeat;}
				span{display:block;overflow:hidden;text-indent:-999px;}
			}
			.farm-btn-next{display:block;position:absolute;top:-340px;right:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) -30px -200px no-repeat;z-index:9;
				&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -100px -200px no-repeat;}
				span{display:block;overflow:hidden;text-indent:-999px;}
			}
		}
		.farm-pagi{margin-top:20px;height:15px;text-align:center;z-index:9;
			span{display:inline-block;float:inherit;background:url(../../images/pcweb/header/header_kims_new.png) 0px -170px no-repeat;cursor:pointer;
				&.swiper-active-switch{background:url(../../images/pcweb/header/header_kims_new.png) -23px -170px no-repeat;}
			}
		}
	}
	@media screen and (max-width:1420px){
		.direct_farm .farm-btn{
			.farm-btn-prev{width:56px;height:78px;top:-354px;left:0;background:url(../../images/pcweb/header/kims_df_btn.png) 0 0 no-repeat;
				&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) 0 -80px no-repeat;}
			}
			.farm-btn-next{width:56px;height:78px;top:-354px;right:0;background:url(../../images/pcweb/header/kims_df_btn.png) -60px 0 no-repeat;
				&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) -60px -80px no-repeat;}
			}
		}
	}
	.ie678 .direct_farm .farm-btn{
		.farm-btn-prev{left:0;}
		.farm-btn-next{right:0;}
	}

	// 산지직송 - 상품리스트 공통
	.direct_farm{
		.swiper-container{width:1080px;height:550px;}
		.ban{float:left;width:570px;}
		.prod{float:left;width:510px;
			a{position:relative;display:block;
				&:after{display:block;clear:both;content:'';}
			}
			.t_left .thumb{float:left;}
			.t_right .thumb{float:right;}
			.thumb{position:relative;width:270px;height:270px;
				img{width:100%;}
			}
			.dis_percent{position:absolute;top:10px;left:10px;width:77px;height:77px;color:#f33;font-size:13px;font-weight:lighter;line-height:77px;text-align:center;background:url(../../images/pcweb/main/kims_dis_percent.png) no-repeat;
				strong{font-size:28px;font-weight:bold;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.cont{position:relative;float:left;width:238px;height:268px;border:1px dotted #7f7f7f;background:#ececec;}
			.t_left .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;left:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg1.png) no-repeat;}
			.t_right .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;right:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg2.png) no-repeat;}
			.cont{
				.prod_nm{display:block;padding:80px 20px 0;color:#0d0d0d;font-size:16px;line-height:16px;height:48px;overflow:hidden;}
				.box_price{padding:40px 20px 0;}
				.cont_price{
					.price01{color:#242424;font-size:16px;height:25px;font-weight:600;letter-spacing:-1px;}
					.c_price{display:block;margin-top:5px;font-size:16px;height:30px;color:#0d0d0d;font-size:22px;font-weight:lighter;background:none;}
					.price01{.prime,.cur_price{color:#999;font-weight:400;font-family:'Nanum Gothic',sans-serif;}
					}
					.c_price strong{font-size:28px;letter-spacing:-2px;vertical-align:top;font-family:"Verdana","Nanum Gothic",sans-serif;}
				}
			}
		}
		.type01{width:1080px;margin:0 auto;background:url(../../imsges/pcweb/main/farm_wrap_bg.png) no-repeat;
			&:after{display:block;clear:both;content:'';}
		}
		.type02{width:1080px;margin:0 auto;
			.prod{width:540px;
				.cont{width:268px;}
			}
		}
		.type03{width:1080px;margin:0 auto;
			.prod{width:1080px;}
		}
		.type02 .prod .cont{width:268px;}
		.type03 .prod{
			ul{
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:269px;height:270px;overflow:hidden;border-left:1px solid #fff;
					&:first-child,&:nth-child(4n+1){width:270px;border:none;}
				}
			}
			.thumb img{width:270px;height:270px;}
			.cont{position:absolute;bottom:0;left:0;width:100%;height:100px;border:none;background:url(../../images/pcweb/main/kims_bg_farm.png) repeat;
				.prod_nm{padding:12px 20px 0;height:32px;font-size:15px;color:#fff;}
				.cont_price{
					.price01{display:inline-block;height:22px;}
					.c_price{display:inline-block;color:#fff;font-size:16px;margin-top:0;vertical-align:top;
						strong{font-size:24px;}
					}
				}
				.box_price{padding:10px 20px 0;color:#fff;}
				.cont_price .price01{.prime{color:#fff;font-size:13px;}
					.price_nm{color:#fff;font-size:13px;font-weight:400;}
					.cur_price{color:#fff;font-size:13px;}
				}
			}
		}
		.type04{width:1080px;margin:0 auto;}
	}
	//kims_main과 동일하게 변경
	// .direct_farm{height:1061px;margin:60px 0 0;padding:0;
	// 	.title{position:relative;margin:0 auto;width:1080px;height:424px;}
	// 	.btn_top{position:absolute;right:0;bottom:0;
	// 		.btn_more{padding:3px 10px 5px;font-size:13px;line-height:14px;color:#fff;border:1px solid #fff;
	// 			span{padding-right:15px;background:url(../../images/pcweb/main/bt_more_farm.png) right center no-repeat;}
	// 		}
	// 	}
	// 	.farm_type01,.farm_type02,.farm_type03,.farm_type04{position:relative;margin:0 auto;}
	// 	.farm_box{position:relative;width:100%;height:570px;margin:0 auto;padding:15px 0;
	// 		.farm_type{width:1080px;height:540px;margin:0 auto;padding:0 10px 10px 0;background:url(../../images/pcweb/main/farm_wrap_bg.png) -2px -1px no-repeat;}
	// 	}
	// 	.farm-btn{position:relative;width:1080px;margin:0 auto;cursor:pointer;z-index:9;
	// 		.farm-btn-prev{display:block;position:absolute;top:-340px;left:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) 0 -200px no-repeat;z-index:9;
	// 			&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -70px -200px no-repeat;}
	// 			span{display:block;overflow:hidden;text-indent:-999px;}
	// 		}
	// 		.farm-btn-next{display:block;position:absolute;top:-340px;right:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) -30px -200px no-repeat;z-index:9;
	// 			&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -100px -200px no-repeat;}
	// 			span{display:block;overflow:hidden;text-indent:-999px;}
	// 		}
	// 	}
	// 	.farm-pagi{margin-top:20px;height:15px;text-align:center;z-index:9;
	// 		span{display:inline-block;float:inherit;background:url(../../images/pcweb/header/header_kims_new.png) 0px -170px no-repeat;cursor:pointer;
	// 			&.swiper-active-switch{background:url(../../images/pcweb/header/header_kims_new.png) -23px -170px no-repeat;}
	// 		}
	// 	}
	// }
	// @media screen and (max-width:1420px){
	// 	.direct_farm .farm-btn{
	// 		.farm-btn-prev{width:56px;height:78px;top:-354px;left:0;background:url(../../images/pcweb/header/kims_df_btn.png) 0 0 no-repeat;
	// 			&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) 0 -80px no-repeat;}
	// 		}
	// 		.farm-btn-next{width:56px;height:78px;top:-354px;right:0;background:url(../../images/pcweb/header/kims_df_btn.png) -60px 0 no-repeat;
	// 			&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) -60px -80px no-repeat;}
	// 		}
	// 	}
	// }
	// .ie678 .direct_farm .farm-btn{
	// 	.farm-btn-prev{left:0;}
	// 	.farm-btn-next{right:0;}
	// }
	// .direct_farm{
	// 	.swiper-container{width:1080px;height:550px;}
	// 	.ban{float:left;width:570px;}
	// 	.prod{float:left;width:510px;
	// 		a{position:relative;display:block;
	// 			&:after{display:block;clear:both;content:'';}
	// 		}
	// 		.t_left .thumb{float:left;}
	// 		.t_right .thumb{float:right;}
	// 		.thumb{position:relative;width:270px;height:270px;
	// 			img{width:100%;}
	// 		}
	// 		.dis_percent{position:absolute;top:10px;left:10px;width:77px;height:77px;color:#f33;font-size:13px;font-weight:lighter;line-height:77px;text-align:center;background:url(../../images/pcweb/main/kims_dis_percent.png) no-repeat;
	// 			strong{font-size:28px;font-weight:bold;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
	// 		}
	// 		.cont{position:relative;float:left;width:238px;height:268px;border:1px dotted #7f7f7f;background:#ececec;}
	// 		.t_left .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;left:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg1.png) no-repeat;}
	// 		.t_right .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;right:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg2.png) no-repeat;}
	// 		.cont{
	// 			.prod_nm{display:block;padding:80px 20px 0;color:#0d0d0d;font-size:16px;line-height:16px;height:48px;overflow:hidden;}
	// 			.box_price{padding:40px 20px 0;}
	// 			.cont_price{
	// 				.price01{color:#242424;font-size:16px;height:25px;font-weight:600;letter-spacing:-1px;}
	// 				.c_price{display:block;margin-top:5px;font-size:16px;height:30px;color:#0d0d0d;font-size:22px;font-weight:lighter;background:none;}
	// 				.price01{.prime,.cur_price{color:#999;font-weight:400;font-family:'Nanum Gothic',sans-serif;}
	// 				}
	// 				.c_price strong{font-size:28px;letter-spacing:-2px;vertical-align:top;font-family:"Verdana","Nanum Gothic",sans-serif;}
	// 			}
	// 		}
	// 	}
	// 	.type01{width:1080px;margin:0 auto;background:url(../../imsges/pcweb/main/farm_wrap_bg.png) no-repeat;
	// 		&:after{display:block;clear:both;content:'';}
	// 	}
	// 	.type02{width:1080px;margin:0 auto;
	// 		.prod{width:540px;
	// 			.cont{width:268px;}
	// 		}
	// 	}
	// 	.type03{width:1080px;margin:0 auto;
	// 		.prod{width:1080px;}
	// 	}
	// 	.type02 .prod .cont{width:268px;}
	// 	.type03 .prod{
	// 		ul{
	// 			&:after{display:block;clear:both;content:'';}
	// 			li{float:left;width:269px;height:270px;overflow:hidden;border-left:1px solid #fff;
	// 				&:first-child,&:nth-child(4n+1){width:270px;border:none;}
	// 			}
	// 		}
	// 		.thumb img{width:270px;height:270px;}
	// 		.cont{position:absolute;bottom:0;left:0;width:100%;height:100px;border:none;background:url(../../images/pcweb/main/kims_bg_farm.png) repeat;
	// 			.prod_nm{padding:12px 20px 0;height:32px;font-size:15px;color:#fff;}
	// 			.cont_price{
	// 				.price01{display:inline-block;height:22px;}
	// 				.c_price{display:inline-block;color:#fff;font-size:16px;margin-top:0;vertical-align:top;
	// 					strong{font-size:24px;}
	// 				}
	// 			}
	// 			.box_price{padding:10px 20px 0;color:#fff;}
	// 			.cont_price .price01{.prime{color:#fff;font-size:13px;}
	// 				.price_nm{color:#fff;font-size:13px;font-weight:400;}
	// 				.cur_price{color:#fff;font-size:13px;}
	// 			}
	// 		}
	// 	}
	// 	.type04{width:1080px;margin:0 auto;}
	// }
}
.ie8 .ost.header_fix .hd_sch .input{height:14px;padding-top:10px;padding-bottom:10px;}
.ost{
	&.header_fix .hd_catg .catg_bt:after{display:none;}
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
	&.main .wing_menu{top:563px;}
	&.header_fix .wing_menu{top:52px;}
	&.mian #content{width:100%;padding:0;}
	.type_bx{position:relative;width:1080px;margin:80px auto 0;}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.type_bx h3{font-size:24px;font-weight:700;color:#333;text-align:center;}
	.box_roll_evt{margin-top:80px;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;overflow:visible;
		.set_controll{position:absolute;width:1080px;top:50%;left:50%;margin:0 0 0 -540px;}
	}
	.d_promo_container{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:540px;z-index:8;
			li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;left:-47px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 0 no-repeat;
			&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 -33px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;right:-47px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px 0 no-repeat;
			&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px -33px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.set_indicator{
			ul li a{margin:0 4px;width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -20px -190px no-repeat;
				&.on{width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -40px -190px no-repeat;}
			}
			.d_auto{margin-top:-2px;
				.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -60px -190px no-repeat;}
				.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -80px -190px no-repeat;}
			}
		}
	}
	.d_promo_container2{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:auto;z-index:8;
			li{width:0;height:0;position:relative;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				&:first-child{width:auto;height:auto;}
				a{display:block;width:1080px;height:100%;margin:0 auto;text-align:center;
					img{display:inline;width:auto;height:auto;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;top:50%;left:-47px;z-index:9;width:31px;height:54px;margin-top:-27px;background:url(../../images/pcweb/header/header_ost.png) -220px -129px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_ost.png) -290px -129px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;top:50%;right:-47px;z-index:9;width:31px;height:54px;margin-top:-27px;background:url(../../images/pcweb/header/header_ost.png) -252px -129px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_ost.png) -322px -129px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.set_indicator{
			ul li a{margin:0 4px;width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -20px -190px no-repeat;
				&.on{width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -40px -190px no-repeat;}
			}
			.d_auto{margin-top:-2px;
				.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -60px -190px no-repeat;}
				.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -80px -190px no-repeat;}
			}
		}
	}
}

/* bnr_sub */

/* 브랜드몰 서브배너 간격 24px
배너1 - 1080px
배너2 - 528px
배너3 - 344px
배너4 - 252px
*/

/* .ost .bnr_sub{width:1080px;margin:40px auto 0}
.ost .bnr_sub ul:after{display:block;clear:both;content:''}
.ost .bnr_sub ul li{float:left;margin-left:13px}
.ost .bnr_sub ul li:first-child{margin:0} */

.ost .bnr_sub{width:1080px;margin:40px auto 0;
	ul{width:1104px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;margin:0 24px 12px 0;}
	}
}

/* ost coner */
.coner_item .coner{margin:40px auto 0;}
.ost{.tit_h2_02{margin-bottom:30px;}
	.coner_item{margin-top:80px;}
	.brand_tab.center{margin:30px 0 40px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
		li{display:inline-block;text-align:center;
			a{display:block;height:18px;line-height:18px;padding:10px 10px 8px;color:#666;font-size:14px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			&.on a{color:#8ecfd1;border-bottom:2px solid #8ecfd1;}
			a:hover{color:#8ecfd1;}
		}
	}
}
.bnr_img{width:1080px;margin:80px auto 0;}

/* ost plan */
.main.ost{.list_recom_type{.ltt_bnr{border:none;}
		.list_product01{li{position:relative;border:none;margin:0;}
			.brand_nm{text-indent:-9999px;color:#fff;font-size:0;}
		}
	}
	.list_product01{.list{.over .thumb:before,.links:hover .thumb:before{display:none;}
		}
		.prod_nm{color:#666;font-size:13px;}
	}
	.list_recom_type .list_product01{.cont_price .c_price{font-size:0;color:#fff;}
		.box_price .c_price strong{color:#333;}
	}
}

/* instagram */
.ost{.sns_instagram{margin-top:30px;
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:180px;height:180px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.type_bx .h3_sns{font-size:24px;color:#1c1c1b;line-height:32px;font-family:verdana;
		.ico_ins{display:inline-block;padding-left:40px;background:url(../../images/pcweb/main/tit_insta_ost.png) 0 center no-repeat;}
	}
	.bx_notice{width:1080px;margin:80px auto 0;padding-top:30px;border-top:1px solid #ddd;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;width:434px;
			dl{float:left;width:400px;padding-right:30px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:15px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{&:first-child{margin-top:0;}
				margin-top:10px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;}
			}
		}
		.store{float:left;width:250px;margin-top:14px;
			&:after{display:block;clear:both;content:'';}
		}
		.box_news_mod{position:relative;float:left;width:396px;
			.list_roll_news{li{float:left;}
				.swiper-wrapper li > a{width:196px;height:195px;overflow:hidden;background:url(../../images/pcweb/common/bg_blank.png) repeat 0 0;
					span{display:block;text-indent:-9999px;}
				}
			}
			.swiper-container{overflow:hidden;width:396px;height:126px;margin:0 auto;}
			.list_roll_news .set_indicator{position:absolute;left:0;right:0;bottom:-30px;}
		}
	}
	.box_news_mod .set_indicator{ul{margin:0;}
		.d_auto{.d_play{background:url(../../images/pcweb/common/ico_indi_play.png) center center no-repeat;}
			.d_stop{background:url(../../images/pcweb/common/ico_indi_stop.png) center center no-repeat;}
		}
	}
	.set_indicator .swiper-pagination-switch{margin:0;}
	.cmn_tab_intro ul li.on a{background:#8ecfd0;}
	// .rsch_box{background:#efebe6;}
	// .rsch_bar{background:#efebe6;
	// 	.bar{span{border-color:#ddd4c9;}
	// 		button{background:#8ecfd1;}
	// 	}
	// }
	/*.rsch_word strong,*/
	.list_product01 .dis_percent{color:#8ecfd1;}
}

/* notice/brand/store */

/* point color */

.no_cate strong{color:#8ecfd1;}
.ost{
	// .box_sch_save button{border-color:#8ecfd1;background:#8ecfd1;}
	// .cate_area02 .cate_tit{background:#8ecfd1;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_ost.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_ost_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#f69!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#8ecfd1;background:#8ecfd1;}
}

/* 160804  통합몰과 통일 
.list_product01 .list .over .thumb:before,.list_product01 .list .links:hover .thumb:before{border-color:#8ecfd1}
.list_product01 .box_opt_link .opt01{background:url(../../images/pcweb/common/bg_product_opt_ost.png) 0 0 no-repeat}
.list_product01 .box_opt_link .opt02{background:url(../../images/pcweb/common/bg_product_opt_ost.png) -51px 0 no-repeat}
.list_product01 .box_opt_link .opt03{width:52px;background:url(../../images/pcweb/common/bg_product_opt_ost.png) -99px 0 no-repeat}
.list_product01 .box_opt_link .opt04{width:49px;background:url(../../images/pcweb/common/bg_product_opt_ost.png) -150px 0 no-repeat} */

/* introduce brand */

.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{overflow:hidden;width:1080px;
		.img{display:block;float:left;}
		.tx{display:block;float:right;}
	}
}


//option select layer
.ost .lyr_select .sel_btn.selected .sel_txt{color:#f69;}