// roem
.roem{
	.header{height:197px;border:none;background:url(../../images/pcweb/header/bg_tnb_roem.png) repeat-x;
		.head{height:197px;}
		.hd_mall{position:relative;width:auto;}
		h1{left:443px;top:70px;width:auto;height:auto;}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_roem.png) center center no-repeat;color:#fff;}
	.mall_select{display:inline-block;float:left;}
	.bs_selectbox{padding:8px 0;
		.bs_sel_tit{border:1px solid #ccc;
			a{color:#5f5f5f;
				span{padding:0 10px;border-right:1px solid #dedede;}
			}
		}
	}
	.hd_tnb{
		dd{position:relative;color:#333;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #ccc;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#333;
				.num{background:url(../../images/pcweb/header/bg_ct_roem01.png) no-repeat;
					b{color:#fff;background:url(../../images/pcweb/header/bg_ct_roem02.png) right 0 no-repeat;}
				}
			}
			.on{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_roem.png) 5px center no-repeat;background-position:-20px -40px;}
			.off{width:22px;margin-left:8px;color:#ccc;background:url(../../images/pcweb/header/header_roem.png) 5px center no-repeat;background-position:-70px -40px;}
		}
	}
	.mall_select{
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_roem.png) no-repeat;}
			&.el a{width:109px;}
			&.mh a{width:136px;background-position:-109px 0;}
			&.ki a{width:109px;background-position:-245px 0;}
		}
	}
	.hd_sch{position:absolute;left:inherit;right:0;top:77px;width:300px;height:40px;border:1px solid #ddd;border-radius:20px;
		.sch_wrap{position:relative;width:300px;height:40px;}
		.sch_box{border:none;height:40px;}
		.input{width:287px;margin-top:3px;padding:10px 0 12px 20px;border:0;background:none;}
		&.on .input{width:303px;color:#f7186a;font-size:14px;font-weight:800;}
		.input{
			&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
		}
		.sch_del{display:none;position:absolute;right:50px;top:14px;width:12px;height:12px;text-indent:-9999px;cursor:pointer;background:url(../../images/pcweb/header/header_roem.png) no-repeat;background-position:-350px -130px;}
		.sch_btn{position:absolute;right:12px;top:0;display:block;width:40px;height:40px;border:0;cursor:pointer;text-indent:-9999px;background:url(../../images/pcweb/header/header_roem.png) no-repeat 0 0;background-position:0 -60px;}
		&.on{border-color:transparent;border-radius:20px 20px 0 0;
			.sch_box{background:#fff;;width:auto;}
		}
		.sch_keyword{overflow:visible;top:38px;width:296px;border:2px solid #000;border-top:1px solid #ddd;border-bottom:none;
			// &:after{content:'';position:absolute;bottom:-20px;left:-2px;width:300px;height:20px;background:url(../../images/pcweb/header/header_roem.png) 0 -250px no-repeat;}
			.s_keyword li a b{color:#f7186a;}
			.f_keyword{margin-top:-1px;padding-bottom:0;
				dt{position:absolute;top:0;left:149px;width:148px;height:40px;
					button{display:block;width:147px;height:40px;border:0;border-bottom:1px solid #ddd;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
						&.on{border-bottom:0;color:#333;font-weight:700;background:#fff;}
					}
					&:first-child{left:0;width:148px;border-right:1px solid #ddd;font-weight:700;
						button{width:148px;}
					}
				}
				dd .s_del{height:24px;margin-top:12px;}
			}
			.s_del{height:24px;}
		}
		.d_sch_complete{border-top:none;
			.k_brand{border-top:1px solid #ddd;}
		}
	}
	.hd_sns{position:absolute;top:80px;left:0;width:200px;height:32px;
		ul{background:url(../../images/pcweb/header/header_roem.png) no-repeat;background-position:0 -270px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:20%;height:32px;background:url(../../images/pcweb/header/header_roem.png) no-repeat;
				&.sns01{background-position:0 -270px;}
				&.sns02{background-position:-40px -270px;}
				&.sns03{background-position:-80px -270px;}
				&.sns04{background-position:-120px -270px;}
				&.sns05{background-position:-160px -270px;}
				&:hover{
					&.sns01{background-position:0 -310px;}
					&.sns02{background-position:-40px -310px;}
					&.sns03{background-position:-80px -310px;}
					&.sns04{background-position:-120px -310px;}
					&.sns05{background-position:-160px -310px;}
				}
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.hd_catg{top:inherit;bottom:0;width:125px;height:42px;background:none;
		.catg_bt{width:140px;height:40px;padding-left:29px;line-height:38px;color:#333;text-align:left;background:url(../../images/pcweb/header/roem_ctg.png) no-repeat;
			&.on{background:url(../../images/pcweb/header/roem_ctg.png) no-repeat 0 -40px;}
		}
	}
	.catg_wrap{
		.catg_lyr{width:auto;height:auto;top:40px;border:none;background:none;max-width:1080px;
			.bt_close{right:-34px;bottom:0;background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{position:relative;padding:0 0 22px 1px;width:auto;height:auto;border:2px solid #333;background:#fff;
			ul{display:table;margin:0;padding-left:38px;overflow:hidden;
				+ ul{border-top:none;}
			}
			> ul{border-bottom:none;}
			li{float:inherit;display:table-cell;padding:0 48px 0 0;width:160px;
				dl{width:160px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:url(../../images/pcweb/common/ico_link_arrow01.gif) no-repeat 100% 10px;}
			}
		}
	}
	.hd_disp{width:955px;margin-left:125px;left:inherit;top:inherit;bottom:0;height:42px;background:none;
		dl{display:table;width:100%;
			&:after{display:block;content:'';clear:both;}
		}
		dd{float:inherit;display:table-cell;vertical-align:middle;width:auto;padding:0;letter-spacing:0;line-height:40px;color:#444;font-weight:600;}
		dt + dd{background:none;}
		dd{
			> a{display:block;padding:0 9px 0 10px;overflow:hidden;height:40px;color:#666;font-size:14px;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-55px;text-align:left;z-index:33;}
		dd.active{
			.depth2{display:block;width:160px;margin:0;left:50%;margin-left:-80px;border:2px solid #000;background:#fff;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:14px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;text-decoration:underline;}
				}
			}
			> a{color:#f7186a;}
		}
	}
	.hd_zone{padding:0;right:0;bottom:8px;top:inherit;width:132px;height:25px;background:none;
		a{padding:0;height:25px;line-height:24px;color:#fff;font-size:13px;text-align:center;letter-spacing:0;background:url(../../images/pcweb/header/header_roem.png) no-repeat;background-position:-30px -150px;}
	}
	.hd_bn .bt_hd_btns{top:56px;}
	&.header_fix{padding-top:141px;
		&.main{padding-top:197px;}
		.header{height:56px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.mall_select{position:relative;display:none;}
		.bs_selectbox{padding:0 10px;
			.bs_sel_tit{border:none;}
		}
		.hd_tnb{right:0;padding-top:20px;
			dd{color:#fff;
				a{color:#fff;
					.num b{color:#fff;}
				}
				.on{color:#fff;}
			}
		}
		.catg_wrap{background:none;}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;padding:0;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&:after{background:none;}
			}
		}
		.hd_sns{display:none;}
		.hd_sch{width:390px;margin:8px 0 0;border:none;
			.input{padding:8px 0 8px 20px;margin-top:2px;}
			&.on{
				.sch_wrap:before{top:-2px;}
			}
		}
		.hd_zone{bottom:15px;}
		.hd_tnb dd:after{border-color:#626262;}
		.bs_selectbox{
			.bs_sel_tit a{background:url(../../images/pcweb/header/bu_fixed_arrow.png) 10px 0 no-repeat;}
			&.hover .bs_sel_tit a{background-position:10px -56px;}
		}
		.catg_wrap .catg_lyr{top:54px;}
	}
}
.ie8 .roem{
	.hd_disp dd{letter-spacing:-1px;}
	&.header_fix .hd_catg .catg_bt:before{display:none;}
}

// roem Footer
.roem{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f8f8f8;}
	.foot_opt_list{border-bottom:none;}
	&.main #content{width:100%;padding:0;}
	.type_bx{position:relative;width:1080px;margin:70px auto 0;}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.type_bx h3{font-size:28px;font-weight:700;color:#333;text-align:center;
		.tit_mgz{padding-left:34px;background:url(../../images/pcweb/main/rome_mgz.png) 0 center no-repeat;}
		+ .d_tab_cont{margin-top:25px;}
	}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1080px;margin:0 auto;}
	}
	.d_promo_container{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:680px;z-index:8;
			li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
		// .btn_prev_move{display:block;position:absolute;margin:0;top:325px;left:25px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 0 no-repeat;
		// 	&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 -33px no-repeat;}
		// 	span{display:block;overflow:hidden;text-indent:-999px;}
		// }
		// .btn_next_move{display:block;position:absolute;margin:0;top:325px;right:25px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px 0 no-repeat;
		// 	&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px -33px no-repeat;}
		// 	span{display:block;overflow:hidden;text-indent:-999px;}
		// }
		.btn_prev_move{display:block;position:absolute;margin:0;top:277px;left:25px;width:40px;height:98px;z-index:9;background:url(../../images/pcweb/header/header_roem.png) 0 -415px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_roem.png) -80px -415px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;margin:0;top:277px;right:25px;width:40px;height:98px;z-index:9;background:url(../../images/pcweb/header/header_roem.png) -40px -415px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_roem.png) -120px -415px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.set_indicator{
			ul li a{margin:0 4px;width:18px;height:18px;background:url(../../images/pcweb/header/header_roem.png) 0 -350px no-repeat;
				&.on{background:url(../../images/pcweb/header/header_roem.png) -20px -350px no-repeat;}
			}
			.d_auto{margin-top:-2px;
				.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_roem.png) -40px -350px no-repeat;}
				.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_roem.png) -60px -350px no-repeat;}
			}
		}
	}
}

 // roem wing
.roem.main .wing_menu{top:702px;}
.header_fix.roem .wing_menu{top:52px;}

// bnr_sub
.roem .bnr_sub{width:1080px;margin:40px auto 0;
	ul{width:1104px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;margin:0 24px 12px 0;}
	}
}

// coner_item
.coner_item .coner{margin:40px auto 0;}
.roem{
	.tit_h2_02{margin-bottom:30px;}
	.coner_item{margin-top:80px;}
}
.bnr_img{width:1080px;margin:80px auto 0;}

// roem plan
.main.roem{
	.list_recom_type .list_product01 .brand_nm{text-indent:-9999px;color:#fff;font-size:0;}
	.list_product01{.list{.over .thumb:before,.links:hover .thumb:before{display:none;}
		}
		.prod_nm{color:#666;font-size:13px;}
	}
	.list_recom_type .list_product01{
		.cont_price .c_price{font-size:0;color:#fff;}
		.box_price .c_price strong{color:#333;}
	}
}
.roem{
	.list_recom_type{
		.ltt_bnr,.list_product01 li{border-color:#c5c5c5;}
	}
	.sns_instagram{margin-top:20px;
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:180px;height:180px;margin-top:10px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.type_bx .h3_sns{font-size:24px;color:#333;height:32px;line-height:32px;
		span{display:inline-block;padding-left:42px;background:url(../../images/pcweb/main/tit_insta_roem.png) left center no-repeat;}
	}
	.box_insta{position:relative;
		.swiper-container{width:1080px;height:400px;margin:0;overflow:hidden;
			li{position:relative;float:left;}
		}
	}
}

// instagram
.box_insta .set_indicator{bottom:inherit;left:inherit;top:10px;right:0;
	ul{margin-right:0;
		li a.on{background:url(../../images/pcweb/common/ico_indi02_on.png) center center no-repeat;}
	}
	.swiper-pagination-switch.swiper-active-switch{background-image:url(../../images/pcweb/common/ico_indi02_on.png);}
}

// brand_tab
.roem .brand_tab.center{margin:25px 0;text-align:center;border-top:1px solid #c5c5c5;
	li{position:relative;display:inline-block;padding:15px 15px 15px 19px;background:url(../../images/pcweb/common/ico_bar02.gif) no-repeat 0 50%;
		&:first-child{background:none;}
		a{color:#666;font-size:14px;font-weight:600;}
		&.on a,a:hover{color:#f7186a;}
		&.on a{border-bottom:1px solid #f7186a;
			&:after{content:'';position:absolute;top:-1px;left:50%;margin-left:-5px;width:16px;height:9px;background:url(../../images/pcweb/header/header_roem.png) -80px -350px no-repeat;}
		}
	}
}

// brand type group slide
.brd_tab_swiper{overflow:hidden;position:relative;width:1080px;padding:0 0 47px;position:relative;
	.swiper-slide{float:left;width:1080px;}
	.nav{width:100%;height:16px;position:absolute;left:0;bottom:0;text-align:center;
		.bx{display:inline-block;position:relative;padding:0 37px;
			.bn-left{position:absolute;left:0;top:1px;width:8px;height:15px;background:url(../../images/pcweb/main/arrow_main_gp.png) no-repeat 0 0;text-indent:-9999px;
				&:hover{background-position:0 -15px;}
			}
			.bn-right{position:absolute;right:0;top:1px;width:8px;height:15px;background:url(../../images/pcweb/main/arrow_main_gp.png) no-repeat -8px 0;text-indent:-9999px;
				&:hover{background-position:-8px -15px;}
			}
			.page{display:block;overflow:hidden;
				a{display:block;width:16px;height:16px;padding:0;margin:0;background:url(../../images/pcweb/common/ico_indi02.png) center center no-repeat;text-indent:-9999px;
					&.swiper-active-switch{background:url(../../images/pcweb/common/ico_indi02_on.png) center center no-repeat;}
					+ a{margin:0 0 0 11px;}
				}
			}
		}
	}
}

// roem brand
.roem{
	ul.brand{position:relative;
		&:after{display:block;clear:both;content:'';}
		li{float:left;}
	}
	&.mian .location{margin:18px 0 0;}
}

// ROME;AGAZINE list
h2.tit_mgz{display:block;overflow:hidden;width:100%;padding:75px 0 38px;
	span{display:block;width:1080px;height:58px;margin:0 auto;background:url(../../images/pcweb/shop/roem_mgz_tit.png) no-repeat center 0;text-indent:-9999px;}
}
.mgz_list{overflow:hidden;position:relative;background:#f3f3f3 url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;
	&:after{content:'';display:block;width:100%;height:6px;position:absolute;left:0;bottom:0;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
	.bx{overflow:hidden;width:1080px;margin:0 auto;padding:86px 0;}
	ul{margin:0 0 0 -12px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;width:258px;margin:0 0 0 12px;
			+ li + li + li + li{margin-top:40px;}
			a{display:block;}
			.info{display:block;height:60px;padding:28px 10px 30px;text-align:center;background:#fff;border-bottom:2px solid #e0e0e0;
				span{display:block;letter-spacing:-1px;}
				.tit{overflow:hidden;height:20px;font-size:18px;color:#4e4e4e;line-height:20px;font-weight:600;white-space:nowrap;text-overflow:ellipsis;}
				.txt{overflow:hidden;height:40px;font-size:15px;line-height:20px;color:#95999d;margin-top:10px;}
			}
		}
	}
}

// ROME;AGAZINE veiw
.evt_template.mgz{
	.title{margin-top:30px;
		&.top{padding:45px 0 9px 9px;margin:0 0 14px 9px;border-bottom:#333 1px solid;
			.tit_h2_01{margin:0;}
			.right{bottom:9px;
				ul li{margin:0;
					+ li{margin:0 0 0 9px;}
				}
				button{display:block;float:left;width:153px;height:30px;margin:1px 0 0 9px;border:none;background:url(../../images/pcweb/common/roem_bt_bg.png) no-repeat 0 0;}
			}
		}
	}
	.evt_temp_inputarea{margin:22px auto 0;border-top:#666 1px solid;}
	.tab_anchor01{margin-top:80px;}
}

// cmt_lst
.mgz .cmt_lst{overflow:hidden;width:1080px;margin:0 auto;border-bottom:#666 1px solid;
	li{position:relative;width:917px;padding:15px 147px 15px 16px;
		+ li{border-top:#ddd 1px solid;}
		.nm{display:block;overflow:hidden;
			b{display:block;float:left;font-weight:400;line-height:1;color:#333;}
			em{display:block;position:relative;float:left;padding:0 0 0 15px;margin:0 0 0 15px;line-height:1;color:#999;
				&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#dadada;}
			}
		}
		.tx{display:block;margin:10px 0 0;line-height:18px;color:#666;}
		.bt{position:absolute;right:15px;bottom:15px;
			button{display:block;float:left;position:relative;line-height:1;color:#333;letter-spacing:-.7px;
				+ button{margin:0 0 0 10px;padding:0 0 0 10px;
					&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#e1e1e1;}
				}
				&.cls{color:#f7186a;padding:0 0 1px;border-bottom:#f7186a 1px solid;}
			}
		}
	}
	.re{width:883px;padding:15px 147px 15px 50px;background:url(../../images/pcweb/common/mgz_re_bg.png) no-repeat 27px 15px;}
	li{
		textarea{display:block;width:885px;height:62px;border:#ddd 1px solid;}
		.re_btn{display:block;position:absolute;right:15px;top:15px;width:118px;height:62px;border:#8f8e8e 1px solid;
			em{display:block;font-weight:700;font-size:14px;color:#666;letter-spacing:-.7px;}
		}
	}
	.mdf{
		textarea{margin:13px 0 0;}
		.re_btn{top:auto;bottom:15px;}
		.bt{bottom:auto;top:15px;}
	}
	.tmp.mdf{
		textarea{width:919px;}
		.re_btn{background:#333;border:#333 1px solid;
			em{color:#fff;}
		}
	}
}
.roem{
	.roem_prd{height:1230px;min-height:1230px;}
	.d_tab_cont .btn_more{position:relative;padding-bottom:80px;border-top:1px solid #eee;text-align:center;
		button{position:absolute;top:-37px;left:50%;margin-left:-37px;width:75px;height:75px;background:url(../../images/pcweb/main/btn_more_roem.png) no-repeat;
			span{display:inline-block;margin:0 0 8px;color:#666;font-size:14px;font-weight:600;}
			&.btn_close{display:none;background-position:0 -75px;
				span{margin:16px 0 0;}
			}
		}
	}
	.cmn_tab_intro ul li.on a{background:#f7186a;}
	// .rsch_box{background:#f3f3f3;}
	// .rsch_bar{background:#f3f3f3;
	// 	.bar{span{border-color:#ddd;}
	// 		button{background:#f7186a;}
	// 	}
	// }
	/*.rsch_word strong,*/
	.list_product01 .dis_percent{color:#f7186a;}
}

// point color
.no_cate strong{color:#f7186a;}
.roem{
	// .box_sch_save button{border-color:#f7186a;background:#f7186a;}
	// .cate_area02 .cate_tit{background:#333;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_roem.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_roem_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#f7186a!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#333;background:#333;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{overflow:hidden;width:1080px;
		.img{display:block;float:left;}
		.tx{display:block;float:right;}
	}
}

// store_open
.store_open{
	h2{margin-top:35px;text-align:center;}
	.store dt{margin:30px 0;text-align:center;}
	.bx{margin:40px 0 0;}
}

// ROME;AGAZINE 170620 추가
.edit.type_bx{width:100%;margin-top:40px;background-color:#f3f3f3;padding:50px 0  65px 0;position:relative;
	&:before{content:'';padding-bottom:6px;position:absolute;top:0;left:0;width:100%;background:url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;}
	&:after{content:'';padding-bottom:6px;position:absolute;bottom:0;left:0;width:100%;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
	h3{padding-bottom:0px;}
}
.box_star_roll{width:1080px;position:relative;margin:0 auto;margin-top:20px;
	.roem_mgz{width:1080px;height:487px;overflow:hidden;margin:0;padding:0px;display:block;
		.swiper-container{position:relative;width:1098px;height:487px;overflow:hidden;margin-left:-18px;}
	}
	ul{position:absolute;top:0px;left:0px;width:9999px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;width:348px;margin-left:18px;padding:0;background-color:#f3f3f3;position:relative;
			.pr_img{overflow:hidden;width:348px;height:359px;position:relative;}
			a{display:block;}
			.pr_img .ed_tit{text-align:center;padding-top:18px;position:absolute;left:0px;bottom:0px;width:348px;height:67px;background:url(../../images/pcweb/main/bg_shoopen_editoral.png) repeat-x;
				em{font-size:17px;font-weight:bold;letter-spacing:-1px;color:#333333;display:block;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-bottom:9px;}
				span{font-size:14px;line-height:20px;color:#666666;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-1px;}
			}
			.prd{display:block;position:relative;height:90px;padding:16px 20px 20px 125px;background-color:#fff;border-bottom:#e1e1e1 2px solid;
				dd{position:absolute;left:20px;top:20px;}
				dt{padding-top:12px;
					em{display:block;overflow:hidden;font-size:13px;line-height:17px;height:34px;}
				}
			}
			a:hover .prd dt em{text-decoration:underline;}
			.prd dt span.er{display:block;margin:15px 0 0 0;color:#000;
				b{font-size:11px;vertical-align:middle;margin:0px 3px 0 0;}
				strong{font-family:"Verdana","Nanum Gothic",sans-serif;vertical-align:middle;}
			}
		}
	}
	.br_controll{position:absolute;top:0;left:0;right:0;z-index:2;
		.btn_prev{display:block;position:absolute;top:106px;left:0px;width:28px;height:56px;
			span{display:block;overflow:hidden;width:28px;height:56px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -412px -93px;text-indent:-99999em;}
			&.active span{background-position:-412px -149px;}
		}
		.btn_next{display:block;position:absolute;top:106px;right:0;width:28px;height:56px;
			span{display:block;overflow:hidden;width:28px;height:56px;background:url(../../images/pcweb/header/header_nbkids.png) no-repeat -440px -93px;text-indent:-99999em;}
			&.active span{background-position:-440px -149px;}
		}
	}
	.bt_more{top:-20px;}
}

//option select layer
.roem .lyr_select .sel_btn.selected .sel_txt{color:#f7186a;}