// eblin
.eblin{
	.header{height:240px;border-bottom:none;;background:url(../../images/pcweb/header/bg_tnb_eblin.jpg) repeat-x;
		.hd_mall{position:relative;width:auto;}
		.head{height:240px;}
		.bs_select{display:inline-block;vertical-align:top;
			.bs_tit{position:relative;display:block;margin:8px 0;padding:4px 10px;width:93px;height:16px;color:#848484;font-size:11px;font-weight:700;border:1px solid #ececec;
				.bs_open{position:absolute;top:-1px;right:-1px;width:27px;height:26px;color:#fff;text-indent:-9999px;background:url(../../images/pcweb/header/header_v1.png) no-repeat;background-position:-260px 0;}
				&.selected:after{background-position:-290px 0;}
			}
		}
		h1{left:426px;top:80px;width:auto;
			a{display:block;}
		}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_eblin.png) center center no-repeat;color:#f6cac9;}
	.hd_tnb{
		dd{position:relative;color:#333;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #e0e0e0;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#333;
				.num{background:url(../../images/pcweb/header/bg_ct_eblin01.png) no-repeat;
					b{color:#101624;background:url(../../images/pcweb/header/bg_ct_eblin02.png) right 0 no-repeat;}
				}
			}
			.on,.off{width:22px;margin-left:8px;color:#101624;background:url(../../images/pcweb/header/header_eblin.png) 5px center no-repeat;background-position:-20px -40px;}
		}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_eblin.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
		}
	}
	.hd_sch{left:auto;right:0;top:100px;width:302px;height:41px;border:1px solid #ddd;border-radius:20px;
		.sch_box{border:none;background:#fff;}
		.sch_wrap,.sch_box{height:38px;margin-top:2px;}
		.sch_btn{right:6px;width:37px;height:38px;background:url(../../images/pcweb/header/header_eblin.png) no-repeat -37px -56px;}
		.sch_del{top:12px;right:40px;background:url(../../images/pcweb/header/btn_sch_del_eblin.png) no-repeat center center;}
		.input{width:236px;padding:12px 0 12px 10px;font-size:14px;color:#333;font-family:'Nanum Gothic','Verdana';background:none;}
		input.placeholder{color:#a4a4a4;}
		.input{
			&::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder,&:-moz-placeholder{color:#a4a4a4;}
		}
		&.on{height:36px;border:0;
			&:before,&:after{display:none;}
			.sch_wrap{
				&:before{border-color:#6e6e6e;}
			}
			.sch_box{background:#fff;}
			.input{width:302px;height:auto;padding:8px 0 10px 10px;font-weight:700;font-size:16px;color:#222;}
			.sch_btn{background-position:3px -56px;}
		}
		.sch_keyword{top:34px;border-left:#6e6e6e 2px solid;border-right:#6e6e6e 2px solid;
			&:after{border-color:#6e6e6e;}
			.s_del,.f_keyword,.s_keyword{border-top:#ddd 1px solid;background:#fff;}
			.f_keyword{padding:49px 0 0;
				.s_del{border-left:none;border-right:none;}
				dt{left:148px;width:148px;color:#dadada;background:#f3f3f3;border:none;
					button{width:148px;color:#dadada;background:#f3f3f3;border:none;}
					&:first-child{left:0;}
				}
				dd li a{color:#333;
					.num{}
				}
				dt button{border:#ddd 1px solid;border-top:none;color:#666;
					&.on{border:#fff 1px solid;color:#333;background:#fff;}
				}
			}
			.s_keyword li a b{color:#000;}
			.f_keyword dd li{
				a .num{width:18px;height:18px;line-height:16px;border:none;}
				.del{background:url(../../images/pcweb/header/btn_sch_del_eblin2.png) no-repeat 0 0;}
			}
		}
		.d_sch_complete{border-top:1px solid #ddd;
			.s_keyword{border:none;}
		}
	}
	.hd_sns{position:absolute;top:98px;left:0;width:154px;height:38px;
		ul{background:url(../../images/pcweb/header/header_eblin.png) no-repeat 0 -190px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:38px;height:100%;height:38px;
				+ li{margin:0 0 0 19px;}
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.catg_wrap{}
	.hd_catg{top:inherit;bottom:0;width:auto;height:42px;background:none;
		.catg_bt{position:relative;width:auto;height:40px;padding:0 28px 0 40px;font-weight:400;font-size:15px;background:url(../../images/pcweb/header/eblin_ctg.png) right 0 no-repeat;color:#333;text-align:left;font-family:'Nanum Gothic', 'Verdana';letter-spacing:0;
			&.on{color:#f2a7a4;background:url(../../images/pcweb/header/eblin_ctg.png) right -42px no-repeat;}
		}
	}
	.catg_wrap{
		.catg_lyr{top:40px;min-width:1076px;height:auto;border:2px solid #333;
			.bt_close{background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{padding:0 0 22px 0;width:1046px;min-width:655px;margin-left:30px;
			li{padding:0 45px 0 0;width:160px;
				dl{width:160px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:url(../../images/pcweb/common/ico_link_arrow01.gif) no-repeat 100% 10px;}
			}
		}
	}
	.hd_disp{width:auto;margin:0 0 0 150px;left:0;top:inherit;bottom:0;height:42px;background:none;
		dl{text-align:center;
			&:after{display:block;content:'';clear:both;}
		}
		dd{display:inline-block;float:none;height:42px;width:auto;padding:0;line-height:40px;color:#fff;font-weight:400;background:none;letter-spacing:0;
			// + dd:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:16px;background:#464646;}
			> a{display:block;overflow:hidden;width:auto;height:42px;font-weight:400;font-size:14px;color:#333;font-family:'Nanum Gothic','Verdana';}
			&.active > a{color:#f2a7a4;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-55px;text-align:left;z-index:33;}
		dd.active .depth2{display:block;width:150px;margin:0;left:50%;margin-left:-75px;border:2px solid #000;background:#fff;
			&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
			ul{padding:14px 12px;}
			li a{display:block;padding:4px 0;color:#666;font-weight:400;text-align:center;
				&:hover{font-weight:800;color:#333;text-decoration:underline;}
			}
		}
	}
	.hd_disp02{position:absolute;left:0;top:156px;width:100%;text-align:center;
		dd{display:inline-block;position:relative;
			a{display:block;padding:0 8px;font-size:13px;line-height:13px;color:#333;text-align:center;font-family:'Nanum Gothic','Verdana';font-weight:bold;
				&:hover{color:#f6cac9;}
			}
		}
	}
	.bs_selectbox{padding:7px 0 7px 0;
		.bs_sel_tit{border:1px solid #cbcbcb;
			a{background:url(../../images/pcweb/header/eblin_brand_arrow.png) no-repeat 100% -23px;
				span{padding:0 10px;font-weight:bold;color:#5f5f5f;border-right:1px solid #cbcbcb;letter-spacing:.5px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
		}
		&.hover .bs_sel_tit a{background-position:100% -2px;}
	}
	&.header_fix{padding-top:184px;
		&.main{padding-top:240px;}
		.header{height:56px;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.bs_select{margin:8px 0 0 6px;
				.bs_tit{width:84px;padding-left:0;border:none;background:url(../../images/pcweb/header/bu_brand_arrow02.gif) no-repeat 0 25px;}
			}
			.move_link{margin-top:15px;}
			.bs_select .bs_tit{
				.bs_open{width:11px;height:6px;top:10px;right:10px;background-position:-70px -130px;}
				&.selected .bs_open{background-position:-70px -140px;}
			}
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.mall_select{position:relative;display:none;}
		.hd_tnb{right:0;padding-top:20px;margin-right:143px;}
		.header .bs_select .bs_tit{color:#fff;}
		.hd_tnb dd{color:#fff;
			a{color:#fff;}
		}
		.catg_wrap{background:none;}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;padding:0;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&:after{background:none;}
				&::before{display:none;}
			}
		}
		.hd_sns{display:none;}
		.hd_sch{position:relative!important;left:0;top:0;width:390px;margin:9px 0 0 16px;z-index:4005;border:none;
			.sch_wrap{margin-top:0;}
			.sch_box{margin-top:0;background:#fff;}
			&.on{width:390px;height:36px;
				&:before{display:none;}
			}
		}
	}
	.hd_sch.on:after{display:none;}
	&.header_fix{
		.hd_sch{
			&.on{
				// .sch_box{background:none;}
				// .input{width:220px;height:auto;padding:8px 0 10px;font-weight:700;font-size:16px;color:#222;}
				.sch_btn{background-position:-37px -56px;}
			}
			.input{width:250px;padding:10px 0 6px 12px;}
			.sch_keyword{
				.f_keyword dt{left:148px;width:148px;
					button{width:148px;}
					&:first-child{left:0;}
				}
			}
			input.placeholder{color:#555;}
			.input{&::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder,&:-moz-placeholder{color:#555;}
			}
		}
		.hd_zone{display:none;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.hd_disp02{display:none;}
		.hd_tnb{margin:0;}
		.bs_selectbox{padding:0 0 0 10px;
			.bs_sel_tit a{background:url(../../images/pcweb/header/header_eblin.png) no-repeat -161px -100px;}
			&.hover .bs_sel_tit a{background-position:-186px -100px;}
		}
		.hd_sch .sch_btn{background-position:-37px -56px;}
		.catg_wrap .catg_lyr{top:54px;}
	}
}

.ie8 .eblin{
	.hd_disp dd{letter-spacing:-1px;}
	&.header_fix .hd_sch.on:before,.hd_sch.on:after{display:none;}
	&.header_fix .hd_catg .catg_bt:before{background:none;}
}

// eblin Footer
.eblin{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
	.brand_select{
		dl:first-child,.ldeco,.rdeco{border-top:#ededed 1px solid;}
	}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1194px;margin:0 auto;}
		&.wide{
			.d_promo_container.type02 ul.d_bnr_cont{width:100%;min-width:1080px;height:560px;}
			.d_bnr_cont li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
	}
	.d_promo_container{
		&.type02{
			ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:650px;height:557px;z-index:8;
				li{opacity:0;filter:alpha(opacity = 0);}
			}
			.set_controll{width:1080px;}
		}
		.btn_prev_move{display:block;position:absolute;top:300px;left:-47px;z-index:9;width:22px;height:43px;background:url(../../images/pcweb/main/bg_prevnext_eblin.png) 0 0 no-repeat;
			&:hover{background:url(../../images/pcweb/main/bg_prevnext_eblin.png) 0 -43px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;top:300px;right:-47px;z-index:9;width:22px;height:43px;background:url(../../images/pcweb/main/bg_prevnext_eblin.png) -22px 0 no-repeat;
			&:hover{background:url(../../images/pcweb/main/bg_prevnext_eblin.png) -22px -43px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	&.eblin .set_indicator{bottom:22px;
		&.type02 ul li a{width:16px;height:16px;margin-left:10px;background:url(../../images/pcweb/common/ico_indi03_on.png) center center no-repeat;
			&.on{background:url(../../images/pcweb/common/ico_indi02.png) center center no-repeat;}
		}
	}
	.safari .main.eblin .set_indicator.type02 ul li a{margin-left:8px;}
	.set_indicator{
		&.type02 .d_auto{
			.d_play{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_play02.png) center center no-repeat;text-indent:-9999px;}
			.d_stop{display:inline-block;width:20px;height:20px;background:url(../../images/pcweb/common/ico_indi_stop02.png) center center no-repeat;text-indent:-9999px;}
		}
		.d_auto{
			&.ons .d_play,.d_stop{display:block;}
		}
		&.type02 .d_auto{
			&.ons .d_play,.d_stop{display:block;}
		}
		.d_auto{
			&.ons .d_stop,.d_play{display:none;}
		}
		&.type02 .d_auto{
			&.ons .d_stop,.d_play{display:none;}
		}
	}
}

// eblin layout
.eblin{
	.type_bx{position:relative;width:1080px;margin:70px auto 0;
		h3{display:block;padding:0 0 30px;font-weight:700;font-size:26px;line-height:1;color:#222;text-align:center;font-family:'Malgun Gothic';}
	}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	&.main .wing_menu{top:584px;}
}

// eblin wing
.header_fix.main.eblin .wing_menu{top:52px;}

// sub_bn

//  브랜드몰 서브배너 간격 24px
// 배너1 - 1080px
// 배너2 - 528px
// 배너3 - 344px
// 배너4 - 252px

.eblin .bnr_sub{width:1080px;margin:40px auto 0;
	ul{width:1104px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;margin:0 24px 12px 0;}
	}
}

// eblin tab
.brand_tab{overflow:hidden;position:relative;width:100%;height:46px;margin:0 0 30px;background:#f3f3f3;
	li{float:left;position:relative;height:46px;text-align:center;
		+ li:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:18px;background:#c6c6c6;}
		a{display:block;font-size:14px;line-height:46px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif;}
	}
	.on{
		&:after{content:'';display:block;width:100%;height:3px;position:absolute;left:0;bottom:0;background:#f2a7a4;}
		a{font-weight:700;color:#f2a7a4;}
	}
}

// eblin trend
.eblin.main{
	.list_product01{
		.brand_nm{display:none;}
		.list{
			.over .thumb:before,.links:hover .thumb:before{border:none;}
		}
		.prod_nm{font-size:13px;color:#666;}
		.box_price .c_price{color:#fff;
			strong{display:block;font-size:14px;color:#333;}
		}
	}
	.list_recom_type{
		.list_product01 li,.ltt_bnr{border:#fff 1px solid;}
	}
}

// instagram
.type_bx h3.sns{font-weight:700;font-size:20px;line-height:36px;font-family:'Malgun Gothic';
	span{display:inline-block;width:132px;height:38px;margin:0 8px 0 0;background:url(../../images/pcweb/main/newbal_insta.png) no-repeat 0 0;text-indent:-9999px;}
}
.eblin{
	.sns_instagram{
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:216px;height:216px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.bx_notice{width:1080px;margin:80px auto 0;padding:30px 0 28px;border-top:1px solid #e8e8e8;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;
			dl{float:left;width:400px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:15px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{margin-top:10px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				&:first-child{margin-top:0;}
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;
					&:hover{text-decoration:underline;}
				}
			}
		}
		.store{float:right;width:616px;
			&:after{display:block;clear:both;content:'';}
			a{display:block;float:left;
				+ a{margin:0 0 0 16px;}
			}
		}
	}
	&.main #content{padding:0;}
}

// MAGAZINE list
h2.tit_mgz{display:block;overflow:hidden;width:100%;padding:42px 0 38px;
	span{display:block;width:1080px;height:58px;margin:0 auto;background:url(../../images/pcweb/shop/eblin_mgz_tit.png) no-repeat center 0;text-indent:-9999px;}
}
.mgz_list{overflow:hidden;position:relative;background:#f3f3f3 url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;
	&:after{content:'';display:block;width:100%;height:6px;position:absolute;left:0;bottom:0;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
	.bx{overflow:hidden;width:1080px;margin:0 auto;padding:86px 0;}
	ul{margin:0 0 0 -12px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;width:258px;margin:0 0 0 12px;
			+ li + li + li + li{margin-top:40px;}
			a{display:block;}
			.info{display:block;height:60px;padding:28px 10px 30px;text-align:center;background:#fff;border-bottom:2px solid #e0e0e0;
				span{display:block;letter-spacing:-1px;}
				.tit{overflow:hidden;height:20px;font-size:18px;color:#4e4e4e;line-height:20px;font-weight:600;white-space:nowrap;text-overflow:ellipsis;}
				.txt{overflow:hidden;height:40px;font-size:15px;line-height:20px;color:#95999d;margin-top:10px;}
			}
		}
	}
}

// MAGAZINE veiw
.evt_template.mgz{
	.title{margin-top:30px;
		&.top{padding:45px 0 9px 9px;margin:0 0 14px 9px;border-bottom:#333 1px solid;
			.tit_h2_01{margin:0;}
			.right{bottom:9px;
				ul li{margin:0;
					+ li{margin:0 0 0 9px;}
				}
				button{display:block;float:left;width:146px;height:30px;margin:1px 0 0 9px;border:none;background:url(../../images/pcweb/common/eblin_bt_bg.png) no-repeat 0 0;}
			}
		}
	}
	.evt_temp_inputarea{margin:22px auto 0;border-top:#666 1px solid;}
	.tab_anchor01{margin-top:80px;}
}
.mgz .cmt_lst{overflow:hidden;width:1080px;margin:0 auto;border-bottom:#666 1px solid;
	li{position:relative;width:917px;padding:15px 147px 15px 16px;
		+ li{border-top:#ddd 1px solid;}
		.nm{display:block;overflow:hidden;
			b{display:block;float:left;font-weight:400;line-height:1;color:#333;}
			em{display:block;position:relative;float:left;padding:0 0 0 15px;margin:0 0 0 15px;line-height:1;color:#999;
				&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#dadada;}
			}
		}
		.tx{display:block;margin:10px 0 0;line-height:18px;color:#666;}
		.bt{position:absolute;right:15px;bottom:15px;
			button{display:block;float:left;position:relative;line-height:1;color:#333;letter-spacing:-.7px;
				+ button{margin:0 0 0 10px;padding:0 0 0 10px;
					&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#e1e1e1;}
				}
				&.cls{color:#f7186a;padding:0 0 1px;border-bottom:#f7186a 1px solid;}
			}
		}
	}
	.re{width:883px;padding:15px 147px 15px 50px;background:url(../../images/pcweb/common/mgz_re_bg.png) no-repeat 27px 15px;}
	li{
		textarea{display:block;width:885px;height:62px;border:#ddd 1px solid;}
		.re_btn{display:block;position:absolute;right:15px;top:15px;width:118px;height:62px;border:#8f8e8e 1px solid;
			em{display:block;font-weight:700;font-size:14px;color:#666;letter-spacing:-.7px;}
		}
	}
	.mdf{
		textarea{margin:13px 0 0;}
		.re_btn{top:auto;bottom:15px;}
		.bt{bottom:auto;top:15px;}
	}
	.tmp.mdf{
		textarea{width:919px;}
		.re_btn{background:#333;border:#333 1px solid;
			em{color:#fff;}
		}
	}
}

// point color
.eblin{
	.cmn_tab_intro ul li.on a{background:#f2a7a4;}
	// .rsch_box{background:#ededed;}
	// .rsch_bar{background:#ededed;
	// 	.bar{
	// 		span{border-color:#dbdbdb;}
	// 		button{background:#f4a6a4;}
	// 	}
	// }
	/*.rsch_word strong,*/
	.list_product01 .dis_percent{color:#df3434;}
}
.no_cate strong{color:#df3434;}
.eblin{
	// .box_sch_save button{border-color:#8c8c8c;background:#8c8c8c;}
	// .cate_area02 .cate_tit{background:#f2a7a2;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_eblin.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_eblin_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#df3434!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#f2a7a2;background:#f2a7a2;}
}


// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{overflow:hidden;width:1080px;
		.img{display:block;}
	}
}

//option select layer
.eblin .lyr_select .sel_btn.selected .sel_txt{color:#df3434;} 