// clue
.clue{
	.header{height:223px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_clue.png) repeat-x;
		.hd_mall{position:relative;width:auto;}
		.head{height:223px;}
		h1{left:50%;top:60px;margin-left:-63px;width:auto;height:auto;}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_clue.png) center center no-repeat;color:#fff;}
	.bs_selectbox{padding:7px 0 8px 0;
		.bs_sel_tit{border:1px solid #ececec;
			a{color:#444;
				span{padding:0 10px;color:#5f5f5f;border-right:1px solid #ececec;}
			}
		}
	}
	.hd_tnb{
		dd{position:relative;color:#333;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #dedede;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#333;
				.num{background:url(../../images/pcweb/header/bg_ct_clue01.png) no-repeat;
					b{color:#fff;background:url(../../images/pcweb/header/bg_ct_clue02.png) right 0 no-repeat;}
				}
			}
			.on{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_clue.png) 5px center no-repeat;background-position:-20px -40px;}
			.off{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_clue.png) 5px center no-repeat;background-position:-70px -40px;}
		}
	}
	.hd_cnb{padding-top:90px;
		ul{
			&:after{display:block;clear:both;content:'';}
			li{float:left;height:40px;line-height:40px;
				&:first-child{padding-left:0;}
				a{position:relative;display:block;color:#f8bbac;font-size:14px;font-weight:600;
					span{padding:0 10px 0 20px;}
					&:after{content:'';position:absolute;left:0;top:16px;width:10px;height:10px;background:url(../../images/pcweb/header/header_clue.png) no-repeat;}
				}
				&.cnb_new a span{padding:0 10px 0 0;}
				&.cnb_best a:after{background-position:-160px -130px;}
				&.cnb_sale a:after{background-position:-170px -130px;}
				&.cnb_plan a:after{background-position:-180px -130px;}
				&.cnb_evt a:after{background-position:-190px -130px;}
			}
		}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_clue.png) no-repeat;}
			&.el a{width:95px;}
			&.mh a{width:136px;background-position:-95px 0;}
			&.ki a{width:110px;background-position:-231px 0;}
		}
	}
	.hd_sch{left:inherit;right:0;top:90px;width:340px;
		.sch_box{height:38px;border:1px solid #f8bbac;}
		.sch_wrap,.sch_box{border-radius:0;}
		.sch_wrap{
			&:before{display:none;}
		}
		.input{width:260px;height:16px;color:#222;}
		.sch_btn{top:4px;right:10px;width:30px;height:30px;background:url(../../images/pcweb/header/header_clue.png) 0 -60px no-repeat;}
		&.on .input{font-size:15px;font-weight:700;color:#e36443;}
		.sch_keyword{width:338px;top:37px;border-color:#f4a894;
			&:after{display:none;}
			.f_keyword{
				dt{width:169px;border-color:#f4a894;left:169px;
					button{background:#f09780;color:#fff;width:169px;border-color:#f4a894;}
					&:first-child{left:0;}
				}
				dd li a{color:#333;
					// .num{color:#333;}
				}
				dt button.on{color:#e36443;background:#fff;}
			}
			.s_keyword li a b{color:#e36443;}
		}
		&.on .sch_box{border:1px solid #f8bbac;border-radius:0;}
		.d_sch_complete{border-top:none;
			.k_brand{border-top:1px solid #ddd;}
		}
	}
	.hd_sns{position:absolute;top:90px;left:0;width:200px;height:34px;
		ul{background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:0 -190px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:25%;height:100%;height:34px;
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.hd_catg{top:inherit;bottom:0;background:none;
		.catg_bt{width:150px;height:40px;padding-left:30px;line-height:38px;color:#333;font-size:13px;letter-spacing:0;text-align:left;background:url(../../images/pcweb/header/clue_ctg.png) no-repeat;
			&.on{background:url(../../images/pcweb/header/clue_ctg.png) 0 -40px no-repeat;}
		}
	}
	.catg_wrap{
		.catg_lyr{width:auto;min-width:1080px;height:auto;top:38px;border:2px solid #e36443;
			.bt_close{background:url(../../images/pcweb/header/header_clue.png) -20px -130px no-repeat;}
		}
		.catg_all{width:auto;padding:0 0 22px 1px;min-width:655px;
			ul{width:1050px;margin-left:30px;overflow:hidden;}
			li{padding:0 50px 0 0;width:160px;
				dl{width:165px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:none;}
			}
		}
	}
	.hd_disp{margin-left:150px;left:inherit;top:inherit;right:0;bottom:0;height:40px;background:none;
		dl{display:block;/* width:930px; */
			&:after{display:block;content:'';clear:both;}
		}
		dd{float:left;width:auto;/* padding:0 20px; */letter-spacing:0;line-height:40px;color:#444;font-weight:600;background:none;
			> a{display:block;overflow:hidden;height:40px;color:#333;font-size:13px;font-weight:400;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
			&.active{
				a{color:#f8bbac;}
				.depth2{display:block;width:156px;margin:0;left:50%;margin-left:-78px;border:2px solid #e36443;background:#fff;text-align:left;
					&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/header/header_clue.png) -60px -130px no-repeat;}
					ul{padding:14px 20px;}
					li a{display:block;padding:4px 0;color:#666;font-weight:400;
						&:hover{font-weight:800;color:#333;text-decoration:underline;}
					}
				}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-55px;z-index:33;}
	}
	.brand_select{margin-top:1px;}
	&.header_fix{padding-top:167px;
		&.main{padding-top:223px;}
		.header{height:56px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_fixed_clue.png) repeat;
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.bs_selectbox{padding:0 10px;}
		.mall_select{position:relative;display:none;}
		.hd_tnb{right:0;padding-top:20px;
			dd{color:#fff;
				a{color:#fff;}
			}
		}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&:after{display:none;}
			}
		}
		.hd_sns{display:none;}
		.hd_sch{left:285px;right:inherit;top:12px;width:390px;z-index:4005;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.hd_sch{
			.sch_box{height:34px;border:1px solid #f4a894;background:#f8dcd5;}
			.input{background:#f8dcd5;padding:8px 0 8px 10px;}
			.sch_btn{top:1px;right:5px;}
			.sch_keyword{top:32px;}
		}
		.hd_cnb{display:none;}
		.brand_select{top:55px;}
		.catg_wrap .catg_lyr{top:54px;}
		.hd_sch .sch_del{top:8px;right:40px;}
	}
	// clue Footer
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
	&.main .wing_menu{top:580px;}
	&.header_fix .wing_menu{top:52px;}

	.list_product05 .dis_percent{color:#f8bbac;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:absolute;width:1250px;top:50%;left:50%;margin:0 0 0 -625px;}
	}
	.d_promo_container{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:540px;z-index:8;
			li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					&:focus{opacity:0.9999!important;filter:alpha(opacity = 99.9);}
					img{display:inline;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;left:0;margin:0;z-index:9;width:70px;height:70px;margin-top:-35px;background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:0 -170px;
			&:hover{background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:0 -240px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;right:0;margin:0;z-index:9;width:70px;height:70px;margin-top:-35px;background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:-70px -170px;
			&:hover{background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:-70px -240px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	.set_indicator{
		ul li a{margin:0 4px;width:16px;height:16px;background:url(../../images/pcweb/header/header_clue.png) -80px -130px no-repeat;
			&.on{width:16px;height:16px;background:url(../../images/pcweb/header/header_clue.png) -100px -130px no-repeat;}
		}
		.d_auto{margin-top:-2px;
			.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_clue.png) -120px -130px no-repeat;}
			.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_clue.png) -140px -130px no-repeat;}
		}
	}
	.d_promo_container2{
		.set_controll{position:absolute;width:1080px;top:50%;left:50%;margin:0 0 0 -540px;}
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:auto;z-index:8;
			li{width:0;height:0;position:relative;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				&:first-child{width:auto;height:auto;}
				a{display:block;width:1080px;height:100%;margin:0 auto;text-align:center;
					img{display:inline;width:auto;height:auto;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;left:5px;margin:0;z-index:9;width:70px;height:70px;margin-top:-35px;background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:0 -170px;
			&:hover{background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:0 -240px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;right:5px;margin:0;z-index:9;width:70px;height:70px;margin-top:-35px;background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:-70px -170px;
			&:hover{background:url(../../images/pcweb/header/header_clue.png) no-repeat;background-position:-70px -240px;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		// 후아유 타입
		// .btn_prev_move{display:block;position:absolute;left:5px;z-index:9;width:35px;height:60px;margin-top:-30px;background:url(../../images/pcweb/main/bg_prevnext_common.png) 0 0 no-repeat;
		// 	&:hover{background:url(../../images/pcweb/main/bg_prevnext_common.png) -70px 0px no-repeat;}
		// 	span{display:block;overflow:hidden;text-indent:-999px;}
		// }
		// .btn_next_move{display:block;position:absolute;right:5px;z-index:9;width:35px;height:60px;margin-top:-30px;background:url(../../images/pcweb/main/bg_prevnext_common.png) -35px 0 no-repeat;
		// 	&:hover{background:url(../../images/pcweb/main/bg_prevnext_common.png) -105px 0px no-repeat;}
		// 	span{display:block;overflow:hidden;text-indent:-999px;}
		// }
	}
}

// content
.clue{
	&.main #content{width:100%;padding:0;}
	.type_bx{position:relative;width:1080px;margin:52px auto 0;
		h3{font-size:24px;font-weight:700;color:#333;text-align:center;}
	}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.bnr_sub{width:1080px;margin:40px auto 0;
		ul{width:1104px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;margin:0 24px 0 0;
				+li{margin-top:12px;}
			}
		}
	}
	.box_roll_evt{margin-top:70px;}
}


// big_ctg
.big_ctg{width:1080px;margin:50px auto 0;text-align:center;
	li{display:inline-block;vertical-align:middle;margin:0 10px;}
}

// brand_tab
.clue .brand_tab{margin:30px 0 40px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
	li{display:inline-block;text-align:center;
			a{display:block;height:18px;line-height:18px;padding:10px 10px 8px;color:#666;font-size:14px;font-family:"Verdana","Nanum Gothic",sans-serif;}
		a{display:inline-block;padding-bottom:5px;color:#666;font-size:13px;font-weight:600;}
		&.on a{color:#f8bbac;border-bottom:2px solid #f8bbac;}
		a:hover{color:#f8bbac;}
	}
}

// clue plan
.main.clue{
	.list_recom_type .list_product01{
		li{border-color:#ddd;}
		.brand_nm{text-indent:-9999px;color:#fff;font-size:0;}
		.cont_price .c_price{font-size:0;color:#fff;}
		.box_price .c_price strong{color:#333;}
	}
	.list_product01{
		.list{
			.over .thumb:before,.links:hover .thumb:before{display:none;}
		}
		.prod_nm{color:#666;font-size:13px;}
	}
}

// notice/brand/store
.clue{
	.bx_notice{width:1080px;margin:65px auto 0;padding-top:10px;border-top:2px solid #f8bbac;
		&:after{display:block;clear:both;content:'';}
		dt{margin-bottom:20px;color:#f8bbac;font-size:14px;font-weight:700;}
		.notice{float:left;width:373px;
			dl{float:left;width:400px;padding-right:30px;
				&:after{display:block;clear:both;content:'';}
			}
			dd{margin-top:10px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				&:first-child{margin-top:0;}
				a{display:block;overflow:hidden;color:#666;font-size:13px;text-overflow:ellipsis;white-space:nowrap;}
			}
		}
		.store{float:left;margin-left:90px;width:272px;}
		.follow{float:left;margin-left:90px;width:255px;
			dl{
				&:after{display:block;clear:both;content:'';}
				dd{float:left;margin-left:15px;}
				dt + dd{margin-left:0;}
			}
		}
	}
	.cmn_tab_intro ul li.on a{background:#f2a7a4;}
	.rsch_box{background:#fdede2;}
	.rsch_bar{background:#fdede2;
		.bar{
			span{border-color:#ddd4c9;}
			// button{background:#f68163;}
		}
	}
	.rsch_word strong{color:#f68163;}
}

// point color
.no_cate strong{color:#f68163;}
.clue{
	.list_product01 .dis_percent{color:#c02431;}
	// .box_sch_save button{border-color:#f68163;background:#f68163;}
	// .cate_area02 .cate_tit{background:#f68163;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_clue.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_clue_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#f68163!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#f68163;background:#f68163;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{overflow:hidden;width:1080px;
		.img{display:block;float:left;}
		.tx{display:block;float:right;}
	}
}

// instagram
.clue{
	.sns_instagram{margin-top:25px;
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:216px;height:216px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.type_bx .h3_sns{font-size:24px;color:#f8bbac;
		.ico_ins{display:inline-block;width:131px;height:38px;color:#fff;text-indent:-9999px;background:url(../../images/pcweb/main/tit_insta_whoau.png) no-repeat;}
	}
}


//option select layer
.clue .lyr_select .sel_btn.selected .sel_txt{color:#f68163;}


// 산지직송 - 상품리스트 공통
	.direct_farm{height:844px;margin:60px 0 0;padding:0;
		.title{position:relative;margin:0 auto;width:1080px;height:210px;}
		.btn_top{position:absolute;right:0;bottom:0;
			.btn_more{padding:3px 10px 5px;font-size:13px;line-height:14px;color:#fff;border:1px solid #fff;
				span{padding-right:15px;background:url(../../images/pcweb/main/bt_more_farm.png) right center no-repeat;}
			}
		}
		.farm_type01,.farm_type02,.farm_type03,.farm_type04{position:relative;margin:0 auto;}
		.farm_box{position:relative;width:100%;height:570px;margin:0 auto;padding:15px 0;
			.farm_type{width:1080px;height:540px;margin:0 auto;padding:0 10px 10px 0;background:url(../../images/pcweb/main/farm_wrap_bg.png) -2px -1px no-repeat;}
		}
		.farm-btn{position:relative;width:1080px;margin:0 auto;cursor:pointer;z-index:9;
			.farm-btn-prev{display:block;position:absolute;top:-340px;left:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) 0 -200px no-repeat;z-index:9;
				&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -70px -200px no-repeat;}
				span{display:block;overflow:hidden;text-indent:-999px;}
			}
			.farm-btn-next{display:block;position:absolute;top:-340px;right:-140px;width:30px;height:52px;background:url(../../images/pcweb/header/header_kims_new.png) -30px -200px no-repeat;z-index:9;
				&:hover{background:url(../../images/pcweb/header/header_kims_new.png) -100px -200px no-repeat;}
				span{display:block;overflow:hidden;text-indent:-999px;}
			}
		}
		.farm-pagi{margin-top:20px;height:15px;text-align:center;z-index:9;
			span{display:inline-block;float:inherit;background:url(../../images/pcweb/header/header_kims_new.png) 0px -170px no-repeat;cursor:pointer;
				&.swiper-active-switch{background:url(../../images/pcweb/header/header_kims_new.png) -23px -170px no-repeat;}
			}
		}
	}
	@media screen and (max-width:1420px){
		.direct_farm .farm-btn{
			.farm-btn-prev{width:56px;height:78px;top:-354px;left:0;background:url(../../images/pcweb/header/kims_df_btn.png) 0 0 no-repeat;
				&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) 0 -80px no-repeat;}
			}
			.farm-btn-next{width:56px;height:78px;top:-354px;right:0;background:url(../../images/pcweb/header/kims_df_btn.png) -60px 0 no-repeat;
				&:hover{background:url(../../images/pcweb/header/kims_df_btn.png) -60px -80px no-repeat;}
			}
		}
	}
	.ie678 .direct_farm .farm-btn{
		.farm-btn-prev{left:0;}
		.farm-btn-next{right:0;}
	}

	// 산지직송 - 상품리스트 공통
.clue{
	.direct_farm{
		.swiper-container{width:1080px;height:550px;}
		.ban{float:left;width:570px;}
		.prod{float:left;width:510px;
			a{position:relative;display:block;
				&:after{display:block;clear:both;content:'';}
			}
			.t_left .thumb{float:left;}
			.t_right .thumb{float:right;}
			.thumb{position:relative;width:270px;height:270px;
				img{width:100%;}
			}
			.dis_percent{position:absolute;top:10px;left:10px;width:77px;height:77px;color:#f33;font-size:13px;font-weight:lighter;line-height:77px;text-align:center;background:url(../../images/pcweb/main/kims_dis_percent.png) no-repeat;
				strong{font-size:28px;font-weight:bold;letter-spacing:-2px;font-family:"Verdana","Nanum Gothic",sans-serif;}
			}
			.cont{position:relative;float:left;width:238px;height:268px;border:1px dotted #7f7f7f;background:#ececec;}
			.t_left .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;left:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg1.png) no-repeat;}
			.t_right .cont:after{content:'';position:absolute;top:50%;margin-top:-13px;right:-13px;width:14px;height:26px;background:url(../../images/pcweb/main/farm_cont_bg2.png) no-repeat;}
			.cont{
				.prod_nm{display:block;padding:80px 20px 0;color:#0d0d0d;font-size:16px;line-height:16px;height:48px;overflow:hidden;}
				.box_price{padding:40px 20px 0;}
				.cont_price{
					.price01{color:#242424;font-size:16px;height:25px;font-weight:600;letter-spacing:-1px;}
					.c_price{display:block;margin-top:5px;font-size:16px;height:30px;color:#0d0d0d;font-size:22px;font-weight:lighter;background:none;}
					.price01{.prime,.cur_price{color:#999;font-weight:400;font-family:'Nanum Gothic',sans-serif;}
					}
					.c_price strong{font-size:28px;letter-spacing:-2px;vertical-align:top;font-family:"Verdana","Nanum Gothic",sans-serif;}
				}
			}
		}
		.type01{width:1080px;margin:0 auto;background:url(../../imsges/pcweb/main/farm_wrap_bg.png) no-repeat;
			&:after{display:block;clear:both;content:'';}
		}
		.type02{width:1080px;margin:0 auto;
			.prod{width:540px;
				.cont{width:268px;}
			}
		}
		.type03{width:1080px;margin:0 auto;
			.prod{width:1080px;}
		}
		.type02 .prod .cont{width:268px;}
		.type03 .prod{
			ul{
				&:after{display:block;clear:both;content:'';}
				li{float:left;width:269px;height:270px;overflow:hidden;border-left:1px solid #fff;
					&:first-child,&:nth-child(4n+1){width:270px;border:none;}
				}
			}
			.thumb img{width:270px;height:270px;}
			.cont{position:absolute;bottom:0;left:0;width:100%;height:100px;border:none;background:url(../../images/pcweb/main/kims_bg_farm.png) repeat;
				.prod_nm{padding:12px 20px 0;height:32px;font-size:15px;color:#fff;}
				.cont_price{
					.price01{display:inline-block;height:22px;}
					.c_price{display:inline-block;color:#fff;font-size:16px;margin-top:0;vertical-align:top;
						strong{font-size:24px;}
					}
				}
				.box_price{padding:10px 20px 0;color:#fff;}
				.cont_price .price01{.prime{color:#fff;font-size:13px;}
					.price_nm{color:#fff;font-size:13px;font-weight:400;}
					.cur_price{color:#fff;font-size:13px;}
				}
			}
		}
		.type04{width:1080px;margin:0 auto;}
	}
}