// mixxo
.mixxo{
	.header{height:200px;border-bottom:1px solid #222;background:url(../../images/pcweb/header/bg_tnb_mixxo.png) repeat-x;
		.hd_mall{position:relative;width:auto;}
		.head{height:200px;}
		h1{left:457px;top:80px;width:auto;}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_mixxo.png) center center no-repeat;color:#fff;}
	.bs_selectbox{padding:7px 0 8px 0;
		.bs_sel_tit{border:1px solid #ddd;
			a{color:#444;
				span{padding:0 10px;color:#5f5f5f;border-right:1px solid #ddd;}
			}
		}
	}
	.hd_tnb{
		dd{position:relative;color:#555;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #dedede;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#555;
				.num{background:url(../../images/pcweb/header/bg_ct_mixxo01.png) no-repeat;
					b{color:#fff;background:url(../../images/pcweb/header/bg_ct_mixxo02.png) right 0 no-repeat;}
				}
			}
			.on,.off{width:22px;margin-left:8px;color:#fff;background:url(../../images/pcweb/header/header_mixxo.png) 5px center no-repeat;background-position:-20px -40px;}
		}
	}
	.mall_select{display:inline-block;float:left;
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_mixxo.png) no-repeat;}
			&.el a{width:109px;}
			&.mh a{width:136px;background-position:-109px 0;}
			&.ki a{width:109px;background-position:-245px 0;}
		}
	}
	.hd_sch{left:inherit;right:0;top:90px;width:240px;
		.sch_box{border:1px solid #ddd;}
		.sch_wrap,.sch_box{border-radius:0;}
		.input{width:165px;color:#222;}
		&.on{
			.sch_wrap{
				&:before{display:none;}
			}
			.input{font-size:15px;font-weight:700;color:#df3434;}
		}
		.sch_keyword{width:238px;
			&:after{display:none;}
			.f_keyword{
				dt{left:119px;width:118px;
					button{width:118px;}
					&:first-child{left:0;}
				}
				dd li a{color:#333;
					.num{color:#333;}
				}
				dt button.on{color:#df3434;}
			}
			.s_keyword li a b{color:#df3434;}
		}
		&.on .sch_box{border:1px solid #333;border-radius:0;}
		.d_sch_complete .k_brand{border-top:1px solid #ddd;}
	}
	.hd_sns{position:absolute;top:90px;left:0;width:200px;height:34px;
		ul{background:url(../../images/pcweb/header/header_mixxo.png) no-repeat;background-position:0 -190px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:25%;height:100%;height:34px;
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.hd_catg{top:inherit;bottom:0;background:none;
		.catg_bt{width:140px;height:40px;padding-left:30px;line-height:38px;color:#222;text-align:left;background:url(../../images/pcweb/header/header_mixxo.png) no-repeat;background-position:0 -90px;
			&.on{color:#df3434;background:url(../../images/pcweb/header/header_mixxo.png) no-repeat;background-position:-150px -90px;}
		}
	}
	.catg_wrap{
		.catg_lyr{width:auto;height:auto;top:40px;border:none;background:none;max-width:1080px;
			.bt_close{right:-34px;bottom:0;background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{position:relative;padding:0 0 22px 1px;width:auto;height:auto;border:2px solid #333;background:#fff;
			ul{display:table;margin:0;padding-left:40px;overflow:hidden;
				+ ul{border-top:none;}
			}
			> ul{border-bottom:none;}
			li{float:inherit;display:table-cell;padding:0 42px 0 0;width:165px;
				dl{width:165px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:none;}
			}
		}
	}
	.hd_disp{margin-left:140px;/* padding-right:10px; */left:inherit;top:inherit;right:0;bottom:0;height:40px;background:none;
		dl:after{display:block;content:'';clear:both;}
		dd{width:inherit;/* padding:0 23px 0 31px; */margin:0 -4px;padding:0 4px;letter-spacing:0;line-height:40px;color:#444;font-weight:600;background:url(../../images/pcweb/header/header_mixxo.png) 0 -150px no-repeat;
			> a{display:block;overflow:hidden;height:40px;color:#444;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-55px;z-index:33;}
		dd.active{
			.depth2{display:block;width:156px;margin:0;left:50%;margin-left:-78px;border:2px solid #000;background:#fff;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:14px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;text-decoration:underline;}
				}
			}
			> a{color:#df3434;}
		}
	}
	.brand_select{margin-top:1px;}
	&.header_fix{padding-top:144px;
		&.main{padding-top:200px;}
		.header{height:56px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.mall_select{position:relative;display:none;}
		.bs_selectbox{float:left;padding:0 10px;width:20px;cursor:pointer;}
		.hd_tnb{right:0;padding-top:20px;
			dd{color:#fff;
				a{color:#fff;}
			}
		}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;}
		}
		.hd_sns{display:none;}
		.hd_sch{left:285px;right:inherit;top:12px;width:390px;z-index:4005;}
		.bs_selectbox .bs_sel_tit{border:none;}
		.hd_sch .sch_box{border:1px solid #000;
			input{box-sizing:border-box;height:28px;line-height:20px;}
		}
		.brand_select{top:55px;}
		.catg_wrap .catg_lyr{top:54px;}
	}
}
.ie8 .mixxo .hd_disp dd{letter-spacing:-1px;}

// mixxo Footer
.mixxo{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f3f3f3;}
	.foot_opt_list{border-bottom:none;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1080px;margin:0 auto;}
	}
	.d_promo_container{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:440px;z-index:8;
			li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;top:237px;left:-47px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 0 no-repeat;
			&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) 0 -33px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;top:237px;right:-47px;z-index:9;width:17px;height:33px;background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px 0 no-repeat;
			&:hover{background:url(../../images/pcweb/modern/bg_prevnext01.png) -17px -33px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.set_indicator{
			ul li a{margin:0 4px;width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -20px -190px no-repeat;
				&.on{width:16px;height:16px;background:url(../../images/pcweb/header/header_ost.png) -40px -190px no-repeat;}
			}
			.d_auto{margin-top:-2px;
				.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -60px -190px no-repeat;}
				.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_ost.png) -80px -190px no-repeat;}
			}
		}
	}
}

// content
.mixxo{
	&.main #content{width:100%;padding:0;}
	.type_bx{position:relative;width:1080px;margin:70px auto 0;}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.type_bx h3{display:block;padding-bottom:30px;font-size:24px;font-weight:700;color:#222;text-align:center;}
	.bnr_sub{width:1080px;margin:40px auto 0;overflow:hidden;
		ul{width:1104px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;padding:0 24px 12px 0;}
		}
	}
	.box_roll_evt{margin-top:70px;}
	.brand_tab{display:table;table-layout:fixed;width:100%;margin-bottom:25px;text-align:center;border-top:1px solid #444;border-bottom:1px solid #ddd;
		li{display:table-cell;vertical-align:middle;padding:15px 0 14px;background:url(../../images/pcweb/common/ico_bar03.gif) no-repeat 0 50%;
			&:first-child{background:none;}
			a{color:#333;font-size:14px;font-weight:600;}
			&.on a,a:hover{color:#df3636;}
			&.on a{border-bottom:2px solid #df3636;}
		}
	}
	.sns_instagram{
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:216px;height:216px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.type_bx .h3_sns{font-size:24px;color:#222;line-height:32px;font-family:verdana;
		.ico_ins{display:inline-block;width:131px;height:38px;color:#fff;text-indent:-9999px;background:url(../../images/pcweb/main/tit_insta_whoau.png) no-repeat;}
	}
	&.main{
		.list_recom_type .list_product01{
			li{border-color:#ddd;}
			.brand_nm{text-indent:-9999px;color:#fff;font-size:0;}
			.cont_price .c_price{font-size:0;color:#fff;}
			.box_price .c_price strong{color:#333;}
		}
		.list_product01 .list .over .thumb:before{display:none;}
	}
	.list_product01 .list .links:hover .thumb:before{display:none;}
	&.main{
		.list_product01 .prod_nm{color:#666;font-size:13px;}
		.list_thumb_txt01{float:left;}
		.d_tab_cont{margin-top:-26px;}
		h3+.d_tab_cont{margin-top:0;}
	}
	.bx_notice{width:1080px;margin:70px auto 0;padding-top:30px;border-top:1px solid #333;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;width:404px;
			dl{float:left;width:400px;padding-right:30px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:15px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{margin-top:10px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				&:first-child{margin-top:0;}
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;}
			}
		}
		.store{float:left;width:280px;margin-top:11px;text-align:center;
			a{display:inline-block;padding:0 10px;}
		}
		.box_news_mod{position:relative;float:left;width:396px;
			.list_roll_news{
				li{float:left;}
				.swiper-wrapper li > a{width:196px;height:195px;overflow:hidden;background:url(../../images/pcweb/common/bg_blank.png) repeat 0 0;
					span{display:block;text-indent:-9999px;}
				}
			}
			.swiper-container{overflow:hidden;width:396px;height:126px;margin:0 auto;}
			.list_roll_news .set_indicator{position:absolute;left:0;right:0;bottom:-30px;}
		}
	}
	.box_news_mod .set_indicator{
		ul{margin:0;}
		.d_auto{.d_play{background:url(../../images/pcweb/common/ico_indi_play.png) center center no-repeat;}
			.d_stop{background:url(../../images/pcweb/common/ico_indi_stop.png) center center no-repeat;}
		}
	}
	.set_indicator .swiper-pagination-switch{margin:0;}
	&.main .wing_menu{top:452px;}
	&.header_fix .wing_menu{top:52px;}
	.cmn_tab_intro ul li.on a{background:#df3434;}
	// .rsch_box{background:#efebe6;}
	// .rsch_bar{background:#efebe6;
	// 	.bar{
	// 		span{border-color:#dbdbdb;}
	// 		button{background:#222;}
	// 	}
	// }
	/*.rsch_word strong,*/
	.list_product01 .dis_percent{color:#df3434;}
}

// point color
.no_cate strong{color:#df3434;}

.mixxo{
	// .box_sch_save button{border-color:#df3434;background:#df3434;}
	// .cate_area02 .cate_tit{background:#444;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_mixxo.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_mixxo_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#df3434!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#222;background:#222;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{overflow:hidden;width:1080px;
		.img{display:block;float:left;}
		.tx{display:block;float:right;}
	}
}

//option select layer
.mixxo .lyr_select .sel_btn.selected .sel_txt{color:#df3434;}