// spao
.spao{
	.header{height:200px;border:none;background:url(../../images/pcweb/header/bg_tnb_spao.png) repeat-x;
		.head{height:200px;}
		.hd_mall{position:relative;width:auto;}
		h1{left:0;top:80px;width:auto;height:auto;}
	}
	.header_top_banner .btn_hdtb_open{background:url(../../images/pcweb/common/btn_hdtb_on_spao.png) center center no-repeat;color:#c41e20;}
	.mall_select{display:inline-block;float:left;}
	.bs_selectbox{padding:8px 0;
		.bs_sel_tit{border:1px solid #e38687;
			a{color:#fff;background:url(../../images/pcweb/header/bu_brand_arrow02.png) no-repeat 100% -23px;}
		}
		&.hover .bs_sel_tit a{background-position:100% -2px;}
		.bs_sel_tit a span{padding:0 10px;color:#fefefe;border-right:1px solid #e38687;}
	}
	.hd_tnb{
		dd{position:relative;color:#fff;background:none;
			&:after{content:'';position:absolute;top:3px;left:0;width:1px;height:9px;border-right:1px solid #d66263;}
		}
		dt + dd:after{display:none;}
		dd{
			a{color:#fff;
				.num{background:url(../../images/pcweb/header/bg_ct_spao01.png) no-repeat;
					b{color:#c41e20;background:url(../../images/pcweb/header/bg_ct_spao02.png) right 0 no-repeat;}
				}
			}
			.on{width:22px;margin-left:8px;color:#c41e20;background:url(../../images/pcweb/header/header_spao.png) 5px center no-repeat;background-position:-20px -40px;}
			.off{width:22px;margin-left:8px;color:#ccc;background:url(../../images/pcweb/header/header_spao.png) 5px center no-repeat;background-position:-70px -40px;}
		}
	}
	.mall_select{
		ul:after{display:block;clear:both;content:'';}
		li{
			a{background:url(../../images/pcweb/header/header_spao.png) no-repeat;}
			&.el a{width:113px;}
			&.mh a{width:136px;background-position:-113px 0;}
			&.ki a{width:109px;background-position:-249px 0;}
		}
	}
	.hd_sch{position:absolute;left:355px;top:82px;width:390px;height:40px;
		&.on{
			.sch_box{border:0;}
		}
		.sch_wrap{position:relative;height:40px;}
		.sch_box{border:none;background:#fff;height:40px;border:2px solid #c41e20;border-radius:20px;}
		.input{width:302px;margin-top:2px;padding:10px 0 12px 20px;border:0;background:none;}
		&.on{border:0;
			.sch_wrap{
				&:before{border-color:#c41e20;}
			}
			.input{color:#c41e20;font-size:14px;font-weight:800;}
		}
		.input{
			&::-ms-clear,&::-ms-reveal{display:none!important;width:0;height:0;}
		}
		.sch_del{display:none;position:absolute;right:50px;top:14px;width:12px;height:12px;text-indent:-9999px;cursor:pointer;background:url(../../images/pcweb/header/header_spao.png) no-repeat;background-position:-350px -130px;}
		.sch_btn{position:absolute;right:12px;top:5px;display:block;width:30px;height:30px;border:0;cursor:pointer;text-indent:-9999px;background:url(../../images/pcweb/header/header_spao.png) no-repeat 0 0;background-position:0 -60px;}
		.sch_keyword{overflow:visible;top:38px;width:326px;border:2px solid #c41e20;border-top:1px solid #ddd;border-bottom:none;
			&:after{border-color:#c41e20;}
			.s_keyword li a b{color:#c41e20;}
			.f_keyword{margin-top:-1px;padding-bottom:0;
				dt{position:absolute;top:0;left:163px;width:163px;height:40px;
					button{display:block;width:163px;height:40px;border:0;border-bottom:1px solid #ddd;font-size:14px;line-height:40px;color:#666;cursor:pointer;background:#f4f4f4;
						&.on{border-bottom:0;color:#333;font-weight:700;background:#fff;}
					}
					&:first-child{left:0;width:162px;border-right:1px solid #ddd;color:red;font-weight:700;
						button{width:162px;}
					}
				}
				dd .s_del{height:24px;margin-top:12px;}
			}
			.s_del{height:24px;}
		}
	}
	.hd_sns{position:absolute;top:76px;right:0;width:148px;height:40px;
		ul{background:url(../../images/pcweb/header/header_spao.png) no-repeat;background-position:0 -190px;
			&:after{display:block;clear:both;content:'';}
			li{float:left;width:33.33%;height:100%;height:40px;
				a{display:block;width:100%;height:100%;text-indent:-1000em;color:#fff;}
			}
		}
	}
	.hd_catg{top:inherit;bottom:0;width:155px;background:none;
		.catg_bt{width:140px;height:40px;padding-left:45px;line-height:38px;color:#333;text-align:left;background:url(../../images/pcweb/header/spao_ctg.png) no-repeat;
			&.on{background:url(../../images/pcweb/header/spao_ctg.png) no-repeat 0 -40px;}
		}
	}
	.catg_wrap{
		.catg_lyr{width:auto;height:auto;top:38px;border:none;background:none;max-width:1080px;
			.bt_close{right:-34px;bottom:0;background:url(../../images/pcweb/common/btn_lyr_cls_md.png) no-repeat 0 0;}
		}
		.catg_all{position:relative;padding:0 0 22px 1px;width:auto;height:auto;border:2px solid #333;background:#fff;
			ul{display:table;margin:0;padding-left:40px;overflow:hidden;
				+ ul{border-top:none;}
			}
			> ul{border-bottom:none;}
			li{float:inherit;display:table-cell;padding:0 48px 0 0;width:160px;
				dl{width:160px;}
			}
			dl{
				dt{padding-top:17px;}
				dd{padding:5px 0;
					a{font-size:13px;}
				}
				dt a{max-width:100%;color:#333;background:url(../../images/pcweb/common/ico_link_arrow01.gif) no-repeat 100% 10px;}
			}
		}
	}
	.hd_disp{margin-left:155px;left:inherit;top:inherit;bottom:0;height:40px;background:none;
		dl:after{display:block;content:'';clear:both;}
		dd{width:100px;height:40px;padding:0;letter-spacing:0;line-height:40px;color:#444;font-weight:600;}
		dt + dd{background:none;}
		dd{
			> a{display:block;overflow:hidden;height:40px;color:#333;font-size:13px;}
			&.season{width:96px;
				img{vertical-align:middle;margin-right:4px;}
			}
			&.dd > a{display:inline-block;padding-right:18px;background:url(../../images/pcweb/common/bu_catg_off.png) no-repeat right 17px;
				&.on{background:url(../../images/pcweb/common/bu_catg_on.png) no-repeat right 17px;}
			}
		}
		.depth2{display:none;position:absolute;top:37px;left:50%;margin-left:-55px;text-align:left;z-index:33;}
		dd.active{
			.depth2{display:block;width:120px;margin:0;left:50%;margin-left:-60px;border:2px solid #000;background:#fff;
				&:after{display:block;position:absolute;top:-10px;left:50%;content:'';width:16px;height:10px;margin-left:-8px;background:url(../../images/pcweb/common/bg_hd_depth2_on.png) no-repeat 0 0;}
				ul{padding:14px 20px;}
				li a{display:block;padding:4px 0;color:#666;font-weight:400;
					&:hover{font-weight:800;color:#333;text-decoration:underline;}
				}
			}
			> a{color:#c41e20;}
		}
	}
	.hd_zone{padding:0;right:0;bottom:8px;top:inherit;width:132px;height:25px;background:none;
		a{padding:0;height:25px;line-height:24px;color:#fff;font-size:13px;text-align:center;letter-spacing:0;background:url(../../images/pcweb/header/header_spao.png) no-repeat;background-position:-30px -150px;}
	}
	.hd_bn .bt_hd_btns{top:56px;}
	&.header_fix{padding-top:144px;
		&.main{padding-top:200px;}
		.header{height:56px;border-bottom:none;background:url(../../images/pcweb/header/bg_tnb_fixed.png) repeat;
			.hd_mall{height:56px;margin:0 0 0 48px;z-index:4004;}
		}
		.hd_mall .btn_home{position:relative;display:inline-block;margin:0;}
		.mall_select{position:relative;display:none;}
		.bs_selectbox{padding:0 10px;
			.bs_sel_tit{border:none;}
		}
		.hd_tnb{right:0;padding-top:20px;
			dd{color:#fff;
				a{color:#fff;
					.num{background:url(../../images/pcweb/header/bg_ct_spao01_fix.png) no-repeat;
						b{color:#c41e20;background:url(../../images/pcweb/header/bg_ct_spao02_fix.png) right 0 no-repeat;}
					}
				}
				.on{background-position:-120px -40px;}
				a .num b,.on{color:#fff;}
			}
		}
		.catg_wrap{background:none;}
		.hd_catg{top:0;width:48px;height:56px;
			.catg_bt{width:48px;height:56px;padding:0;background:url(../../images/pcweb/common/btn_hd_catg.png) no-repeat 0 0;
				&:after{background:none;}
			}
		}
		.hd_sns{display:none;}
		.hd_sch{margin:8px 0 0;
			.input{padding:8px 0 8px 20px;}
		}
		.hd_zone{bottom:15px;}
		.hd_tnb dd:after{border-color:#626262;}
		.bs_selectbox{
			.bs_sel_tit a{background:url(../../images/pcweb/header/bu_fixed_arrow.png) 10px 0 no-repeat;}
			&.hover .bs_sel_tit a{background-position:10px -56px;}
		}
		.catg_wrap .catg_lyr{top:54px;}
	}
}
.ie8 .spao .hd_disp dd{letter-spacing:-1px;}

// spao Footer
.spao{
	.foot_section{position:relative;width:100%;border-top:none;}
	.foot_opt_area{background:#f8f8f8;}
	.foot_opt_list{border-bottom:none;padding:12px 0;
		li a{display:block;color:#333;font-size:13px;font-weight:600;letter-spacing:-1px;}
	}
	&.main #content{width:100%;padding:0;}
	.type_bx{position:relative;width:1080px;margin:60px auto 0;}
	.bt_more{position:absolute;right:0;top:10px;padding:0 8px;color:#666;font-size:11px;background:url(../../images/pcweb/main/bt_more_01.png) right center no-repeat;font-family:verdana;}
	.type_bx h3{font-size:24px;font-weight:700;color:#333;text-align:center;}
}

// box_promotion_bnr
.main{
	.box_promotion_bnr{position:relative;
		.set_controll{position:relative;width:1080px;margin:0 auto;}
	}
	.d_promo_container{
		ul.d_bnr_cont{position:relative;display:block;overflow:hidden;width:100%;min-width:1080px;height:680px;z-index:8;
			li{width:100%;position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:center center;z-index:1;opacity:0;filter:alpha(opacity = 0);
				a{display:block;width:1250px;height:100%;margin:0 auto;text-align:center;text-indent:-9999px;
					img{display:inline;}
				}
			}
		}
		.btn_prev_move{display:block;position:absolute;margin:0;top:277px;left:25px;width:40px;height:98px;z-index:9;background:url(../../images/pcweb/header/header_spao.png) 0 -270px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_spao.png) -80px -270px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
		.btn_next_move{display:block;position:absolute;margin:0;top:277px;right:25px;width:40px;height:98px;z-index:9;background:url(../../images/pcweb/header/header_spao.png) -40px -270px no-repeat;
			&:hover{background:url(../../images/pcweb/header/header_spao.png) -120px -270px no-repeat;}
			span{display:block;overflow:hidden;text-indent:-999px;}
		}
	}
	.set_indicator{
		ul li a{margin:0 4px;width:16px;height:16px;background:url(../../images/pcweb/header/header_spao.png) -20px -250px no-repeat;
			&.on{width:16px;height:16px;background:url(../../images/pcweb/header/header_spao.png) -40px -250px no-repeat;}
		}
		.d_auto{margin-top:-2px;
			.d_play{width:20px;height:20px;background:url(../../images/pcweb/header/header_spao.png) -60px -250px no-repeat;}
			.d_stop{width:20px;height:20px;background:url(../../images/pcweb/header/header_spao.png) -80px -250px no-repeat;}
		}
	}
}

 // wing_menu
.spao.main .wing_menu{top:440px;}
.header_fix.spao .wing_menu{top:52px;}

// bnr_sub
.spao .bnr_sub{width:1080px;margin:40px auto 0;
	ul{width:1104px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;margin:0 24px 12px 0;}
	}
}

// spao coner
.coner_item .coner{margin:40px auto 0;}
.spao{
	.tit_h2_02{margin-bottom:30px;}
	.coner_item{margin-top:80px;}
	.brand_tab.center{margin:20px 0;text-align:center;background:url(../../images/pcweb/main/spao_tab_bg.gif) 0 center repeat-x;
		li{display:inline-block;margin:0 4px;width:110px;height:46px;background:url(../../images/pcweb/main/spao_tab_off03.gif) right 0 no-repeat;
			a{display:block;line-height:46px;color:#666;text-align:center;}
			&.on{background:url(../../images/pcweb/main/spao_tab_on03.gif) right 0 no-repeat;}
		}
	}
}
.bnr_img{width:1080px;margin:80px auto 0;}
.spao .TYPE.A04{background:#fff;margin-top:15px;
	.circle{
		a:after{background:url(../../images/pcweb/main/mask_A04_spao.png) no-repeat;}
		.mask{background:url(../../images/pcweb/main/mask_A04_spao.png) no-repeat 0 0;}
	}
}
.ie8 .TYPE.A04 li{
	dl{position:absolute;width:100%;height:100%;left:0;top:0;margin:0;-ms-transform:inherit;-webkit-transform:inherit;-moz-transform:inherit;transform:translate(0,0);background:url(../../images/pcweb/goods/layer_A04.png) repeat;}
	a dl dt{padding:75px 20px 0;}
}

// notice/brand/store
.spao{
	.bx_notice{width:1080px;margin:70px auto 0;
		&:after{display:block;clear:both;content:'';}
		.box_notice_mod{float:left;width:434px;
			dl{float:left;width:400px;padding-right:30px;
				&:after{display:block;clear:both;content:'';}
			}
			dt{margin-bottom:15px;color:#1c1c1b;font-size:16px;font-weight:700;}
			dd{margin-top:8px;padding-left:15px;background:url(../../images/pcweb/common/ico_dot01.gif) 6px center no-repeat;
				&:first-child{margin-top:0;}
				a{display:block;overflow:hidden;font-size:13px;text-overflow:ellipsis;white-space:nowrap;}
			}
		}
		.store{float:left;width:250px;
			&:after{display:block;clear:both;content:'';}
			a{display:block;}
		}
		.box_news_mod{position:relative;float:left;width:396px;
			.list_roll_news a{display:block;}
		}
	}
	.box_news_mod .set_indicator{width:396px;
		ul{margin:0;}
		.d_auto{.d_play{background:url(../../images/pcweb/common/ico_indi_play.png) center center no-repeat;}
			.d_stop{background:url(../../images/pcweb/common/ico_indi_stop.png) center center no-repeat;}
		}
	}
	.set_indicator .swiper-pagination-switch{margin:0;}
	.sns_instagram{margin-top:25px;
		&:after{display:block;clear:both;content:'';}
		li{overflow:hidden;float:left;width:212px;height:212px;margin:2px;
			a{display:block;position:relative;width:100%;height:100%;
				img{position:absolute;left:0;top:0;}
			}
		}
	}
	.type_bx .h3_sns{margin-top:100px;font-size:24px;color:#111625;line-height:32px;
		span{display:inline-block;padding-left:54px;height:36px;background:url(../../images/pcweb/main/tit_insta_spao.png) no-repeat;}
	}
	.brand_tab{display:table;table-layout:fixed;width:100%;margin:30px 0;text-align:center;
		li{display:table-cell;vertical-align:middle;
			a{color:#333;font-size:14px;font-weight:600;}
			&.on a{color:#c41e20;}
			a{
				&:hover{color:#c41e20;}
				&:active,&:focus{}
			}
		}
		&.tab_type01 li{padding:15px 0 14px;border-bottom:1px solid #e8e8e8;background:#f3f3f3 url(../../images/pcweb/common/ico_bar02.gif) no-repeat 0 50%;
			&:first-child{background:none;background-color:#f3f3f3;}
			&.on{border:1px solid #e8e8e8;border-bottom:none;background:#fff;
				a{border-bottom:2px solid #f07d00;}
				+ li{background:none;background-color:#f3f3f3;}
			}
		}
		&.tab_type02 li{background:#f3f3f3 url(../../images/pcweb/common/ico_bar02.gif) no-repeat 0 50%;
			&:first-child{background:none;background-color:#f3f3f3;}
			a{display:block;padding:14px 0 13px;border-bottom:2px solid #fff;}
			&.on a{border-bottom:2px solid #f07d00;}
		}
	}
	.list_recom_type{
		.ltt_bnr,.list_product01 li{border-color:#ddd;}
	}
	.wing_menu .wm_user > strong{border-color:#000;background:#000;}
	&.header_fix .wing_menu{top:52px;}
	.withstar{position:relative;width:100%;margin-top:80px;padding:80px 0;background:#f3f3f3 url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;
		&:after{content:'';padding-bottom:6px;position:absolute;bottom:0;left:0;width:100%;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
		h3{font-size:24px;font-weight:700;color:#333;text-align:center;}
		.tit_star{display:inline-block;height:30px;line-height:30px;padding-left:53px;background:url(../../images/pcweb/main/spao_tit_star.png) 0 center no-repeat;}
		.d_tab_cont{margin-top:35px;}
	}
}

.spao_mgz{overflow:hidden;width:1080px;
	ul{position:absolute;top:0;left:0;width:9999px;
		&:after{display:block;clear:both;content:'';}
	}
	.swiper-container{position:relative;width:1096px;height:400px;margin-left:-16px;overflow:hidden;}
	ul li{float:left;width:258px;padding-left:16px;
		a{display:block;}
		.info{display:block;padding:28px 10px 30px;text-align:center;background:#fff;border-bottom:2px solid #e0e0e0;
			span{display:block;letter-spacing:-1px;}
			.tit{overflow:hidden;height:20px;font-size:18px;color:#4e4e4e;line-height:20px;font-weight:600;white-space:nowrap;text-overflow:ellipsis;}
			.txt{overflow:hidden;height:40px;margin-top:10px;font-size:15px;line-height:20px;color:#95999d;}
		}
	}
}
.box_star_roll{position:relative;width:1080px;margin:0 auto;margin-top:35px;
	.br_controll{position:absolute;top:0;left:0;right:0;z-index:2;}
	.btn_prev{position:absolute;top:160px;left:0;display:block;width:30px;height:60px;
		span{display:block;overflow:hidden;width:30px;height:60px;background:url(../../images/pcweb/main/btn_rome_mgz.png) 0 0 no-repeat;text-indent:-9999px;}
		&.active span{background:url(../../images/pcweb/main/btn_rome_mgz.png) 0 -60px no-repeat;}
	}
	.btn_next{position:absolute;top:160px;right:0;display:block;width:30px;height:60px;
		span{display:block;overflow:hidden;width:30px;height:60px;background:url(../../images/pcweb/main/btn_rome_mgz.png) -30px 0 no-repeat;text-indent:-9999px;}
		&.active span{background-position:-30px -60px;}
	}
	.bt_more{top:-50px;}
}

// withstar list
.spao.main .location{margin:15px 0 0;}
h2.tit_mgz{display:block;overflow:hidden;width:100%;padding:75px 0 38px;
	span{display:block;width:1080px;height:58px;margin:0 auto;background:url(../../images/pcweb/shop/spao_mgz_tit.png) no-repeat center 0;text-indent:-9999px;}
}
.mgz_list{overflow:hidden;position:relative;background:#f3f3f3 url(../../images/pcweb/main/bg_spao_star01.gif) 0 0 repeat-x;
	&:after{content:'';display:block;width:100%;height:6px;position:absolute;left:0;bottom:0;background:url(../../images/pcweb/main/bg_spao_star02.gif) 0 0 repeat-x;}
	.bx{overflow:hidden;width:1080px;margin:0 auto;padding:86px 0;}
	ul{margin:0 0 0 -12px;
		&:after{display:block;clear:both;content:'';}
		li{float:left;width:258px;margin:0 0 0 12px;
			+ li + li + li + li{margin-top:40px;}
			a{display:block;}
			.info{display:block;height:60px;padding:28px 10px 30px;text-align:center;background:#fff;border-bottom:2px solid #e0e0e0;
				span{display:block;letter-spacing:-1px;}
				.tit{overflow:hidden;height:20px;font-size:18px;color:#4e4e4e;line-height:20px;font-weight:600;white-space:nowrap;text-overflow:ellipsis;}
				.txt{overflow:hidden;height:40px;font-size:15px;line-height:20px;color:#95999d;margin-top:10px;}
			}
		}
	}
}
.evt_template.mgz{
	.title{margin-top:30px;
		&.top{padding:45px 0 9px 9px;margin:0 0 14px 9px;border-bottom:#333 1px solid;
			.tit_h2_01{margin:0;}
			.right{bottom:9px;
				ul li{margin:0;
					+ li{margin:0 0 0 9px;}
				}
				button{display:block;float:left;width:153px;height:30px;margin:1px 0 0 9px;border:none;background:url(../../images/pcweb/common/spao_bt_bg.png) no-repeat 0 0;}
			}
		}
	}
	.evt_temp_inputarea{margin:22px auto 0;border-top:#666 1px solid;}
	.tab_anchor01{margin-top:80px;}
}

// cmt_lst
.mgz .cmt_lst{overflow:hidden;width:1080px;margin:0 auto;border-bottom:#666 1px solid;
	li{position:relative;width:917px;padding:15px 147px 15px 16px;
		+ li{border-top:#ddd 1px solid;}
		.nm{display:block;overflow:hidden;
			b{display:block;float:left;font-weight:400;line-height:1;color:#333;}
			em{display:block;position:relative;float:left;padding:0 0 0 15px;margin:0 0 0 15px;line-height:1;color:#999;
				&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#dadada;}
			}
		}
		.tx{display:block;margin:10px 0 0;line-height:18px;color:#666;}
		.bt{position:absolute;right:15px;bottom:15px;
			button{display:block;float:left;position:relative;line-height:1;color:#333;letter-spacing:-.7px;
				+ button{margin:0 0 0 10px;padding:0 0 0 10px;
					&:before{content:'';display:block;width:1px;height:10px;position:absolute;left:0;top:2px;background:#e1e1e1;}
				}
				&.cls{color:#f7186a;padding:0 0 1px;border-bottom:#f7186a 1px solid;}
			}
		}
	}
	.re{width:883px;padding:15px 147px 15px 50px;background:url(../../images/pcweb/common/mgz_re_bg.png) no-repeat 27px 15px;}
	li{
		textarea{display:block;width:885px;height:62px;border:#ddd 1px solid;}
		.re_btn{display:block;position:absolute;right:15px;top:15px;width:118px;height:62px;border:#8f8e8e 1px solid;
			em{display:block;font-weight:700;font-size:14px;color:#666;letter-spacing:-.7px;}
		}
	}
	.mdf{
		textarea{margin:13px 0 0;}
		.re_btn{top:auto;bottom:15px;}
		.bt{bottom:auto;top:15px;}
	}
	.tmp.mdf{
		textarea{width:919px;}
		.re_btn{background:#333;border:#333 1px solid;
			em{color:#fff;}
		}
	}
}
.spao{
	.spao_prd{height:1230px;min-height:1230px;}
	.d_tab_cont .btn_more{position:relative;padding-bottom:80px;border-top:1px solid #eee;text-align:center;
		button{position:absolute;top:-22px;left:50%;margin-left:-37px;width:108px;height:44px;background:url(../../images/pcweb/main/btn_more_spao.png) no-repeat;
			span{display:inline-block;margin:0 20px 0 0;color:#251d1e;font-size:15px;font-weight:600;}
			&.btn_close{display:none;background-position:0 -44px;}
		}
	}
	.cmn_tab_intro ul li.on a{background:#c41e20;}
	// .rsch_box{background:#eae2d2;}
	// .rsch_bar{background:#eae2d2;
	// 	.bar{span{border-color:#ddd4c9;}
	// 		button{background:#c41e20;}
	// 	}
	// }
	/*.rsch_word strong,*/
	.list_product01 .dis_percent{color:#ca9e71;}
}

// point color
.no_cate strong{color:#ca9e71;}

.spao{
	// .box_sch_save button{border-color:#c41e20;background:#c41e20;}
	// .cate_area02 .cate_tit{background:#c41e20;}
	.flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_spao.gif) 0 bottom no-repeat;}
	.quick_view .flag_lar{background:url(../../images/pcweb/goods/bg_sale_flag_spao_quick.gif) 0 bottom no-repeat;}
	.sale_price .txt_c05{color:#c41e20!important;}
	.goods_set_btn .btn06.c02,.float_opt_fix .btn02.c02{border-color:#c41e20;background:#c41e20;}
}

// introduce brand
.intro_brd{overflow:hidden;
	h2{margin-top:35px;height:60px;background:url(../../images/pcweb/shop/bg_tit_dp.gif) center bottom no-repeat;}
	.bx{margin:40px 0 0;
		&:after{display:block;clear:both;content:'';}
		.img{float:left;}
		.tx{float:left;margin:0 0 0 30px;}
	}
}

// store_open
.store_open{
	h2{margin-top:35px;text-align:center;}
	.store dt{margin:30px 0;text-align:center;}
	.bx{margin:40px 0 0;}
}

// 채용정보,피플스토리
.job_info{width:1080px;margin:0 auto;padding-top:60px;text-align:center;
	.img_box,.txt_box{margin-top:40px;}
	.tab_job{margin-top:60px;position:relative;z-index:1;
		> ul{margin:0;*zoom:1;border-bottom:2px solid #b2121a;
			&:after{display:block;clear:both;content:"";}
			li{position:relative;width:33%;float:left;background:#fff;margin-bottom:-2px;
				a{border:1px solid #d7d7d7;border-bottom:none;margin:0 0 0 -1px;}
				&:first-child{width:34%;margin-right:0;}
				a,span{overflow:hidden;display:block;padding:13px 5px;font-size:14px;color:#666;text-align:center;white-space:nowrap;text-overflow:ellipsis;}
				&.on{position:relative;z-index:30;
					a{padding-top:12px;border-top:2px solid #b2121a;border-left:2px solid #b2121a;border-right:2px solid #b2121a;border-bottom:2px solid #fff;background:#fff;
						&:before{display:block;position:absolute;left:-1px;right:inherit;bottom:0;width:1px;height:1px;background:#333;content:"";}
					}
					&:first-child a:before{display:block;position:absolute;left:-1px;right:inherit;bottom:0;width:1px;height:1px;background:#333;content:"";}
				}
				&:first-child a:before{display:block;position:absolute;left:-1px;right:inherit;bottom:-1px;width:1px;height:1px;background:#333;content:"";}
				&.on{
					a:after,&:first-child a:after{display:block;position:absolute;left:inherit;right:0;bottom:0;width:1px;height:1px;background:#333;content:"";}
					a,span{color:#b2121a;font-weight:800;}
				}
				&.disabled{background:#ddd;
					a{color:#fff;}
				}
			}
		}
	}
}
.job_box .d_con{position:relative;margin-top:60px;text-align:center;
	.btn_job01{position:absolute;top:45px;right:22px;width:125px;height:125px;}
	.btn_job02{position:absolute;top:470px;right:22px;width:125px;height:125px;}
}
.job_info .tab_people{margin:60px 0 70px;
	ul{width:1040px;margin:0 auto;background:url(../../images/pcweb/shop/spao_tab_people.jpg) no-repeat;
		&:after{display:block;clear:both;content:'';}
	}
	li{float:left;width:25%;border-bottom:1px solid #ececec;
		&.on{border-bottom:2px solid #333;}
		a{display:block;width:100%;height:87px;text-indent:-9999px;color:transparent;}
	}
}

//option select layer
.spao .lyr_select .sel_btn.selected .sel_txt{color:#c41e20;}