@charset "utf-8";

@import  "color";

.mypage_top{padding-left:180px;
	&:after{display:block;content:'';clear:both;}
	.title{float:left;width:180px;margin-left:-180px;}
	.tit_img {height:120px;line-height:120px;font-size:24px;color:#fff;font-weight:bold;text-align:center;background:#454545;cursor:pointer;
		&.high{height:150px;line-height:150px;}
		img{vertical-align:middle;}
	}
}

.set_my_info{display:table;width:100%;background:#eee;
	.smi{display:table-cell;height:120px;border-left:1px solid #fff;vertical-align:middle;text-align:center;}
	.dv01{width:329px;text-align:left;border-left:none;}
	.dv02{width:162px;text-align:left;border-left:none;}
	.dv03{width:288px;}
	.dv04{width:240px;}
	.dv05{width:138px;}
	.sbox_price{display:block;
		.stit{display:block;font-size:14px;color:#666;}
		.price{display:block;margin-top:3px;font-size:12px;
			strong{margin-right:5px;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-0.05em;color:#000;}
		}
	}
	.dv02 .s_cont{padding-left:20px;}
	li{padding-left:63px;}
	.p_stit{display:block;float:left;width:50px;margin-left:-63px;}
	.list_point{margin-bottom:5px;}
	.partic{
		&.p02{height:75px;line-height:75px;
			+.partic{height:74px;line-height:74px;border-top:1px solid #fff;}
		}
		&.p03{height:50px;line-height:50px;
			+.partic{height:49px;line-height:49px;border-top:1px solid #fff;}
		}
		dl{height:100%;line-height:inherit;letter-spacing:-0.05em;
			&:after{display:block;clear:both;content:"";}
			dt{float:left;width:90px;height:100%;padding-left:25px;line-height:inherit;text-align:left;
				a{color:#333;font-size:14px;font-weight:bold;}
			}
			dd{float:right;width:100px;padding-right:25px;line-height:inherit;text-align:right;
				a{color:#333;font-size:14px;font-weight:bold;
					&:after{display:inline-block;width:5px;height:7px;margin:0 0 0 5px;vertical-align:middle;background:url("../../images/pcweb/common/ico_arrow30.png") no-repeat;content:"";}
				}
				em{margin-right:3px;font-family:Verdana;}
			}
		}
	}
	.sum_point{width:247px;margin:0 auto;letter-spacing:-0.05em;text-align:left;
		dl{
			&:after{display:block;clear:both;content:"";}
			dt{float:left;width:125px;padding-left:5px;line-height:19px;font-size:13px;}
			dd{float:right;width:102px;padding-right:15px;text-align:right;line-height:19px;font-size:13px;
				em{margin-right:3px;font-family:Verdana;}
			}
			.rep{height:32px;margin-bottom:5px;line-height:32px;
				a{color:#333;font-size:14px;font-weight:bold;}
			}
			dt.rep{position:relative;
				&:after{position:absolute;left:0;bottom:1px;width:247px;height:1px;border-bottom:1px dashed #bababa;content:"";}
			}
			dd.rep{padding:0;
				a{
					&:after{display:inline-block;width:5px;height:7px;margin:0 4px 0 6px;vertical-align:middle;background:url("../../images/pcweb/common/ico_arrow30.png") no-repeat;content:"";}
				}
			}
		}
		.arr_btn{display:block;margin:3px 0 0 3px;}
	}
}

.box_info_grade{position:relative;width:224px;height:150px;padding-left:136px;
	.l_scont{position:absolute;top:0;left:0;margin:0;width:136px;height:120px;
		.ico_grd{display:inline-block;width:86px;height:93px;margin:18px 0 18px 36px;background:url("../../images/pcweb/shop/benefit_set.png") no-repeat -408px -126px;
			&.vip{background-position:0 -126px;}
			&.gld{background-position:-101px -126px;}
			&.slv{background-position:-202px -126px;}
			&.brz{background-position:-306px -126px;}
		}
	}
	.r_scont{padding-top:30px;
		.grd_info{font-size:14px;line-height:20px;color:#666;letter-spacing:0;
			.usr_name{color:#000;}
			.usr_grd{ color:#20b791;
				&.vip{ color:#ff7112;}
				&.gld{ color:#e5b116;}
				&.slv{ color:#a0a0a0;}
				&.brz{ color:#b38574;}
			}
			.tip_info{padding-right:44px;}
			.ico_tooltip{vertical-align:-3px;}
		}
		.arr_btn{display:block;margin-top:10px;
			&+.arr_btn{margin-top:3px;}
		}
		.list_dot01{
			dt{
				.arr_btn{display:inline-block;margin-top:0;vertical-align:4px;}
			}
		}
	}
	.btn_txt01{margin-top:13px;letter-spacing:-0.04em;}
	.info01{display:block;line-height:22px;}
	.info02{display:block;}
	.set_level01{text-align:center;}
	.txt_level{display:block;margin-top:3px;font-size:12px;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;text-align:center;}
}

// 마이페이지 레이아웃
.mypage_cont{margin-top:20px;
	&:after{display:block;content:'';clear:both;}
	.my_l_cont{float:left;width:180px;}
	.my_r_cont{position:relative;float:right;width:870px;display:table;
		&.no_info{position:relative;margin-top:-150px;}
		.board01{position:relative;
			tbody td{padding:17px 5px;}
		}
		.tab_type02  + .board01{margin-top:55px;}
	}
}

// 마이페이지 좌측네비
.lnb_mypage{width:178px;border:1px solid #ddd;
	> ul{padding:0 19px 10px 20px;
		> li{padding:19px 0 18px;border-top:1px solid #ddd;
			&:first-child{border-top:none;}
		}
	}
	.stit{display:block;padding:0 0 0 4px;font-size:15px;color:#333;font-weight:800;}
	.depth2{position:relative;left:-20px;width:178px;padding-top:12px;
		li{position:relative;height:30px;line-height:30px;
			a{display:block;padding:0 0 0 25px;}
			&:hover a{color:#fff;background:#454545;}
			a{
				&:hover,&:focus{color:#fff;background:#454545;}
			}
			&.on a{color:#fff;background:#454545;}
			.depth3{display:none;position:absolute;top:-20px;left:148px;padding:15px 20px;width:155px;border:2px solid #454545;background:#fff;z-index:2;
				a{padding:5px 0;color:#666;background:#fff;
					&:hover,&:focus{color:#333;text-decoration:underline;}
				}
			}
			&:hover .depth3{display:block;}
		}
	}
}
.btn_customer_center{margin-top:50px;
	.cc_top{padding:60px 0 0;height:35px;text-align:center;background:#bbb5a4 url(../../images/pcweb/common/img_customer_center02.jpg) center 14px no-repeat;
		strong{display:inline-block;font-size:15px;      /* padding-right:21px; background:url('../../images/pcweb/common/ico_arrow15.png') 100% 50% no-repeat; */color:#fff;line-height:35px;font-weight:800;}
	}
	.cc_cont{padding-bottom:20px;border:1px solid #ddd;border-top:none;text-align:center;
		.img{display:block;margin:0 auto;padding-top:20px;}
		.tel{display:block;margin-top:20px;font-size:24px;color:#333;font-family:"Verdana","Nanum Gothic",sans-serif;font-weight:bold;}
		.txt{display:block;margin-top:9px;font-size:12px;line-height:1.1em;}
	}
	.cc_cont2{padding:0 19px;border:1px solid #ddd;text-align:center;
		.eland{
			.name{display:block;padding-top:20px;font-size:16px;color:#232323;font-weight:bold;}
			.tel{display:block;margin-top:10px;font-size:24px;color:#232323;font-weight:bold;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;}
			.info{display:block;margin:10px 0 20px;font-size:12px;color:#666;}
		}
		.kims{
			.name{display:block;padding-top:20px;font-size:16px;color:#232323;font-weight:bold;border-top:1px dotted #c6c6c6;}
			.tel{display:block;margin-top:10px;font-size:24px;color:#232323;font-weight:bold;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;}
			.info{display:block;margin:10px 0 20px;font-size:12px;color:#666;}
		}
	}
}

// 마이페이지 현황 리스트
.box_order_state{position:relative;padding:16px 0 28px 5px;border-bottom:1px solid #000;}
.list_order_state{
	ul:after{display:block;content:'';clear:both;}
	li{float:left;width:146px;background:url('../../images/pcweb/mypage/bg_ord_arrow.gif') 100% 50% no-repeat;text-align:center;
		&.end{width:142px;background-image:none;}
		a{display:block;}
	}
	.txt01{display:block;font-weight:800;}
	.txt02{display:block;font-weight:800;
		.tx_num{font-size:16px;color:$point_color_txt !important;margin-right:5px;}
	}
	.img{margin-bottom:8px;}
}
.list_order_state02{position:absolute;top:0;right:10px;width:125px;border:1px solid #ddd;
	li{border-top:1px dashed #ddd;margin:0 9px;padding:12px 0 11px 29px;font-weight:800;color:#333;
		&:first-child{border-top:none;}
		span{margin-left:8px;}
		a{display:block;}
	}
	.i01{background:url('../../images/pcweb/mypage/bg_ord_state01.gif') 6px 50% no-repeat;}
	.i02{background:url('../../images/pcweb/mypage/bg_ord_state02.gif') 6px 50% no-repeat;}
	.i03{background:url('../../images/pcweb/mypage/bg_ord_state03.gif') 6px 50% no-repeat;}
}
.box_popular {
	.list_product01{padding-bottom:0;border-bottom:none;}
	.list_product05{padding-bottom:0;border-bottom:none;}
} 

// common
.board02 .list_h_dot01{margin:-6px 0 -8px;}
.list_dot01{
	dt{padding-bottom:4px;font-size:12px;color:#333;font-weight:800;
		}
	dd{padding:0 0 0 6px;background:url('../../images/pcweb/common/ico_dot01.gif') 0 7px no-repeat;font-size:12px;}
}
.list_h_dot01{overflow:hidden;
	li{
		&:first-child{margin-left:0;}
	float:left;margin-left:37px;padding-left:7px;background:url(../../images/pcweb/common/ico_dot02.gif) 0 50% no-repeat;color:#333;}
}

.box_list_info{margin:15px 0 0 15px;}
.txt_s_info01{padding:0 0 0 9px;font-size:12px;
	&:after{display:block;content:'';clear:both;}
	em{display:block;float:left;width:9px;margin-left:-9px;}
}
.title .btn_more01{position:absolute;top:6px;right:0;}
.ordlist .no_data_txt{display:table-cell;width:100%;height:216px;border-top:1px solid #adadad;border-bottom:1px solid #ddd;vertical-align:middle;text-align:center;font-size:18px;line-height:1.7em;}
.mypage_wrap .no_data02 .no_data_txt{height:147px;}

// 마이페이지 메인 찜한상품 , 최근 본 상품
.list_thumb01{
	ul:after{display:block;content:'';clear:both;}
	li{float:left;width:127px;height:127px;margin:20px 5px 0;
		a{display:block;}
		img{width:127px;height:127px;}
	}
}
.list_wrap01{
	&.type02 .no_data02 .no_data_txt{height:271px;border-bottom:1px solid #ddd;}
	&:after{display:block;content:'';clear:both;}
	.l_scont{float:left;width:412px;}
	.r_scont{float:right;width:412px;}
}
.list_thumb_txt02{
	ul{display:table;width:100%;}
	li{display:table-row;
		a{display:table-cell;padding:15px 0 15px 15px;border-bottom:1px solid #ddd;vertical-align:middle;}
	}
	.thumb{float:left;width:58px;height:58px;border:1px solid #dedede;
		img{width:58px;height:58px;}
	}
	.cont{padding:14px 0 0 74px;}
	.td01:after{display:block;content:'';clear:both;}
	.cont{
		.s_tit{display:block;overflow:hidden;height:15px;font-size:12px;color:#999;}
		.s_txt01{display:block;overflow:hidden;height:15px;margin-top:3px;font-size:12px;color:#666!important;}
	}
	.td01{width:75%;}
	.td02{display:table-cell;padding:0 10px;border-bottom:1px solid #dedede;vertical-align:middle;text-align:center;}
	.txt_answer_n{color:#666;}
	.txt_answer_y{color:#333;}
}
.bg_order_step{overflow:hidden;height:190px;background:url('../../images/pcweb/mypage/bg_order_step.gif') 0 0 no-repeat;}

// 조회기간
.box_period01{height:76px;padding:0 0 0 30px;border:2px solid #aeaeae;
	.scont{padding-top:24px;
		&:after{display:block;content:'';clear:both;}
		.stit{float:left;display:block;margin-top:8px;padding:0 0 0 7px;background:url('../../images/pcweb/common/ico_dot01.gif') 0 50% no-repeat;color:#333;}
	}
	.set_grade_select02{float:left;margin:0 31px 0 20px;
		.attr_grade > li{width:85px;
			a{line-height:26px;}
		}
	}
	.inputs_date{float:left;}
	.gap{float:left;margin:6px 6px 0;}
	.btn_inquiry{float:left;margin-left:5px;}
}
.inputs_date.type02{z-index:30;
	.input_date{width:88px;color:#333;}
	.btn_calendar{background:url('../../images/pcweb/common/ico_calen02.gif') 0 0 no-repeat;}
	.tbl_calendar .chk_date{background:#aeaeae;}
}
.box_period04{height:76px;padding:14px 30px 24px 100px;border:2px solid #aeaeae;
	.scont{margin-top:10px;
		&:after{display:block;content:"";clear:both;}
		.stit{float:left;display:block;margin-left:-76px;margin-top:8px;padding:0 0 0 7px;background:url('../../images/pcweb/common/ico_dot01.gif') 0 50% no-repeat;color:#333;}
	}
	.set_grade_select02{float:left;margin:0 31px 0 0;
		.attr_grade > li{width:85px;
			a{line-height:26px;}
		}
	}
	.inputs_date{float:left;}
	.gap{float:left;margin:6px 18px 0;}
	.btn_inquiry{float:left;margin-left:18px;}
	.inputs_date select{width:auto;}
}

// 상세주문내역
.set_vbtn02 .txt_ord_state{display:block;margin-bottom:12px;color:#333;}
.flag_ship_num{position:relative;z-index:1;display:block;width:85px;height:19px;margin-bottom:-1px;background:#a40001;font-size:11px;color:#fff;line-height:19px;
	&.c02{background:#a40001;}
}
.box_excl01{border:1px solid #ddd;padding:20px 50px 30px 20px;}
.list_dl_excl01{
	dt{padding:0 0 13px 0;font-size:14px;font-weight:800;color:#333;
		.stit{padding-left:22px;margin-right:5px;background:url('../../images/pcweb/common/ico_excl_mark03.png') 0 0 no-repeat;vertical-align:middle;}
	}
	dd{margin:5px 0 0 5px;padding-left:15px;background:url('../../images/pcweb/common/ico_dot04.gif') 0 5px no-repeat;}
}
.box_ord_cancel{padding:30px 0 30px;border-bottom:1px solid #ddd;text-align:center;
	.stxt01{display:block;margin-bottom:13px;font-size:18px;line-height:1.25em;color:#bbb5a4;}
	.stxt02{display:block;}
	.set_btn{margin-top:30px;}
}
.list_detail_ord{
	&:after{display:block;content:'';clear:both;}
	.flag_ship_num{text-align:center;}
	.goods_imgs{position:relative;float:left;overflow:visible;width:85px;height:auto;border:none;
		a{display:block;border:1px solid #ddd;}
		img{width:83px;height:83px;}
	}
	.goods_info{display:block;padding-left:100px;
		.gift_info{display:block;margin-top:5px;font-size:13px;color:#666;}
	}
	&.no_img .goods_info{padding-left:0;}
}
.box_pay_info{padding:10px 0 17px 0;border-bottom:1px solid #ddd;background:url('../../images/pcweb/mypage/bg_pay_info.gif') 0 0 repeat-y;
	.l_cont,.r_cont{float:left;width:50%;}
	&:after{display:block;content:'';clear:both;}
}
.list_pay_info li{
	&:after{display:block;content:'';clear:both;}
	.th{float:left;width:150px;padding:7px 0 0 20px;color:#333;}
	.td{float:left;width:245px;padding:7px 20px 0 0;text-align:right;
		.tx_num{color:#333;}
		.bank_info01{display:block;color:#333;}
		.bank_info02{display:block;margin-top:4px;}
	}
}

// 취소/반품/교환 사유
.area_cte{display:none;margin-top:20px;
	li{padding-left:100px;margin-top:15px;
		&:first-child{margin-top:0;}
		&:after{display:block;content:'';clear:both;}
	}
	.ico_reply,.ico_reply02{display:block;float:left;width:86px;margin:7px 0 0 -100px;}
}
.ico_gap{display:block;float:left;width:86px;margin:7px 0 0 -100px;}
.area_cte{
	.ico_gap{padding-left:14px;font-weight:800;color:#333;}
	.chkbox{margin-left:7px;}
	.input_txt{width:350px;}
}

// 나의 문의/답변
.txt_msg01{position:absolute;top:0;right:0;margin:15px 0 12px 0;padding-left:15px;line-height:14px;text-align:right;display:table-cell;vertical-align:bottom;
	&:after{display:block;clear:both;content:'';}
	&.type02{margin-bottom:0;padding-bottom:15px;}
	.right{display:inline-block;margin-left:7px;}
}

.d_qnaTable.type02 .qna_cont{
	.qna_qns,.qna_ans{padding:20px 20px 35px;margin-bottom:-1px;}
	.qna_qns > img,.qna_ans > img{display:block;max-width:610px;margin:10px 0;}
}

.d_qna_cont{display:none;
	&.on{display:table-row;}
}

// 160920 공지사항 상세 패딩값 수정요청
.goods_imgs.size60{width:60px;height:60px;}

// 상품평
.goods_gs_area{padding-left:100px;display:block;}
.goofs_txt_grade{margin-top:8px;line-height:16px;padding-left:76px;vertical-align:top;
	.set_grade01{display:inline-block;vertical-align:top;margin-left:-76px;}
	> strong{display:inline-block;font-size:13px;font-weight:800;color:#333;overflow:hidden;height:14px;vertical-align:top;}
}
.my_r_cont .tab_type02 > ul{margin:30px 0;}

// 160926 찜목록 수정
.board02{
	.area_cancel td{border-top:none;text-align:left;padding-top:0;padding-bottom:0;}
	.bundle_ship{border-left:1px solid #ddd;border-right:1px solid #ddd;}
}
.tip_cancle_ship{margin-top:6px;
	dl:after{display:block;content:'';clear:both;}
	dt{float:left;width:30px;padding-top:3px;font-size:12px;}
	dd{width:55px;padding:3px 0 0 30px;font-size:12px;text-align:right;
		.tx_price{font-size:12px;}
	}
}
.box_cancel_all{margin-bottom:10px;padding:10px 10px 10px 22px;border:1px solid #ddd;
	&:after{display:block;content:'';clear:both;}
	.txt_info{margin-left:5px;}
	.area_cte{float:left;margin-top:0;}
	.r_btn{float:right;}
}

// 환불 방법 선택
.box_refund_sel{
	.s_tit{width:100%;padding:16px 0;background:#f3f3f3;color:#666;font-weight:800;border:1px solid #ddd;text-align:center;}
	.s_type{height:33px;padding-top:17px;border:1px solid #ddd;border-top:none;text-align:center;
		label{margin-left:15px;color:#333;font-weight:800;
			&:first-child{margin-left:0;}
		}
	}
	.list_dot02{padding:17px 0 13px 15px;border:1px solid #ddd;border-top:none;}
	.box_rs{padding:10px 0;border:1px solid #ddd;border-top:none;}
	.rs_txt{text-align:center;
		.btn03{margin-left:15px;}
	}
	.list_rs{width:362px;margin:0 auto;padding:10px 0;
		ul{margin-bottom:10px;}
		li{margin-top:5px;padding:0 84px 0 68px;
			&:first-child{margin-top:0;}
			&:after{display:block;content:'';clear:both;}
		}
		.rs_tit{float:left;display:block;width:68px;margin:6px 0 0 -68px;}
		.rs_cont{position:relative;}
		.rs_btn{position:absolute;top:0;right:0;margin-right:-86px;}
	}
}

// 반품 배송비 결제 선택
.box_takeback_sel{
	.s_tit{width:100%;padding:16px 0;background:#f3f3f3;border:1px solid #ddd;color:#666;font-weight:800;text-align:center;}
	.s_type{height:33px;padding-top:17px;border:1px solid #ddd;border-top:none;text-align:center;
		label{margin-left:15px;color:#333;font-weight:800;
			&:first-child{margin-left:0;}
		}
	}
	.list_dot02{padding:17px 0 13px 15px;border:1px solid #ddd;border-top:none;}
	.box_tb{padding:20px 0;border:1px solid #ddd;border-top:none;text-align:center;
		&:after{display:block;content:'';clear:both;}
		.l_scont{display:inline-block;vertical-align:top;}
		.r_scont{display:inline-block;margin-left:20px;text-align:left;
			.btn_confirm{vertical-align:middle;
				span{min-width:inherit;width:35px;}
			}
			.tb_cont_case{select{width:310px;}
				.s_txt01{display:inline-block;
					&.type02{margin-top:6px;}
				}
			}
		}
		.list_tb{
			li{display:inline-block;
				&:first-child{margin-left:0;}
			}
			button{display:block;width:113px;height:28px;border:1px solid #ccc;background:#fff;color:#333;text-align:center;}
		}
		.s_txt01 button{margin-left:3px;}
		.list_tb li.on button{border:1px solid #333;background:#333;color:#fff;}
	}
}

// 반품 배송비
.box_takeback{margin-top:60px;
	.tit_h3_01{margin-bottom:9px;}
	.cont{padding-left:14px;}
	.s_list{margin-top:10px;
		&:after{display:block;content:'';clear:both;}
		.s_tit{float:left;width:73px;margin-top:6px;}
	}
	.total_wrap{margin-top:15px;}
}

// 교환 배송비
.exchg_btns{margin-left:10px;}

// 교환 배송비 선택
.box_exchg_sel{border-top:1px solid #ddd;
	.s_tit{width:100%;padding:16px 0;background:#bbb5a4;color:#fff;font-weight:800;text-align:center;}
	.s_type{height:33px;padding-top:17px;border:1px solid #ddd;border-top:none;text-align:center;
		label{margin-left:15px;color:#333;font-weight:800;
			&:first-child{margin-left:0;}
		}
	}
	.list_dot02{padding:17px 0 13px 15px;border:1px solid #ddd;border-top:none;}
	.box_ex{padding:20px 0;border:1px solid #ddd;border-top:none;text-align:center;
		&:after{display:block;content:'';clear:both;}
		.l_scont{display:inline-block;vertical-align:top;}
		.r_scont{display:inline-block;margin-left:20px;text-align:left;
			.btn_confirm{vertical-align:middle;
				span{min-width:inherit;width:35px;}
			}
			.tb_cont_case{
				select{width:310px;}
				.s_txt01{display:inline-block;
					&.type02{margin-top:6px;}
				}
			}
		}
		.list_tb{
			li{display:inline-block;
				&:first-child{margin-left:0;}
			}
			button{display:block;width:113px;height:28px;border:1px solid #ccc;background:#fff;color:#333;text-align:center;}
		}
		.s_txt01 button{margin-left:3px;}
		.list_tb li.on button{border:1px solid #333;background:#333;color:#fff;}
	}
}
.tit_exchg_chk{float:left;margin-top:-30px;padding-left:110px;}

// 현금 영수증 레이어팝업
.cash_receipt{
	.cr_info{color:#333;}
	.cr_info02{padding:18px 0;border-bottom:1px solid #ddd;text-align:center;}
	.parts{display:inline-block;margin-top:20px;
		.card_inputs,.phone_inputs{width:56%;}
	}
	.box_cr{text-align:center;}
}

// 예치금 반환 레이어팝업
.box_balance .data_table01{
	.input_txt,select{width:172px;}
}
.row_txt_info{margin-top:8px;}

// 배송지 관리
.ship_adr{padding:10px 45px 10px 0;
	li{padding-left:77px;margin-top:16px;
		&:first-child{margin-top:0;}
		em{display:block;float:left;width:70px;margin-left:-77px;}
	}
}

// 환불 계좌 관리
.box_account_refund{display:table;width:100%;height:220px;border-bottom:1px solid #ddd;
	.cont{display:table-cell;vertical-align:middle;text-align:center;
		.txt01{font-size:18px;}
	}
}

// 주문정보 수신 설정
.box_bd01{padding:0 20px;border:2px solid #aeaeae;
	.top{padding:10px 0;border-bottom:1px solid #ddd;text-align:center;}
	.btm{padding:24px 0;}
	.top .msg_rec_txt{display:inline-block;height:28px;padding:14px 0 0 53px;background:url('../../images/pcweb/common/ico_msg.png') 0 0 no-repeat;font-weight:800;color:#333;}
	.btm .msg_rec_list{text-align:center;
		li{display:inline-block;margin-left:40px;
			label{font-weight:800;color:#333;}
			&:first-child{margin-left:0;}
		}
	}
}

// common
.list_rdo01 li{float:left;margin-left:56px;
	&:first-child{margin-left:0;}
	label{color:#333;font-weight:800;}
}

// 개인정보 수정
.box_bd01 .top .msg_rec_txt.lock{height:40px;padding:10px 0 0px 53px;background:url('../../images/pcweb/common/ico_lock.png') 0 5px no-repeat;}
.tbl_privacy{margin:0 0 0 166px;
	th,td{text-align:left;padding:5px;}
	th{color:#000;padding-left:10px;}
}

// 나의 찜 목록
.my_del_chks{display:block;margin-top:10px;text-align:center;color:#333;
	.my_del_chks_btn{display:inline-block!important;width:auto;margin-left:6px;}
}
.mp_list{border-top:1px solid #adadad;border-bottom:1px solid #ddd;}

// 나의 찜 목록 - 브랜드
.mp_list_brand{padding-top:10px;padding-bottom:20px;border-top:1px solid #adadad;border-bottom:1px solid #ddd;
	ul{margin:0 -2px;*zoom:1;
		&:after{display:block;clear:both;content:"";}
	}
	li{margin-top:20px;margin-left:5px;width:169px;height:146px;float:left;
		> a{position:relative;display:block;padding:30px 27px 20px 27px;height:72px;}
		a{
			img{display:block;width:114px;height:40px;}
			span{display:block;overflow:hidden;height:18px;margin-top:10px;color:#999;text-align:center;white-space:nowrap;text-overflow:ellipsis;}
		}
		.mp_brand_soldout{position:absolute;left:0;top:0;right:0;bottom:0;background:url('../../images/pcweb/mypage/bg_thumb_soldout.png') 0 0 no-repeat;
			span{display:table-cell;width:169px;height:122px;text-align:center;vertical-align:middle;font-size:12px;line-height:20px;font-weight:800;background:url('../../images/pcweb/mypage/bg_mp_list_brand_soldout_in.png') center center no-repeat;}
		}
	}
}

// 나의 찜 목록 - 카테고리 & 브랜드
.mp_cate_sel{border-top:1px solid #adadad;border-bottom:1px solid #ddd;background:url('../../images/pcweb/mypage/bg_cate_line.gif') center 0 repeat-y;
	ul{padding:20px 0;margin-left:-10px;*zoom:1;
		&:after{display:block;clear:both;content:"";}
		li{position:relative;margin:8px 0;float:left;width:50%;
			.chkbox{margin-left:20px;}
			.mp_cate_links{display:inline-block;margin:0 8px 0 20px;padding-bottom:1px;border-bottom:1px solid #fff;color:#333;
				span{display:inline-block;padding-left:13px;margin-left:10px;background:url('../../images/pcweb/common/ico_arrow17.gif') 0 center no-repeat;
					&:first-child{padding-left:0;margin-left:0;background:none;}
				}
				&:hover{border-bottom:1px solid #333;font-weight:800;}
			}
			.mp_cate_del{position:relative;z-index:1;display:inline-block;width:18px;height:18px;vertical-align:middle;background:url('../../images/pcweb/mypage/ico_mp_delete.gif') center center no-repeat;text-indent:-9999px;}
			.txt_dim{margin:0 3px 0 -3px;font-size:11px;}
			.dim{display:block;position:absolute;top:0;left:0;right:0;bottom:-3px;background:#fff;opacity:0.4;filter:alpha(opacity = 40);}
		}
	}
}

// 나의 찜 목록 - 검색어
.my_r_cont .right{top:0;bottom:inherit;
	.btn03{margin-top:-5px;}
}
.mp_hash_box{border-bottom:1px solid #ddd;*zoom:1;
	&:after{display:block;clear:both;content:"";}
	.right .btn03{margin-top:-4px;}
	.mp_cate_sel{border-top:none;background:none;
		ul{float:left;width:50%;
			li{float:inherit;width:100%;
				.mp_cate_links span{max-width:110px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;}
			}
		}
	}
	&.other .mp_cate_sel ul li .mp_cate_links span{max-width:180px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;}
}

// 나의 찜 목록 - 기획전
.list_thumb_txt01.mp_list{
	ul{margin:0 -17px;padding-top:10px;padding-bottom:20px;border-bottom:1px solid #ddd;border-bottom:none;}
	li{height:390px;margin:20px 16px 0;border:none;
		a{position:relative;height:auto;}
		.cont{border:1px solid #eaeaea;border-top:none;}
		.mp_thumb_soldout{overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;background:url('../../images/pcweb/mypage/bg_thumb_soldout.png') 0 0 no-repeat;
			span{display:block;width:269px;height:110px;margin-top:50px;padding-top:50px;text-align:center;vertical-align:middle;line-height:18px;font-weight:800;font-size:14px;color:#333;background:url('../../images/pcweb/mypage/bg_thumb_soldout_in.png') center top no-repeat;}
			+ .thumb{height:260px;}
		}
	}
}

// 나의 찜 목록 - MIX & MATCH
.list_mix.mp_list{padding-bottom:30px;
	ul{margin:0 -15px;}
	li{width:270px;height:305px;background:none;margin:30px 15px 0;}
	&.type02 li{height:295px;}
	li{
		a{position:relative;display:block;}
		.mp_thumb_soldout{overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;z-index:4;background:url('../../images/pcweb/mypage/bg_thumb_soldout.png') 0 0 no-repeat;
			span{display:table-cell;width:270px;height:272px;text-align:center;vertical-align:middle;line-height:18px;font-weight:800;font-size:14px;color:#333;background:url('../../images/pcweb/mypage/bg_thumb_soldout_in.png') center center no-repeat;}
		}
	}
	.mix_box{width:auto;height:270px;
		.thumb_img2{margin-top:0;}
	}
	span img{width:120px;height:120px;}
}

// 구 주문조회 - 상세내역
.my_old_info01{margin-bottom:10px;*zoom:1;
	&:after{display:block;clear:both;content:"";}
	li{float:left;margin-right:40px;padding-left:22px;background:url('../../images/pcweb/common/ico_dot02.gif') 15px center no-repeat;color:#333;
		a.links{position:relative;font-weight:800;color:#333;border-bottom:2px solid #333;
			&:after{display:block;position:absolute;right:-15px;top:0px;width:3px;height:16px;background:url('../../images/pcweb/mypage/bg_arrow_myold.gif') center center no-repeat;content:"";}
		}
	}
}
.h3_old_tit{font-size:13px;padding-left:22px;background:url('../../images/pcweb/common/ico_dot02.gif') 15px center no-repeat;color:#333;}
.board02 .bg_visit{padding:0 15px;border-top:none;background:#f3f3f3;text-align:left;
	li{margin:8px 0 8px 114px;
		&:after{display:block;content:'';clear:both;}
		em{display:block;float:left;width:96px;margin:7px 0 0 -114px;padding-left:18px;background:url('../../images/pcweb/common/ico_reply.png') 0 4px no-repeat;font-weight:800;color:#333;}
		.day{display:inline-block;margin:7px 0 0;}
	}
}

// 찜하기 레이어 팝업
.layer_pop .my_confirm{text-align:center;
	strong{display:inline-block;margin-bottom:16px;padding-left:22px;font-family:Verdana,'Nanum Gothic',dotum;font-size:16px;color:#333;font-weight:800;background:url('../../images/pcweb/mypage/ico_my_confirm.png') 0 center no-repeat;}
	p{color:#333;}
}

// 배송조회 레이어
.box_ship_info{padding-top:20px;
	.bs_info{margin-top:20px;padding-left:11px;}
	.bs_tit{margin:0 0 10px 10px;font-size:14px;color:#333;font-weight:800;}
}

// 쿠폰조회 160909 추가
.cp_group_my{margin:0 auto;width:130px;height:70px;background:url(../../images/pcweb/mypage/bg_cp_group.jpg) no-repeat;
	.cp_info01{position:relative;padding:0 0 0 19px;
		.for_app{position:absolute;top:-11px;right:-22px;width:46px;height:46px;background:url('../../images/pcweb/shop/benefit_set.png') -55px -250px no-repeat;cursor:pointer;}
		.cp_tit{margin:0 8px;padding:16px 0 0;font-size:12px;}
		.cp_con{margin:0 8px;font-size:22px;line-height:30px;
			span{font-size:12px;line-height:30px;margin-left:2px;
				&.txt_en{font-size:14px;line-height:30px;}
			}
		}
	}
}
.layer_pop .cp_info{padding:45px 0;color:#666;font-size:14px;font-weight:600;text-align:center;border-bottom:1px solid #ddd;}

// 160919 쿠폰조회 제외대상보기 툴팁으로 변경
.cp_except{
	.ico_tooltip{width:auto;height:auto;padding:0 7px 1px 0;border-bottom:1px solid #333;background:url('../../images/pcweb/common/ico_arrow14.png') 100% 5px no-repeat;color:#333;font-weight:400;text-indent:inherit;font-size:12px;}
	.tip_info{top:20px;left:-100px;}
}

// 160928 쿠폰등록 추가
.tip_info.coupon_regi{top:23px;left:-380px;width:336px;padding:0 20px 30px;border:2px solid #333;text-align:left;
	&:after{display:none;}
	.tip_close{position:absolute;top:18px;right:20px;width:15px;height:15px;background:url(../../images/pcweb/common/btn_laypop_close.gif) no-repeat;}
	.regi_box{position:relative;padding:0 67px 0 0;
		.input_txt{width:100%;height:33px;line-height:33px;}
		.btn_coupon{position:absolute;top:0;right:0;width:67px;height:33px;line-height:33px;color:#fff;font-size:13px;font-weight:800;text-align:center;background:#333;}
	}
	.bs_info{padding:0;}
}
.txt_msg01 .btn05.d_tooltip{width:95px;margin-right:-10px;}

// brand - bahus
.d_tooltip.bahus_furn span{color:#666;font-weight:400;}

// 복지몰 전화 번호 추가 2017.08.25
.btn_customer_center{
	.cc_top{padding:53px 0 0;height:82px;text-align:center;background:#adadad url(../../images/pcweb/common/img_customer_center02.png) center 14px no-repeat;
		strong{display:block;font-size:16px;color:#fff;line-height:35px;font-weight:800;}
		.info{color:#fff;line-height:1.2em;}
	}
	.cc_cont2 .cs_call{
		.name{display:block;padding-top:20px;font-size:15px;color:#232323;font-weight:bold;}
		&.kims .name,&.wf_cs .name{border-top:1px dashed #c6c6c6;}
		.tel{display:block;margin-top:3px;padding-bottom:17px;font-size:15px;color:#232323;font-weight:bold;font-family:"Verdana","Nanum Gothic",sans-serif;letter-spacing:-1px;}
	}
}

// 2017.08.28 소멸예정포인트 추가
.set_my_info .sbox_price{display:block;
	+ .sbox_price{margin-top:12px;}
	.stit{display:block;font-size:13px;color:#666;
		&.long_txt{letter-spacing:-0.05em;}
	}
}

// 2017.08.31 임시 공지사항
.noti_em{margin:15px 0 -30px;
	&:after{display:block;content:"";clear:both;}
	.tit{float:left;width:65px;margin-right:23px;font-size:13px;font-weight:bold;color:#333;}
	span{float:left;width:777px;}
}


.app_cpn_info{position:absolute;right:0;top:-43px;height:31px;margin:0;padding:0 0 0 35px;line-height:31px;letter-spacing:-0.05em;color:#242424;
	.ico{position:absolute;left:0;top:0;width:31px;height:31px;font-size:0;text-indent:-9999em;background:url("../../images/pcweb/shop/benefit_set.png") no-repeat 0 -390px;}
}
.list_dl01 dd.app_cpn_info{position:relative;top:0;right:0;margin:0 0 7px;padding-left:33px;color:#242424;font-weight:bold;background:none;}


//재입고 알림
.list_detail_ord.reware{position:relative;
	.date{position:absolute;bottom:7px;left:104px;min-height:17px;padding:0 0 0 22px;letter-spacing:-0.05em;
		&:before{position:absolute;left:0;right:0;width:17px;height:17px;background:url("../../images/pcweb/mypage/ico_clock.png") no-repeat;content:"";}
		em{color:#ff7112;}
	}
}

//배송현황 레이어   common.scss - layerpop.inquiry
.inquiry{
	.title{margin:50px 0 8px;
		.dlv_tit{padding-left:17px;color:$black_tx;font-weight:bold;line-height:13px;background: url(../../images/pcweb/common/ico_dot01.gif) 10px 7px no-repeat;}
	}
	.dlv_process{letter-spacing:-0.05em;
		+.title{margin-top:40px;}
		ol{padding:0 21px 0 20px;
			&:after{display:block;clear:both;content:"";}
			li{float:left;position:relative;width:83px;height:118px;color:$gray_tx;
				&+li{margin-left:48px;
					&:before{position:absolute;left:-49px;top:41px;width:50px;height:1px;background:#c8c8c8;content:"";}
				}
				.txt{position:absolute;left:0;bottom:0;width:100%;height:auto;text-align:center;color:inherit;font-weight:inherit;}
				.ico{display:block;width:83px;height:83px;background:url("../../images/pcweb/mypage/set_dlv.png") no-repeat;}
				&.pr1 .ico{background-position:0 0;}
				&.pr2 .ico{background-position:-131px 0;}
				&.pr3 .ico{background-position:-266px 0;}
				&.pr4 .ico{background-position:-400px 0;}
				&.pr5 .ico{background-position:-532px 0;}
				&.inpro{color:$point_color_txt;font-weight:bold;
					&:before{background:$point_color_bg;}
					.ico{background-position-y:-171px}
				}
				&.fin{color:#242424;
					&:before{background:$point_color_bg;}
					.ico{background-position-y:-335px}
				}
			}
		}
		.pr_drct{position:relative;height:141px;;color:#242424;font-weight:bold;
			.ico{display:block;width:112px;height:111px;margin:0 auto;background:url("../../images/pcweb/mypage/set_dlv.png") right top no-repeat;}
			.txt{position:absolute;left:0;bottom:0;width:100%;height:auto;text-align:center;color:inherit;font-weight:inherit;
				em{color:$point_color_txt;}
			}
		}
	}
	.data_table01{margin-top:0;
		th,td{padding:14px 13px 13px 20px;}
	}
	table{
		th,td{height:auto;padding:14px 0 13px;line-height:13px;letter-spacing:-0.05em;}
		th{font-weight:bold;}
		td{padding:21px 0;
			&.only_msg{padding:29px 52px 28px;text-align:center;line-height:16px;color:$black_tx;border-top: 1px solid #adadad;
				.fst_dlv{color:$basic_tx;line-height:17px;
					.tit_tx{display:block;font-size:15px;font-weight:bold;color:$black_tx;
						em{color:$point_color_txt;}
					}
					.mst{display:block;margin-bottom:21px;font-size:15px;color:$black_tx;
					}
					.go_counsel{display:inline-block;border-bottom:1px solid $basic_tx;}
				}
			}
		}
	}
	.list_dot02{padding:12px 0 0 10px;letter-spacing:-0.05em;
		li+li{margin-top:8px;}
	}
	.set_btn{margin-top:28px;}
	.tel{display:inline-block;
		em{display:inline-block;border-bottom:1px solid #949494;}
		.ico{display:inline-block;width:12px;height:12px;vertical-align:middle;background:url("../../images/pcweb/mypage/set_dlv.png") right bottom no-repeat;}
	}
	.trck_num{display:inline-block;border-bottom:1px solid #949494;}
}


// 선물하기 2018-11-21
.gift_stat{display:block;height:12px;margin:10px 0 0;text-align:center;font-size:12px;color:$gray_tx;line-height:12px;
	&.fin{color:$point_color_txt;}
 }

// 배송 업체
.dlv_comp{padding:0 0 010px;color:$basic_tx;font-size:12px;line-height:1.2em;
	span{display:inline-block;}
}


//나의 찜 목록 폴더링
.wish_folders{position:relative;margin-bottom:20px;padding:14px 20px 21px;border:2px solid #000;
	&:after{display:block;clear:both;content:"";}
	.modi{position:absolute;top:14px;right:20px;
		span{
			&:after{display:inline-block;width:5px;height:7px;margin-left:5px;background:url("../../images/pcweb/common/ico_arrow33.png") no-repeat;content:"";}
		}
	}
	.basic{display:block;height:35px;padding-left:6px;border-bottom:1px solid #ddd;font-size:14px;font-weight:bold;color:$black_tx;line-height:30px;letter-spacing:-0.05em;}
	ul{margin:8px 0 0 6px;
		li{float:left;width:20%;line-height:26px;letter-spacing:-0.05em;
			&.on{
				a{display:inline-block;height:21px;border-bottom:1px solid #666;}
			}
		}
	}
}

// 찜 폴더 레이어
.folder_list{margin-top:26px;
	.add_folder{}
	ul{height:270px;margin-top:10px;border-top:1px solid #adadad;overflow-y:scroll;
		li{position:relative;height:40px;line-height:40px;border-bottom:1px solid #ddd;
			&.basic{color:$black_tx;font-weight:bold;}
			.folder_name{padding-left:12px;}
			.folder_input{width:182px;height:26px;padding:0 11px;vertical-align:0;border:1px solid #cacaca;-webkit-appearance:none;}
			.btn_set{position:absolute;top:6px;right:10px;
				button{width:67px;padding:0;
					span{padding:0;}
				}
			}
		}
	}
}

.folder_move{line-height:31px;
	select{width:172px;}
	button{width:67px;margin-left:9px;padding:0;
		span{padding:0;}
	}
}

//상품평 등록 레이어 안내
.rv_lyr_info{padding-bottom:29px;
	dt{
		&:first-child{margin-top:28px;}
	}
	dd{margin-left:7px;}
}
// 상품평 등록 - 추천
.inp_rev{
	margin-bottom:8px;color:#333;font-weight:bold;
}


// 찜 폴더 renewal 알림 텍스트 문구
.txt_alert_renewal{overflow:hidden;margin:-19px 0 22px;padding-left:11px;text-align:right;}


// 주문조회 -사은품 노출
.gift_box{position:relative;padding-left:95px;
	.ico_reply{position:absolute;left:0;top:auto;}
	.gift_name{color:#666;}
	.stat{display:line-block;color:#333;font-weight:bold;}
}

// 재고 부족
.out_stock{display:block;margin:0 -2px;letter-spacing:-0.05em;}