@charset "utf-8";
#header{
	.tour{position:relative;width:886px;height:50px;margin:0 auto;padding:126px 0 0;border-bottom:1px solid #000;
		h1{height:26px;padding:12px 0;}
		.quick_util{position:absolute;right:0;bottom:14px;
			ul{
				&:after{display:block;clear:both;content:"";}
				li{float:left;
					&+li{margin-left:5px;}
					a{display:block;height:24px;padding:0 16px;line-height:24px;font-size:12px;color:#666;border:1px solid #cfcfcf;}
				}
			}
		}
	}
}

.login_area .box_login01{margin-top:38px;}
.tit_dp{margin-top:-4px;}