@charset "utf-8";
.step{position:relative;padding-top:62px;
	&.first{padding-top:49px;}
	h3{margin:0 0 31px 3px;}
	button.confirm{position:absolute;top:50px;right:32px;width:316px;height:80px;text-indent:-999em;background:url("../../images/pcweb/town/btn_confirm.png") no-repeat 0 0;}
}
.upload_box{width:100%;height:119px;border-bottom:1px dashed #9b9b9b;background:#efefef;
	&:after{display:block;clear:both;content:"";}
	label{float:left;width:372px;height:119px;padding-right:10px;text-align:right;line-height:100px;color:#333;font-size:18px;letter-spacing:-0.05em;
		&:before{display:inline-block;width:25px;height:25px;margin-right:5px;background:url("../../images/pcweb/town/icon_img.png") no-repeat 0 0;vertical-align:middle;content:"";}
	}
	.form_box{position:relative;float:left;width:495px;height:94px;padding-top:25px;
		&:after{display:block;clear:both;content:"";}
		.inp_file{position:absolute;left:-999em;top:-999em;
			&::after{display:block;clear:both;content:"";}
		}
		.inp_txt{float:left;width:305px;height:43px;padding:0 35px 0  12px;color:#9b9b9b;font-size:13px;letter-spacing:-0.05em;line-height:44px;border:solid #c4c4c4;border-width:1px 0 1px 1px;background:#fff;}
		.find_img{float:left;width:142px;height:45px;color:#fff;font-size:16px;font-weight:bold;letter-spacing:-0.05em;background:#ad8c79;}
		.img_clear{display:none;position:absolute;left:322px;top:39px;width:19px;height:19px;text-indent:-999em;background:url("../../images/pcweb/town/cancel.png") no-repeat 0 0;}
		.caution{float:left;width:100%;margin-top:12px;color:#9b9b9b;font-size:13px;letter-spacing:-0.05em;clear:both;}
	}
}
.caution_box{position:relative;min-height:255px;padding:220px 0 0 449px;border-bottom:1px dashed #9b9b9b;
	h4{margin-bottom:20px;}
	ul li{line-height:25px;font-size:16px;color:#3e3e3e;}
	.sample_img{position:absolute;top:40px;left:70px;}
}