@import "color";

// 상품권 이용 가이드
.box_e_gift{
	&:after{display:block;content:'';clear:both;}
	dt{float:left;width:180px;margin-top:40px;}
	dd{float:right;width:830px;margin-top:40px;}
}

// 복지몰
.box_promotion_bnr03_area{position:relative;width:650px;height:390px;}

// main promotion banner buttons
.box_promotion_bnr03{padding-right:40px;overflow:hidden;
	.bp_btns{position:absolute;top:0;left:0;width:0;height:0;z-index:2;
		a{
			&.bp_bt_stop,&.bp_bt_auto{display:none;position:absolute;left:608px;top:349px;width:40px;height:40px;border:1px solid #ddd;border-top:none;text-indent:-9999px;}
			&.bp_bt_stop{background:#fff url('../../images/pcweb/common/ico_bill_stop.png') center center no-repeat;}
			&.bp_bt_auto{background:#fff url('../../images/pcweb/common/ico_bill_auto.png') center center no-repeat;}
			&.bp_bt_stop.on,&.bp_bt_auto.on{display:block;}
			&.bp_bt_prev,&.bp_bt_next{position:absolute;top:154px;width:40px;height:80px;text-indent:-9999px;}
			&.bp_bt_prev{left:0px;background:url('../../images/pcweb/goods/bg_dt_ve_btn01.png') 0 0 no-repeat;
				&:hover{background-position:-40px 0;}
			}
			&.bp_bt_next{left:610px;background:url('../../images/pcweb/goods/bg_dt_ve_btn01.png') 0 -80px no-repeat;
				&:hover{background-position:-40px -80px;}
			}
		}
	}
	.depth_tit{margin-top:-49px;display:block;position:relative;padding:0 6px;background:url('../../images/pcweb/main/bg_main_bp_tab.png') right 0 repeat-x;z-index:2;text-align:center;
		span{display:block;overflow:hidden;font-size:14px;height:41px;color:#333;line-height:41px;white-space:nowrap;text-overflow:ellipsis;}
	}
	.depth1.active .depth_tit:before{display:none;position:absolute;left:50%;top:-12px;margin-left:-8px;width:16px;height:7px;background:url('../../images/pcweb/main/bg_depth_tail01.png') center center no-repeat;content:"";}
	.bp_cont{padding-top:398px;}
	.bp_list{*zoom:1;
		&.menu03 .depth1{width:203px;}
		&.menu04 .depth1{width:152px;
			&:first-child{width:154px;}
		}
		&.menu05 .depth1{width:122px;
			&:first-child{width:122px;}
		}
		.depth1{
			&:first-child .depth_tit{border-left:1px solid #ddd;}
			&.depth1_last .depth_tit{background-position:left 0;}
		}
		&:after{display:block;clear:both;content:"";}
	}
	.depth2{display:none;margin-top:-70px;width:100%;text-align:center;
		ol{text-align:center;font-size:0;line-height:0;}
		li{display:inline-block;
			a.links{position:relative;display:inline-block;width:12px;height:20px;background:url('../../images/pcweb/main/ico_bn_indi_off.png') 0 0 no-repeat;text-indent:-9999px;z-index:1;}
			&.on a.links{background:url('../../images/pcweb/main/ico_bn_indi_on.png') 0 0 no-repeat;}
			&:first-child a.links:before{position:absolute;left:-10px;top:0;display:block;width:10px;height:20px;background:url('../../images/pcweb/main/bg_depth_tail02.png') center center no-repeat;content:"";z-index:1;}
			&.depth2_last a.links:after{position:absolute;right:-10px;top:0;display:block;width:10px;height:20px;background:url('../../images/pcweb/main/bg_depth_tail03.png') center center no-repeat;content:"";z-index:1;}
		}
	}
	.bp_scont{display:none;position:absolute;left:0;top:0;z-index:0;}
	.depth2 .bp_scont a img{display:block;width:650px;height:390px;}
	.bp_list{
		.lis.on .bp_scont{display:block;}
		.depth1{float:left;height:40px;
			&.active{
				.depth_tit{background-image:url('../../images/pcweb/main/bg_main_bp_tab_on.png');
					span{font-weight:800;color:#fff;}
				}
				.depth2,.depth_tit:before{display:block;}
			}
			&.no_depth{
				> .depth_tit:before{display:none;}
				.links{visibility:hidden;}
			}
		}
	}
}

// 켄싱턴 둘러보기
.wf_viewer{border:5px solid #dedede;
	.wf_ve_title{display:block;padding-left:10px;padding-bottom:12px;font-size:18px;color:#333;font-weight:800;}
	.wf_ve_contents{padding:20px;*zoom:1;
		&:after{display:block;clear:both;content:"";}
	}
}
.wf_ve_wideview{float:left;position:relative;width:910px;height:540px;margin-right:20px;
	.wf_ve_ct_img{display:block;margin:0 auto;width:910px;height:540px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
}
.wf_ve_thumnail{overflow:hidden;position:relative;float:left;width:100px;height:540px;}
.wf_tn_prev{position:absolute;display:none;width:98px;height:18px;top:0;left:0;border:1px solid #ddd;background:#fff url('../../images/pcweb/wf/ico_detail_topbtn.png') center center no-repeat;text-indent:-9999px;z-index:4;
	&:hover{border:1px solid #adadad;background:#fff url('../../images/pcweb/wf/ico_detail_topbtn_on.png') center center no-repeat;}
}
.wf_tn_next{display:none;position:absolute;width:98px;height:18px;bottom:0;left:0;border:1px solid #ddd;background:#fff url('../../images/pcweb/wf/ico_detail_bottombtn.png') center center no-repeat;text-indent:-9999px;z-index:4;
	&:hover{border:1px solid #adadad;background:#fff url('../../images/pcweb/wf/ico_detail_bottombtn_on.png') center center no-repeat;}
}
.wf_tn_prev.on,.wf_tn_next.on{display:block;}
.wf_tn_list{position:relative;overflow:hidden;margin-top:20px;height:600px;
	ul{position:absolute;top:0;left:0;}
	li{width:100px;margin-top:10px;
		a{display:block;}
		&.on a{position:relative;
			&:after{position:absolute;left:0;top:0;width:96px;height:56px;border:2px solid #242424;content:"";}
		}
		img{display:block;width:100px;height:60px;}
	}
}
.cst_tab{margin-top:60px;margin-left:250px;
	ul{*zoom:1;
		&:after{display:block;clear:both;content:"";}
		li{float:left;width:260px;margin-left:20px;
			&:first-child{margin-left:0;}
			a{display:block;border:2px solid #ccc;height:46px;
				span{display:block;margin:0 14px;font-size:15px;color:#666;line-height:46px;background:url('../../images/pcweb/wf/ico_wf_tabarrow.png') right center no-repeat;text-align:left;font-weight:800;}
				&.on{border:2px solid $point_color_bg;
					span{color:$point_color_txt;background:url('../../images/pcweb/wf/ico_wf_tabarrow_on.png') right center no-repeat;}
				}
			}
		}
	}
}
.d_cst_tab_cont{display:none;
	&.on{display:block;}
}

// 켄싱턴 스카일 가이드
.box_cst{
	&:after{display:block;content:'';clear:both;}
	dt{float:left;width:180px;margin-top:60px;}
	dd{float:right;width:830px;margin-top:60px;}
}
.wf_info{margin-top:40px;padding:30px 50px;background:#f3f3f3;*zoom:1;
	&:after{display:block;clear:both;content:"";}
	dt{display:block;float:left;margin-top:8px;width:280px;height:26px;padding-left:50px;background:url('../../images/pcweb/wf/bg_wf_info.png') 0 center no-repeat;font-weight:800;font-size:16px;line-height:26px;color:#333;}
	dd{display:block;float:left;width:650px;
		ul{margin-top:-4px;
			li{margin-top:4px;padding-left:6px;background:url('../../images/pcweb/wf/ico_wf_info.gif') 0 center no-repeat;font-size:14px;line-height:18px;color:#333;}
		}
	}
}
.box_donation_bnr{position:relative;margin-bottom:40px;
	a{position:absolute;bottom:17px;left:31px;overflow:hidden;width:321px;height:55px;
		span{display:block;text-indent:-9999px;}
	}
}
.d_collect_suc{
	.collect_suc{overflow:hidden;position:absolute;top:0;left:0;z-index:1000;width:212px;height:212px;background:url('../../images/pcweb/wf/bg_collect_suc01.png') no-repeat center center;text-indent:-9999px;}
	.box_opt_link{display:none;}
}
.list_product02 .d_collect_suc{
	.collect_suc{width:150px;height:150px;top:0;left:0;background:url('../../images/pcweb/wf/bg_collect_suc02.png') no-repeat 0 0;}
	.set_vbtn{display:none;}
}

// IE8
@media \0screen{
	.list_product02 .d_collect_suc .collect_suc{top:2px;}
}